Repository trailhead-diy/trailhead: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, oxlint, typecheck, docs-validate, build-affected

Path conditions:
  prettier: any of: **/*.{ts,tsx,js,jsx,json,md}
  oxlint: any of: packages/**/*.{ts,tsx,js,jsx}
  typecheck: any of: **/*.{ts,tsx}
  docs-validate: any of: {docs,packages/**/docs}/**/*.md
  build-affected: any of: **/*.{ts,tsx,js,jsx,json}

docs: enhance shortcut descriptions for gcwm, gbcp, and gpr
  CLAUDE.md
Due: none

docs: enhance shortcut descriptions for gcwm, gbcp, and gpr (#106)
  CLAUDE.md
Due: none

feat(build): standardize build tools and configuration across monorepo
  packages/cli/package.json
  packages/cli/tsconfig.json
  packages/create-trailhead-cli/package.json
  packages/create-trailhead-cli/tsconfig.json
  packages/web-ui/package.json
  packages/web-ui/tsconfig.json
  packages/web-ui/tsup.config.ts
  pnpm-lock.yaml
  turbo.json
Due: prettier, oxlint, typecheck, build-affected

feat(build): standardize build tools and configuration across monorepo (#107)
  packages/cli/package.json
  packages/cli/tsconfig.json
  packages/create-trailhead-cli/package.json
  packages/create-trailhead-cli/tsconfig.json
  packages/web-ui/package.json
  packages/web-ui/tsconfig.json
  packages/web-ui/tsup.config.ts
  pnpm-lock.yaml
  turbo.json
Due: prettier, oxlint, typecheck, build-affected

docs(cli): add comprehensive framework enhancement roadmap
  packages/cli/docs/future-enhancements.md
Due: prettier

docs(cli): add comprehensive framework enhancement roadmap (#111)
  packages/cli/docs/future-enhancements.md
Due: prettier

docs(cli): add comprehensive framework enhancement roadmap (#111)
  packages/cli/README.md
  packages/cli/docs/future-enhancements.md
  packages/cli/docs/tutorials/csv-hell.md
Due: prettier, docs-validate

docs(cli): add comprehensive framework enhancement roadmap (#111) (#118)
  packages/cli/README.md
  packages/cli/docs/tutorials/csv-hell.md
Due: prettier, docs-validate

feat(core): implement flow control and error handling utilities
  packages/cli/docs/flow-control-error-handling.md
  packages/cli/src/core/error-templates.test.ts
  packages/cli/src/core/error-templates.ts
  packages/cli/src/core/index.ts
  packages/cli/src/core/pipeline.test.ts
  packages/cli/src/core/pipeline.ts
Due: prettier, oxlint, typecheck, build-affected

refactor: streamline lefthook logging to reduce verbosity
  lefthook.yml
  scripts/smart-test-runner.sh
Due: none

refactor(command): replace class with functional composition
  packages/cli/docs/command-enhancement-suite.md
  packages/cli/src/command/builders.test.ts
  packages/cli/src/command/builders.ts
  packages/cli/src/command/index.ts
  packages/cli/src/workflows/builders.test.ts
  packages/cli/src/workflows/index.ts
Due: prettier, oxlint, typecheck, build-affected

refactor(command): replace class with functional composition (#119)
  packages/cli/docs/command-enhancement-suite.md
  packages/cli/src/command/builders.test.ts
  packages/cli/src/command/builders.ts
  packages/cli/src/command/index.ts
  packages/cli/src/workflows/builders.test.ts
  packages/cli/src/workflows/index.ts
Due: prettier, oxlint, typecheck, build-affected

feat(core): implement flow control and error handling utilities (#120)
  lefthook.yml
  packages/cli/docs/flow-control-error-handling.md
  packages/cli/src/core/error-templates.test.ts
  packages/cli/src/core/error-templates.ts
  packages/cli/src/core/index.ts
  packages/cli/src/core/pipeline.test.ts
  packages/cli/src/core/pipeline.ts
  scripts/smart-test-runner.sh
Due: prettier, oxlint, typecheck, build-affected

feat(cli): add comprehensive data processing and validation modules
  packages/cli/package.json
  packages/cli/src/data/__tests__/converter.test.ts
  packages/cli/src/data/__tests__/csv.test.ts
  packages/cli/src/data/__tests__/excel.test.ts
  packages/cli/src/data/__tests__/json.test.ts
  packages/cli/src/data/converter.ts
  packages/cli/src/data/csv.ts
  packages/cli/src/data/excel.ts
  packages/cli/src/data/index.ts
  packages/cli/src/data/json.ts
  packages/cli/src/data/types.ts
  packages/cli/src/validation/__tests__/validation.test.ts
  packages/cli/src/validation/index.ts
  pnpm-lock.yaml
Due: prettier, oxlint, typecheck, build-affected

style: format code with prettier
  CLAUDE.md
  package.json
  packages/cli/src/data/types.ts
Due: prettier, oxlint, typecheck, build-affected

chore: update package.json
  package.json
Due: none

feat(cli): add comprehensive data processing and validation modules (#122)
  CLAUDE.md
  package.json
  packages/cli/package.json
  packages/cli/src/data/__tests__/converter.test.ts
  packages/cli/src/data/__tests__/csv.test.ts
  packages/cli/src/data/__tests__/excel.test.ts
  packages/cli/src/data/__tests__/json.test.ts
  packages/cli/src/data/converter.ts
  packages/cli/src/data/csv.ts
  packages/cli/src/data/excel.ts
  packages/cli/src/data/index.ts
  packages/cli/src/data/json.ts
  packages/cli/src/data/types.ts
  packages/cli/src/validation/__tests__/validation.test.ts
  packages/cli/src/validation/index.ts
  pnpm-lock.yaml
Due: prettier, oxlint, typecheck, build-affected

feat(testing): implement enhanced testing utilities with functional programming
  CLAUDE.md
  packages/cli/src/testing/README.md
  packages/cli/src/testing/__tests__/__snapshots__/cli-testing.test.ts.snap
  packages/cli/src/testing/__tests__/cli-testing.test.ts
  packages/cli/src/testing/__tests__/enhanced-testing.test.ts
  packages/cli/src/testing/assertions.ts
  packages/cli/src/testing/cli-testing.ts
  packages/cli/src/testing/fixtures.ts
  packages/cli/src/testing/index.ts
  packages/cli/src/testing/interactive.ts
  packages/cli/src/testing/performance.ts
  packages/cli/src/testing/runner.ts
  packages/cli/src/testing/test-debugging.ts
  packages/cli/src/testing/test-suites.ts
  packages/cli/src/testing/vitest-matchers.ts
Due: prettier, oxlint, typecheck, build-affected

feat(testing): implement enhanced testing utilities with functional programming (#123)
  CLAUDE.md
  packages/cli/src/testing/README.md
  packages/cli/src/testing/__tests__/__snapshots__/cli-testing.test.ts.snap
  packages/cli/src/testing/__tests__/cli-testing.test.ts
  packages/cli/src/testing/__tests__/enhanced-testing.test.ts
  packages/cli/src/testing/assertions.ts
  packages/cli/src/testing/cli-testing.ts
  packages/cli/src/testing/fixtures.ts
  packages/cli/src/testing/index.ts
  packages/cli/src/testing/interactive.ts
  packages/cli/src/testing/performance.ts
  packages/cli/src/testing/runner.ts
  packages/cli/src/testing/test-debugging.ts
  packages/cli/src/testing/test-suites.ts
  packages/cli/src/testing/vitest-matchers.ts
Due: prettier, oxlint, typecheck, build-affected

fix(ci): correct CLI path in pre-release workflow
  .github/workflows/pre-release.yml
Due: none

fix(ci): correct CLI path in pre-release workflow (#124)
  .github/workflows/pre-release.yml
Due: none

fix(tests): adjust divider component test expectations
  packages/web-ui/src/components/__tests__/divider.test.tsx
Due: prettier, oxlint, typecheck, build-affected

feat(transforms): improve semantic colors component detection
  packages/web-ui/src/transforms/transforms/semantic-colors.ts
Due: prettier, oxlint, typecheck, build-affected

fix(tests): improve semantic colors transform test robustness
  packages/web-ui/src/transforms/__tests__/semantic-colors.test.ts
Due: prettier, oxlint, typecheck, build-affected

fix(tests): improve enhance command test implementation
  packages/web-ui/src/cli/commands/__tests__/enhance.test.ts
Due: prettier, oxlint, typecheck, build-affected

fix(tests): remove .fails from passing dropdown tests
  packages/web-ui/src/components/__tests__/dropdown.test.tsx
Due: prettier, oxlint, typecheck, build-affected

fix(tests): add component function to pipeline integration test
  packages/web-ui/src/transforms/__tests__/pipeline-integration.test.ts
Due: prettier, oxlint, typecheck, build-affected

feat(transforms): add core transform utilities and infrastructure
  packages/web-ui/src/transforms/__tests__/transform-utils.test.ts
  packages/web-ui/src/transforms/__tests__/ts-nocheck.test.ts
  packages/web-ui/src/transforms/core/transform-base.ts
  packages/web-ui/src/transforms/core/transform-context.ts
  packages/web-ui/src/transforms/core/transform-utils.ts
  packages/web-ui/src/transforms/transforms/catalyst-prefix.ts
  packages/web-ui/src/transforms/transforms/clsx-to-cn.ts
  packages/web-ui/src/transforms/transforms/file-headers.ts
  packages/web-ui/src/transforms/transforms/ts-nocheck.ts
Due: prettier, oxlint, typecheck, build-affected

docs(transforms): add comprehensive transform system documentation
  packages/web-ui/src/transforms/README.md
Due: prettier

refactor(transforms): update main pipeline for new architecture
  packages/web-ui/src/transforms/pipelines/main.ts
Due: prettier, oxlint, typecheck, build-affected

refactor(cli): remove deprecated profile command
  packages/web-ui/src/cli.ts
  packages/web-ui/src/cli/commands/profile.ts
Due: prettier, oxlint, typecheck, build-affected

refactor(cli): update command types and dev-refresh implementation
  packages/web-ui/src/cli/commands/dev-refresh.ts
  packages/web-ui/src/cli/core/types/command-options.ts
Due: prettier, oxlint, typecheck, build-affected

refactor(components): update Catalyst component implementations
  packages/web-ui/src/components/lib/catalyst-alert.tsx
  packages/web-ui/src/components/lib/catalyst-auth-layout.tsx
  packages/web-ui/src/components/lib/catalyst-avatar.tsx
  packages/web-ui/src/components/lib/catalyst-badge.tsx
  packages/web-ui/src/components/lib/catalyst-button.tsx
  packages/web-ui/src/components/lib/catalyst-checkbox.tsx
  packages/web-ui/src/components/lib/catalyst-combobox.tsx
  packages/web-ui/src/components/lib/catalyst-description-list.tsx
  packages/web-ui/src/components/lib/catalyst-dialog.tsx
  packages/web-ui/src/components/lib/catalyst-divider.tsx
  packages/web-ui/src/components/lib/catalyst-dropdown.tsx
  packages/web-ui/src/components/lib/catalyst-fieldset.tsx
  packages/web-ui/src/components/lib/catalyst-heading.tsx
  packages/web-ui/src/components/lib/catalyst-input.tsx
  packages/web-ui/src/components/lib/catalyst-link.tsx
  packages/web-ui/src/components/lib/catalyst-listbox.tsx
  packages/web-ui/src/components/lib/catalyst-navbar.tsx
  packages/web-ui/src/components/lib/catalyst-pagination.tsx
  packages/web-ui/src/components/lib/catalyst-radio.tsx
  packages/web-ui/src/components/lib/catalyst-select.tsx
  packages/web-ui/src/components/lib/catalyst-sidebar-layout.tsx
  packages/web-ui/src/components/lib/catalyst-sidebar.tsx
  packages/web-ui/src/components/lib/catalyst-stacked-layout.tsx
  packages/web-ui/src/components/lib/catalyst-switch.tsx
  packages/web-ui/src/components/lib/catalyst-table.tsx
  packages/web-ui/src/components/lib/catalyst-text.tsx
  packages/web-ui/src/components/lib/catalyst-textarea.tsx
Due: prettier, oxlint, typecheck, build-affected

refactor(components): clean up auth-layout wrapper component
  packages/web-ui/src/components/auth-layout.tsx
Due: prettier, oxlint, typecheck, build-affected

style(theme): add eslint-disable comments for console usage
  packages/web-ui/src/components/theme/registry.ts
  packages/web-ui/src/components/theme/theme-provider.tsx
Due: prettier, oxlint, typecheck, build-affected

refactor(transforms): clean up unused files and outdated documentation
  packages/web-ui/package.json
  packages/web-ui/src/transforms/README.md
  packages/web-ui/src/transforms/__tests__/transform-utils.test.ts
  packages/web-ui/src/transforms/core/transform-base.ts
  packages/web-ui/src/transforms/core/transform-context.ts
Due: prettier, oxlint, typecheck, build-affected

refactor(transforms): remove unused utility functions
  packages/web-ui/src/transforms/core/transform-utils.ts
Due: prettier, oxlint, typecheck, build-affected

feat(workflows): add advanced workflow orchestration with progress tracking
  packages/cli/src/progress/__tests__/enhanced-tracker.test.ts
  packages/cli/src/progress/enhanced-tracker.ts
  packages/cli/src/progress/index.ts
  packages/cli/src/workflows/__tests__/advanced-builder.test.ts
  packages/cli/src/workflows/__tests__/builder.test.ts
  packages/cli/src/workflows/advanced-builder.ts
  packages/cli/src/workflows/builder.ts
  packages/cli/src/workflows/index.ts
Due: prettier, oxlint, typecheck, build-affected
