Repository trailhead-diy/trailhead: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, oxlint, typecheck, docs-validate, build-affected

Path conditions:
  prettier: any of: **/*.{ts,tsx,js,jsx,json,md}
  oxlint: any of: packages/**/*.{ts,tsx,js,jsx}
  typecheck: any of: **/*.{ts,tsx}
  docs-validate: any of: {docs,packages/**/docs}/**/*.md
  build-affected: any of: **/*.{ts,tsx,js,jsx,json}

refactor(cli): update import paths to use @esteban-url/core
  packages/cli/README.md
  packages/cli/docs/reference/core.md
  packages/cli/docs/tutorials/build-complete-cli.md
  packages/cli/docs/tutorials/getting-started.md
Due: prettier, docs-validate

refactor(core): standardize Result API naming conventions
  packages/cli/docs/how-to/optimization-guide.md
Due: prettier, docs-validate

docs(cli): update pipeline migration guide to focus on command patterns
  packages/cli/docs/how-to/migrate-to-pipelines.md
Due: prettier, docs-validate

docs(cli): simplify error handling guide with practical examples
  packages/cli/docs/how-to/handle-errors-in-cli.md
Due: prettier, docs-validate

docs(cli): streamline pipeline and flow control documentation
  packages/cli/docs/how-to/use-result-pipelines.md
  packages/cli/docs/reference/flow-control.md
Due: prettier, docs-validate

docs: update package API references for clarity
  packages/data/README.md
  packages/data/docs/how-to/process-data-files.md
  packages/fs/README.md
  packages/validation/README.md
  packages/validation/docs/explanation/composition-patterns.md
  packages/validation/docs/how-to/validate-data.md
Due: prettier, docs-validate

docs(cli): update command reference documentation
  packages/cli/docs/README.md
  packages/cli/docs/reference/command-enhancements.md
  packages/cli/docs/reference/command.md
Due: prettier, docs-validate

docs: minor fixes and improvements
  CLAUDE.md
  docs/README.md
  docs/reference/cross-reference-style-guide.md
  tooling/docs-tooling/src/validate-links.ts
Due: prettier, typecheck, docs-validate, build-affected

docs(cli): extract how-to guides from getting-started tutorial
  packages/cli/docs/how-to/add-configuration.md
  packages/cli/docs/how-to/add-file-operations.md
  packages/cli/docs/how-to/add-interactive-prompts.md
Due: prettier, docs-validate

docs(config): extract how-to guide for overriding configuration sources
  docs/how-to/override-config-sources.md
Due: prettier, docs-validate

refactor(docs): convert tutorials to pure learning experiences
  docs/tutorials/config-getting-started.md
  packages/cli/docs/tutorials/getting-started.md
Due: prettier, docs-validate

docs(explanation): add Diátaxis framework explanation
  docs/explanation/diataxis-framework.md
Due: prettier, docs-validate

docs(reference): remove explanatory content and update cross-references
  docs/explanation/config-sources.md
  docs/reference/documentation-standards.md
  packages/cli/docs/README.md
Due: prettier, docs-validate

fix(ci): fix documentation validation workflow
  .github/workflows/validate-documentation.yml
Due: none

fix(tooling): update link validation for Docusaurus compatibility
  tooling/docs-tooling/src/fix-links.ts
  tooling/docs-tooling/src/validate-links.ts
Due: prettier, typecheck, build-affected

style: format code with prettier
  CLAUDE.md
  apps/demos/INSTALL.md
  apps/demos/next/src/components/alert.tsx
  apps/demos/next/src/components/auth-layout.tsx
  apps/demos/next/src/components/avatar.tsx
  apps/demos/next/src/components/badge.tsx
  apps/demos/next/src/components/button.tsx
  apps/demos/next/src/components/checkbox.tsx
  apps/demos/next/src/components/combobox.tsx
  apps/demos/next/src/components/description-list.tsx
  apps/demos/next/src/components/dialog.tsx
  apps/demos/next/src/components/dropdown.tsx
  apps/demos/next/src/components/fieldset.tsx
  apps/demos/next/src/components/input.tsx
  apps/demos/next/src/components/listbox.tsx
  apps/demos/next/src/components/pagination.tsx
  apps/demos/next/src/components/radio.tsx
  apps/demos/next/src/components/select.tsx
  apps/demos/next/src/components/sidebar-layout.tsx
  apps/demos/next/src/components/stacked-layout.tsx
  apps/demos/next/src/components/switch.tsx
  apps/demos/next/src/components/table.tsx
  apps/demos/next/src/components/text.tsx
  apps/demos/next/src/components/textarea.tsx
  apps/docs/docs/tutorial-basics/congratulations.md
Due: prettier, typecheck, build-affected

ci: implement local-first CI strategy with 90% cost reduction
  .github/workflows/ci-main.yml
  .github/workflows/ci-pr.yml
  .github/workflows/clean-cache.yml
  .github/workflows/dependency-review.yml
  .github/workflows/pre-release.yml
  .github/workflows/publish-packages.yml
  .github/workflows/reusable-ci.yml
  .github/workflows/validate-documentation.yml
  lefthook.yml
  package.json
  scripts/ci-optimal.sh
Due: none

fix(core,fs): add missing main field to package.json exports
  packages/core/package.json
  packages/fs/package.json
Due: prettier, build-affected

fix(cli,create-cli): use root prettierignore for format checks
  packages/cli/package.json
  packages/create-cli/package.json
Due: prettier, build-affected

docs: consolidate CI documentation and fix sidebar reference
  apps/docs/sidebars.ts
  docs/ci-strategy.md
  docs/explanation/ci-strategy.md
Due: prettier, typecheck, docs-validate, build-affected

fix(docs): replace Docusaurus Heading component with HTML headings
  apps/docs/src/components/HomepageFeatures/index.tsx
  apps/docs/src/pages/index.tsx
Due: prettier, typecheck, build-affected

chore: remove temporary scripts and incorrect lockfiles
  apps/demos/next/package-lock.json
  apps/demos/nextjs/preset/package-lock.json
  scripts/fix-doc-links.js
  scripts/fix-final-links.js
  scripts/fix-relative-paths.js
  scripts/fix-remaining-links.js
Due: prettier, build-affected

chore: use proper logger instead of concole.*
  packages/cli/src/cli.ts
  packages/cli/src/command/git-hooks.ts
  packages/cli/src/prompts/index.ts
  packages/create-cli/src/commands/config.ts
  packages/create-cli/src/index.ts
Due: prettier, oxlint, typecheck, build-affected

test(cli): remove low-value framework verification tests
  packages/cli/src/testing/basic-verification.test.ts
Due: prettier, oxlint, typecheck, build-affected

test(cli): refactor assertions to focus on high-ROI tests
  packages/cli/tests/argument-parsing.test.ts
  packages/cli/tests/cli-creation.test.ts
  packages/cli/tests/cli-orchestration.test.ts
  packages/cli/tests/domain-integration.test.ts
  packages/cli/tests/error-handling.test.ts
Due: prettier, oxlint, typecheck, build-affected

fix(create-cli): resolve workspace dependency resolution in tsup build
  packages/create-cli/tsup.config.ts
Due: prettier, oxlint, typecheck, build-affected

ci(scripts): add import deduplication script and enhance CI optimization
  scripts/ci-optimal.sh
  scripts/fix-duplicate-imports.sh
Due: none

chore(lint): simplify oxlint configuration and update prettierignore
  .oxlintrc.json
  .prettierignore
Due: none

test(vitest): improve test configuration and console handling
  packages/cli/tests/command-registration.test.ts
  packages/cli/vitest.config.ts
  tooling/vitest-config/setup.ts
  tooling/vitest-config/vitest.shared.ts
Due: prettier, oxlint, typecheck, build-affected

build(tsup): modernize and simplify build configurations
  packages/cli/tsup.config.ts
  packages/config/tsup.config.ts
  packages/core/tsup.config.ts
  packages/fs/tsup.config.ts
  packages/validation/tsup.config.ts
Due: prettier, oxlint, typecheck, build-affected

chore(typescript): simplify node TypeScript configuration
  tooling/typescript-config/node.json
Due: prettier, build-affected

chore(turbo): remove redundant output configuration
  turbo.json
Due: none

chore(deps): update tsup and adjust dev dependencies
  package.json
  packages/cli/package.json
  packages/config/package.json
  packages/core/package.json
  packages/create-cli/package.json
  packages/fs/package.json
  packages/validation/package.json
  pnpm-lock.yaml
Due: prettier, build-affected

fix(vitest-config): use import.meta.url for ES module compatibility
  tooling/vitest-config/vitest.shared.ts
Due: prettier, typecheck, build-affected

chore(ci): run full test suite on pre-push to prevent cache issues
  lefthook.yml
Due: none
