Repository trailhead-diy/trailhead: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, docs-validate, oxlint, typecheck

prettier:
  priority: 1
  run: pnpm prettier --write {staged_files} --cache --cache-location .turbo/.prettiercache
  stage_fixed: true

docs-validate:
  priority: 2
  run: "for file in {staged_files}; do\n  pnpm docs:validate \"$file\"\ndone\n"

oxlint:
  priority: 3
  run: pnpm oxlint {staged_files} --fix
  stage_fixed: true

typecheck:
  priority: 4
  run: pnpm types --filter="./packages/*" -- --incremental

fix(cli): resolve all lint warnings and TypeScript errors
  packages/cli/examples/__tests__/advanced-cli.test.ts
  packages/cli/examples/__tests__/basic-cli.test.ts
  packages/cli/examples/__tests__/error-scenarios.test.ts
  packages/cli/examples/__tests__/interactive-cli.test.ts
  packages/cli/examples/__tests__/performance.test.ts
  packages/cli/examples/__tests__/project-examples-deep.test.ts
  packages/cli/examples/__tests__/project-examples-smoke.test.ts
  packages/cli/examples/advanced-cli.ts
  packages/cli/examples/basic-cli.ts
  packages/cli/examples/cross-platform-cli/src/index.ts
  packages/cli/examples/interactive-cli.ts
  packages/cli/examples/todo-cli/src/index.ts
  packages/cli/src/command/__tests__/patterns.test.ts
  packages/cli/src/command/patterns.ts
Due: prettier, oxlint, typecheck

fix(web-ui): improve theme registry error handling and logging (#43)
  packages/cli/examples/__tests__/advanced-cli.test.ts
  packages/cli/examples/__tests__/basic-cli.test.ts
  packages/cli/examples/__tests__/error-scenarios.test.ts
  packages/cli/examples/__tests__/interactive-cli.test.ts
  packages/cli/examples/__tests__/performance.test.ts
  packages/cli/examples/__tests__/project-examples-deep.test.ts
  packages/cli/examples/__tests__/project-examples-smoke.test.ts
  packages/cli/examples/advanced-cli.ts
  packages/cli/examples/basic-cli.ts
  packages/cli/examples/cross-platform-cli/src/index.ts
  packages/cli/examples/interactive-cli.ts
  packages/cli/examples/todo-cli/src/index.ts
  packages/cli/src/command/__tests__/patterns.test.ts
  packages/cli/src/command/patterns.ts
  packages/web-ui/src/components/theme/registry.ts
  packages/web-ui/src/components/theme/theme-provider.tsx
Due: prettier, oxlint, typecheck

chore: remove empty directories and unused files
  .husky/_/commit-msg
  .husky/_/pre-commit
  .husky/_/pre-push
  .husky/_/prepare-commit-msg
  packages/cli/examples/test-empty.txt.processed
Due: none

chore: remove empty directories and unused files (#45)
  .husky/_/commit-msg
  .husky/_/pre-commit
  .husky/_/pre-push
  .husky/_/prepare-commit-msg
  packages/cli/examples/test-empty.txt.processed
Due: none

feat(ci): optimize GitHub Actions workflows for cost efficiency and performance (#44)
  .github/workflows/ci-main.yml
  .github/workflows/reusable-ci.yml
Due: none

refactor(ci): improve workflow reliability and maintainability
  .github/workflows/reusable-ci.yml
Due: none

fix(ci): pass test options through turborepo correctly
  .github/workflows/reusable-ci.yml
Due: none

feat: optimize GitHub Actions workflows for 56% cost reduction (#46)
  .github/workflows/ci-main.yml
  .github/workflows/reusable-ci.yml
Due: none

chore: pull from origin
  .github/workflows/reusable-ci.yml
Due: none

refactor(ci): improve workflow reliability and maintainability (#51)
  .github/workflows/reusable-ci.yml
Due: none

fix(git-hooks): add macOS timeout command compatibility
  .smart-test-config.json
  README.md
  lefthook.yml
  packages/cli/src/command/__tests__/git-hooks.test.ts
  packages/cli/src/command/git-hooks.ts
  packages/cli/src/command/index.ts
  packages/cli/src/index.ts
  packages/cli/src/templates/git-hooks/README.md
  packages/cli/src/templates/git-hooks/lefthook.yml.template
  packages/cli/src/templates/git-hooks/smart-test-config.json.template
  packages/cli/src/templates/git-hooks/smart-test-runner.sh
  packages/create-trailhead-cli/src/lib/template-context.ts
  packages/create-trailhead-cli/src/lib/types.ts
  packages/create-trailhead-cli/templates/shared/DOT_smart-test-config.json.hbs
  packages/create-trailhead-cli/templates/shared/lefthook.yml.hbs
  packages/create-trailhead-cli/templates/shared/scripts/README.md
  packages/create-trailhead-cli/templates/shared/scripts/smart-test-runner.sh
  scripts/smart-test-runner.sh
Due: prettier, oxlint, typecheck

fix(git-hooks): remove unused variables
  packages/cli/src/command/git-hooks.ts
Due: prettier, oxlint, typecheck

feat(generator): implement comprehensive test colocation and validation system
  packages/create-trailhead-cli/src/__tests__/generator-structure.test.ts
  packages/create-trailhead-cli/src/__tests__/template-processing.test.ts
  packages/create-trailhead-cli/src/lib/template-validator.ts
  packages/create-trailhead-cli/templates/advanced/README.md.hbs
  packages/create-trailhead-cli/templates/advanced/src/__tests__/integration/cli.test.ts.hbs
  packages/create-trailhead-cli/templates/advanced/src/commands/__tests__/config.test.ts.hbs
  packages/create-trailhead-cli/templates/advanced/src/commands/__tests__/init.test.ts.hbs
  packages/create-trailhead-cli/templates/advanced/src/commands/__tests__/validate.test.ts.hbs
  packages/create-trailhead-cli/templates/advanced/src/commands/init.ts.hbs
  packages/create-trailhead-cli/templates/advanced/src/commands/validate.ts.hbs
  packages/create-trailhead-cli/templates/basic/README.md.hbs
  packages/create-trailhead-cli/templates/basic/src/__tests__/integration/cli.test.ts.hbs
  packages/create-trailhead-cli/templates/basic/src/commands/__tests__/build.test.ts.hbs
  packages/create-trailhead-cli/templates/basic/src/commands/__tests__/dev.test.ts.hbs
  packages/create-trailhead-cli/templates/enterprise/src/__tests__/integration/cli.test.ts.hbs
  packages/create-trailhead-cli/templates/enterprise/src/commands/__tests__/monitor.test.ts.hbs
  packages/create-trailhead-cli/templates/enterprise/src/commands/__tests__/security.test.ts.hbs
  packages/create-trailhead-cli/templates/shared/docs/how-to/add-configuration.md.hbs
  packages/create-trailhead-cli/templates/shared/docs/tutorials/getting-started.md.hbs
  packages/create-trailhead-cli/templates/shared/vitest.config.ts.hbs
  turbo.json
Due: prettier, oxlint, typecheck

chore(cli): deep clean codebase for v1.0 release
  packages/cli/docs/tutorials/migration-guide.md
  packages/cli/examples/__tests__/advanced-cli.test.ts
  packages/cli/examples/__tests__/basic-cli.test.ts
  packages/cli/examples/__tests__/error-scenarios.test.ts
  packages/cli/examples/__tests__/interactive-cli.test.ts
  packages/cli/examples/__tests__/performance.test.ts
  packages/cli/examples/__tests__/project-examples-deep.test.ts
  packages/cli/examples/__tests__/project-examples-smoke.test.ts
  packages/cli/examples/advanced-cli.ts
  packages/cli/examples/basic-cli.ts
  packages/cli/examples/interactive-cli.ts
  packages/cli/examples/make-standalone.sh
  packages/cli/examples/package-manager-example.ts
  packages/cli/examples/performance-results.json
  packages/cli/examples/retry-advanced.ts
  packages/cli/examples/standalone-tsconfig.json
  packages/cli/examples/test-our-retry.ts
  packages/cli/examples/test-retry-debug.ts
  packages/cli/examples/test-retry.ts
  packages/cli/src/command/__tests__/api.test.ts
  packages/cli/src/core/validation/__tests__/domain.test.ts
  packages/cli/src/core/validation/__tests__/pipeline.test.ts
  packages/cli/src/testing/__tests__/cross-platform-example.test.ts
  packages/cli/src/testing/__tests__/integration/filesystem-edge-cases.test.ts
  packages/cli/src/testing/__tests__/performance/filesystem-performance.test.ts
  packages/cli/src/testing/test-utils/cross-platform-paths.ts
  packages/cli/test-undefined.cjs
Due: prettier, docs-validate, oxlint, typecheck

fix: update pnpm-lock.yaml after rebase
  pnpm-lock.yaml
Due: none

fix(cli): handle Windows-specific git error messages in tests (#41)
  packages/cli/src/git/__tests__/integration.test.ts
  packages/cli/src/git/branch-sync.ts
  packages/cli/src/git/git-command.ts
  packages/cli/src/git/merge-base.ts
  packages/cli/src/git/status.ts
Due: prettier, oxlint, typecheck

feat(cli): comprehensive git utilities with branch sync validation (#40)
  packages/cli/src/git/__tests__/integration.test.ts
  packages/cli/src/git/branch-sync.ts
  packages/cli/src/git/git-command.ts
  packages/cli/src/git/merge-base.ts
  packages/cli/src/git/status.ts
Due: prettier, oxlint, typecheck

feat(security): implement comprehensive security hardening for CLI generator
  packages/create-trailhead-cli/src/__tests__/generate-command.test.ts
  packages/create-trailhead-cli/src/__tests__/generator-security.test.ts
  packages/create-trailhead-cli/src/__tests__/security.test.ts
  packages/create-trailhead-cli/src/__tests__/template-compiler-security.test.ts
  packages/create-trailhead-cli/src/lib/generator.ts
  packages/create-trailhead-cli/src/lib/security.ts
  packages/create-trailhead-cli/src/lib/template-compiler.ts
  packages/create-trailhead-cli/src/lib/template-context.ts
  packages/create-trailhead-cli/src/lib/template-loader.ts
  packages/create-trailhead-cli/src/lib/template-validator.ts
  packages/create-trailhead-cli/src/lib/types.ts
  packages/create-trailhead-cli/tsup.config.ts
Due: prettier, oxlint, typecheck

fix(generator): migrate to CLI git module and resolve test failures
  packages/create-trailhead-cli/src/__tests__/generate-command.test.ts
  packages/create-trailhead-cli/src/__tests__/generator-structure.test.ts
  packages/create-trailhead-cli/src/__tests__/security.test.ts
  packages/create-trailhead-cli/src/__tests__/template-compiler-security.test.ts
  packages/create-trailhead-cli/src/lib/generator.ts
  packages/create-trailhead-cli/src/lib/security.ts
  packages/create-trailhead-cli/src/lib/template-context.ts
Due: prettier, oxlint, typecheck

fix: improve test isolation for package manager tests
  packages/cli/src/testing/__tests__/package-manager.test.ts
  packages/cli/src/testing/package-manager.ts
Due: prettier, oxlint, typecheck

fix: address linter formatting changes
  packages/create-trailhead-cli/src/__tests__/integration-matrix.test.ts
  packages/create-trailhead-cli/src/lib/template-compiler.ts
  packages/create-trailhead-cli/src/lib/validation.ts
Due: prettier, oxlint, typecheck

feat(generator): replace custom implementations with proven libraries
  .gitignore
  CLAUDE.md
  EPIC_create-trailhead-monorepo.md
  packages/create-trailhead-cli/package.json
  packages/create-trailhead-cli/scripts/test-generator-full.ts
  packages/create-trailhead-cli/src/__tests__/generator-security.test.ts
  packages/create-trailhead-cli/src/__tests__/generator-structure.test.ts
  packages/create-trailhead-cli/src/__tests__/generator.test.ts
  packages/create-trailhead-cli/src/__tests__/integration-matrix.test.ts
  packages/create-trailhead-cli/src/__tests__/security.test.ts
  packages/create-trailhead-cli/src/__tests__/template-compiler-security.test.ts
  packages/create-trailhead-cli/src/__tests__/template-config.test.ts
  packages/create-trailhead-cli/src/__tests__/template-processing.test.ts
  packages/create-trailhead-cli/src/commands/generate.ts
  packages/create-trailhead-cli/src/lib/generator.ts
  packages/create-trailhead-cli/src/lib/security.ts
  packages/create-trailhead-cli/src/lib/template-compiler.ts
  packages/create-trailhead-cli/src/lib/template-config.ts
  packages/create-trailhead-cli/src/lib/template-context.ts
  packages/create-trailhead-cli/src/lib/template-loader.ts
  packages/create-trailhead-cli/src/lib/template-validator.ts
  packages/create-trailhead-cli/src/lib/types.ts
  packages/create-trailhead-cli/src/lib/validation.ts
  packages/create-trailhead-cli/templates/enterprise/package.json.hbs
  packages/create-trailhead-cli/templates/enterprise/src/__tests__/integration/cli.test.ts.hbs
  packages/create-trailhead-cli/templates/enterprise/src/commands/__tests__/monitor.test.ts.hbs
  packages/create-trailhead-cli/templates/enterprise/src/commands/__tests__/security.test.ts.hbs
  packages/create-trailhead-cli/templates/enterprise/src/commands/monitor.ts.hbs
  packages/create-trailhead-cli/templates/enterprise/src/commands/security.ts.hbs
  packages/create-trailhead-cli/templates/enterprise/src/index.ts.hbs
  packages/create-trailhead-cli/templates/enterprise/src/monitoring/alerts.ts.hbs
  packages/create-trailhead-cli/templates/enterprise/src/monitoring/health.ts.hbs
  packages/create-trailhead-cli/templates/enterprise/src/monitoring/metrics.ts.hbs
  packages/create-trailhead-cli/templates/enterprise/src/monitoring/setup.ts.hbs
  packages/create-trailhead-cli/templates/shared/package.json.hbs
  packages/create-trailhead-cli/vitest.config.ts
  pnpm-lock.yaml
  turbo.json
Due: prettier, oxlint, typecheck

fix(ci): align pnpm version in workflows with package.json
  .github/workflows/ci.yml
  .github/workflows/pre-release-testing.yml
Due: none

fix(ci): escape GitHub Actions template expressions
  .github/workflows/ci.yml
  .github/workflows/pre-release-testing.yml
Due: none

fix(ci): make dependency installation conditional in pre-release workflow
  .github/workflows/pre-release-testing.yml
Due: none

fix(create-trailhead-cli): final commit of all remaining changes
  packages/create-trailhead-cli/package.json
  packages/create-trailhead-cli/src/commands/generate.ts
  packages/create-trailhead-cli/src/lib/validation.ts
Due: prettier, oxlint, typecheck

fix(create-trailhead-cli): apply Turbo CLI template corrections
  packages/create-trailhead-cli/templates/shared/DOT_github/workflows/ci-advanced.yml.hbs
  packages/create-trailhead-cli/templates/shared/DOT_github/workflows/ci.yml.hbs
  packages/create-trailhead-cli/templates/shared/docs/how-to/setup-ci-cd.md.hbs
Due: none

fix(ci): replace invalid --max-workers with --concurrency in workflows
  .github/workflows/ci.yml
  .github/workflows/reusable-ci.yml
Due: none

docs: convert epic markdown to GitHub issues and remove file
  EPIC_create-trailhead-monorepo.md
Due: none

fix(ci): pass --reporter flag correctly to vitest via turbo
  .github/workflows/reusable-ci.yml
Due: none

fix: format config file and remove converted epic
  .smart-test-config.json
Due: none

fix: remove low-ROI package manager tests
  packages/cli/src/testing/__tests__/package-manager.test.ts
Due: prettier, oxlint, typecheck

fix: format code and update CLI examples test script
  CLAUDE.md
  README.md
  packages/cli/examples/test-examples.sh
Due: none

fix(ci): correct pnpm filter syntax for integration tests
  .github/workflows/ci.yml
Due: none

Path conditions:
  prettier: any of: **/*.{ts,tsx,js,jsx,json,md}
  docs-validate: any of: {docs,packages/**/docs}/**/*.md
  oxlint: any of: packages/**/*.{ts,tsx,js,jsx}
  typecheck: any of: packages/**/*.{ts,tsx}
