Repository trailhead-diy/trailhead: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, oxlint, typecheck, docs-validate, build-affected

Path conditions:
  prettier: any of: **/*.{ts,tsx,js,jsx,json,md}
  oxlint: any of: packages/**/*.{ts,tsx,js,jsx}
  typecheck: any of: **/*.{ts,tsx}
  docs-validate: any of: {docs,packages/**/docs}/**/*.md
  build-affected: any of: **/*.{ts,tsx,js,jsx,json}

fix(vitest): use cross-platform path resolution for Windows CI
  tooling/vitest-config/vitest.shared.ts
Due: prettier, typecheck, build-affected

fix(vitest): use cross-platform path resolution for Windows CI (#169)
  tooling/vitest-config/vitest.shared.ts
Due: prettier, typecheck, build-affected

fix(vitest): improve Windows path detection with path separator
  tooling/vitest-config/vitest.shared.ts
Due: prettier, typecheck, build-affected

fix(vitest): use cross-platform path resolution for Windows CI (#170)
  tooling/vitest-config/vitest.shared.ts
Due: prettier, typecheck, build-affected

fix(cli): handle cross-platform path formats in integration test
  packages/cli/src/testing/integration.test.ts
Due: prettier, oxlint, typecheck, build-affected

fix(cli): handle cross-platform path formats in integration test (#171)
  packages/cli/src/testing/integration.test.ts
Due: prettier, oxlint, typecheck, build-affected

fix(ci): remove non-existent packages from changeset config
  .changeset/config.json
Due: prettier, build-affected

fix(ci): move CodeQL analysis from PR to main branch workflow
  .github/workflows/ci-main.yml
  .github/workflows/ci-pr.yml
Due: none

fix(ci): remove non-existent packages from changeset config (#172)
  .changeset/config.json
Due: prettier, build-affected

fix(ci): move CodeQL analysis from PR to main branch workflow (#173)
  .github/workflows/ci-main.yml
  .github/workflows/ci-pr.yml
Due: none

fix(ci): configure GitHub Packages publishing properly
  .github/workflows/ci-main.yml
  packages/cli/package.json
  packages/config/package.json
  packages/core/package.json
  packages/create-cli/package.json
  packages/data/package.json
  packages/fs/package.json
  packages/sort/package.json
  packages/validation/package.json
  tooling/tsup-config/package.json
Due: prettier, build-affected

fix(ci): configure GitHub Packages publishing properly (#174)
  .github/workflows/ci-main.yml
  packages/cli/package.json
  packages/config/package.json
  packages/core/package.json
  packages/create-cli/package.json
  packages/data/package.json
  packages/fs/package.json
  packages/sort/package.json
  packages/validation/package.json
  tooling/tsup-config/package.json
Due: prettier, build-affected

fix(ci): prevent rebuild during publish and disable CodeQL
  .github/workflows/ci-main.yml
  packages/cli/package.json
  packages/config/package.json
  packages/core/package.json
  packages/create-cli/package.json
  packages/data/package.json
  packages/fs/package.json
  packages/sort/package.json
  packages/validation/package.json
Due: prettier, build-affected

fix(ci): prevent rebuild during publish and disable CodeQL (#175)
  .github/workflows/ci-main.yml
  packages/cli/package.json
  packages/config/package.json
  packages/core/package.json
  packages/create-cli/package.json
  packages/data/package.json
  packages/fs/package.json
  packages/sort/package.json
  packages/validation/package.json
Due: prettier, build-affected

fix(ci): remove duplicate --force flag in turbo build command
  .github/workflows/ci-main.yml
Due: none

fix(ci): remove duplicate --force flag in turbo build command (#176)
  .github/workflows/ci-main.yml
Due: none

feat(ci): share build artifacts between jobs for efficiency
  .github/workflows/ci-main.yml
Due: none

feat(ci): share build artifacts between jobs for efficiency (#177)
  .github/workflows/ci-main.yml
Due: none

revert(ci): remove build artifact sharing between jobs
  .github/workflows/ci-main.yml
Due: none

revert(ci): remove build artifact sharing between jobs (#178)
  .github/workflows/ci-main.yml
Due: none

fix(docs): update Docusaurus config for new documentation structure
  apps/docs/docusaurus.config.ts
  apps/docs/sidebars.ts
  apps/docs/src/pages/index.module.css
  apps/docs/src/pages/index.tsx
Due: prettier, typecheck, build-affected

fix(ci): exclude new-docs from validation to prevent hanging
  package.json
Due: none

chore(config): add documentation validation to build pipeline
  .gitignore
  lefthook.yml
  turbo.json
Due: none

feat(dev-cli): add comprehensive documentation validation commands
  tooling/dev-cli/README.md
  tooling/dev-cli/src/cli.ts
  tooling/dev-cli/src/commands/ci/ci.ts
  tooling/dev-cli/src/commands/docs/check-syntax.ts
  tooling/dev-cli/src/commands/docs/test-examples.ts
  tooling/dev-cli/src/commands/docs/validate-docs.ts
  tooling/dev-cli/src/index.ts
  tooling/dev-cli/src/utils/docs.ts
  tooling/dev-cli/tests/unit/docs.test.ts
Due: prettier, typecheck, build-affected

chore(docs): remove temporary new-docs directory
  new-docs/README.md
  new-docs/explanation/architecture.md
  new-docs/how-to/common-workflows.md
  new-docs/how-to/troubleshooting.md
  new-docs/reference/api/cli-building.md
  new-docs/reference/api/file-operations.md
  new-docs/reference/api/index.md
  new-docs/summary.md
  new-docs/tutorials/csv-hell-to-cli-heaven.md
Due: prettier

feat(docs): add structured API documentation and how-to guide
  apps/docs/sidebars.ts
  docs/how-to/generate-api-docs.md
  docs/reference/api/README.md
  docs/reference/api/cli-building.md
  docs/reference/api/cli.md
  docs/reference/api/config.md
  docs/reference/api/core.md
  docs/reference/api/create-cli.md
  docs/reference/api/data.md
  docs/reference/api/file-operations.md
  docs/reference/api/fs.md
  docs/reference/api/index.md
  docs/reference/api/sort.md
  docs/reference/api/validation.md
  docs/summary.md
  packages/cli/docs/reference/api.md
  packages/config/docs/reference/api.md
  packages/core/docs/reference/api.md
  packages/create-cli/docs/reference/api.md
  packages/data/docs/reference/api.md
  packages/fs/docs/reference/api.md
  packages/validation/docs/reference/api.md
Due: prettier, typecheck, docs-validate, build-affected

fix(docs): update navigation references to use new API structure
  apps/docs/docusaurus.config.ts
  packages/cli/typedoc.json
  packages/config/typedoc.json
  packages/core/typedoc.json
  packages/create-cli/typedoc.json
  packages/data/typedoc.json
  packages/fs/typedoc.json
  packages/validation/typedoc.json
  typedoc.json
Due: prettier, typecheck, build-affected

docs: update tutorial title and references
  docs/README.md
  docs/how-to/troubleshooting.md
  docs/tutorials/csv-hell-to-cli-heaven.md
Due: prettier, docs-validate

docs: update package documentation for new structure
  packages/cli/README.md
  packages/config/README.md
  packages/create-cli/README.md
  packages/create-cli/docs/reference/schema.md
  packages/create-cli/docs/reference/templates.md
  packages/data/README.md
  packages/data/docs/README.md
  packages/data/docs/how-to/process-data-files.md
  packages/fs/README.md
  packages/fs/docs/README.md
  packages/validation/README.md
  packages/validation/docs/README.md
  packages/validation/docs/how-to/validate-data.md
Due: prettier, docs-validate

chore(dev-cli): update docs utility for new API documentation structure
  tooling/dev-cli/src/utils/docs.ts
Due: prettier, typecheck, build-affected

docs(api): fix documentation accuracy and consistency issues
  docs/explanation/architecture.md
  docs/how-to/troubleshooting.md
  docs/reference/api/README.md
  docs/reference/api/cli.md
  docs/reference/api/config.md
  docs/reference/api/core.md
  docs/reference/api/create-cli.md
  docs/reference/api/data.md
  docs/reference/api/fs.md
  docs/reference/api/sort.md
  docs/reference/api/validation.md
  docs/tutorials/csv-hell-to-cli-heaven.md
  package.json
  packages/cli/src/index.ts
  pnpm-lock.yaml
  tooling/dev-cli/src/utils/docs.ts
  typedoc.json
Due: prettier, oxlint, typecheck, docs-validate, build-affected

style(docs): apply pre-commit hook formatting to API documentation
  docs/reference/api/README.md
  docs/reference/api/cli.md
  docs/reference/api/config.md
  docs/reference/api/core.md
  docs/reference/api/create-cli.md
  docs/reference/api/data.md
  docs/reference/api/fs.md
  docs/reference/api/sort.md
  docs/reference/api/validation.md
Due: prettier, docs-validate

style: apply prettier formatting to all files
  apps/docs/docusaurus.config.ts
  docs/reference/api/README.md
  docs/reference/api/cli.md
  docs/reference/api/config.md
  docs/reference/api/core.md
  docs/reference/api/create-cli.md
  docs/reference/api/data.md
  docs/reference/api/fs.md
  docs/reference/api/sort.md
  docs/reference/api/validation.md
  packages/cli/README.md
  typedoc.json
Due: prettier, typecheck, docs-validate, build-affected

fix(tests): update expected values for imported packages in validate-deps tests
  tooling/dev-cli/tests/unit/validate-deps.test.ts
Due: prettier, typecheck, build-affected

chore: add changeset for 1.0.0 release
  .changeset/gentle-pugs-tell.md
Due: prettier

docs(typedoc): fix JSDoc tags and suppress internal type warnings
  packages/cli/src/index.ts
  packages/config/src/index.ts
  packages/core/src/index.ts
  packages/create-cli/src/index.ts
  packages/data/src/csv/types.ts
  packages/data/src/excel/types.ts
  packages/data/src/index.ts
  packages/data/src/json/types.ts
  typedoc.json
Due: prettier, oxlint, typecheck, build-affected
