Repository trailhead-diy/trailhead: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, oxlint, typecheck, docs-validate, build-affected

Path conditions:
  prettier: any of: **/*.{ts,tsx,js,jsx,json,md}
  oxlint: any of: packages/**/*.{ts,tsx,js,jsx}
  typecheck: any of: **/*.{ts,tsx}
  docs-validate: any of: {docs,packages/**/docs}/**/*.md
  build-affected: any of: **/*.{ts,tsx,js,jsx,json}

fix(templates): use config values in template context
  packages/create-cli/src/lib/config/types.ts
  packages/create-cli/src/lib/templates/context.ts
Due: prettier, oxlint, typecheck, build-affected

test(templates): update tests for current implementation
  packages/create-cli/src/lib/templates/__tests__/modules.test.ts
  packages/create-cli/templates/modules/testing/src/__tests__/integration/cli.test.ts.hbs
Due: prettier, oxlint, typecheck, build-affected

refactor(create-cli): simplify the generator
  .changeset/witty-clowns-teach.md
Due: prettier

refactor(create-cli): simplify generator and add E2E testing (#198)
  .changeset/witty-clowns-teach.md
  .gitignore
  packages/create-cli/README.md
  packages/create-cli/config.example.json
  packages/create-cli/src/__tests__/integration.test.ts
  packages/create-cli/src/commands/config.ts
  packages/create-cli/src/commands/generate.ts
  packages/create-cli/src/index.ts
  packages/create-cli/src/lib/cli/args.ts
  packages/create-cli/src/lib/cli/index.ts
  packages/create-cli/src/lib/cli/prompts.ts
  packages/create-cli/src/lib/config/index.ts
  packages/create-cli/src/lib/config/manager.ts
  packages/create-cli/src/lib/config/presets.ts
  packages/create-cli/src/lib/config/schema.ts
  packages/create-cli/src/lib/config/types.ts
  packages/create-cli/src/lib/config/validation.ts
  packages/create-cli/src/lib/core/errors.ts
  packages/create-cli/src/lib/core/generator.ts
  packages/create-cli/src/lib/templates/__tests__/modules.test.ts
  packages/create-cli/src/lib/templates/context.ts
  packages/create-cli/src/lib/templates/loader.ts
  packages/create-cli/src/lib/templates/modules.ts
  packages/create-cli/src/lib/templates/types.ts
  packages/create-cli/templates/modules/config/config.example.json.hbs
  packages/create-cli/templates/modules/config/config.json.hbs
  packages/create-cli/templates/modules/config/src/commands/config.ts.hbs
  packages/create-cli/templates/modules/config/src/commands/hello.ts.hbs
  packages/create-cli/templates/modules/config/src/lib/config-schema.ts.hbs
  packages/create-cli/templates/modules/config/src/lib/config.ts.hbs
  packages/create-cli/templates/modules/core/src/commands/help.ts.hbs
  packages/create-cli/templates/modules/core/src/commands/version.ts.hbs
  packages/create-cli/templates/modules/core/src/index.ts.hbs
  packages/create-cli/templates/modules/testing/src/__tests__/commands/version.test.ts.hbs
  packages/create-cli/templates/modules/testing/src/__tests__/integration/cli.test.ts.hbs
  packages/create-cli/templates/modules/testing/vitest.config.ts.hbs
  packages/create-cli/templates/shared/bin/cli.js.hbs
  packages/create-cli/templates/shared/package.json.hbs
  packages/create-cli/templates/shared/tsup.config.ts.hbs
  packages/create-cli/templates/shared/vitest.config.ts.hbs
Due: prettier, oxlint, typecheck, build-affected

ci(docs): move generation to lefthook pre-push hook
  .github/workflows/docs.yml
  lefthook.yml
  package.json
  scripts/generate-docs.sh
Due: none

docs: update generated API documentation
  README.md
  docs/@trailhead.create-cli.md
Due: prettier

Docs actions (#200)
  .github/workflows/docs.yml
  README.md
  docs/@trailhead.create-cli.md
  lefthook.yml
  package.json
  scripts/generate-docs.sh
Due: prettier

chore(deps): update dependencies across monorepo
  packages/cli/package.json
  packages/config/package.json
  packages/core/package.json
  packages/create-cli/package.json
  packages/data/package.json
  packages/fs/package.json
  packages/sort/package.json
  packages/validation/package.json
  pnpm-lock.yaml
  tooling/tsup-config/package.json
  tooling/vitest-config/package.json
Due: prettier, build-affected

chore(deps): update dependencies across monorepo (#201)
  packages/cli/package.json
  packages/config/package.json
  packages/core/package.json
  packages/create-cli/package.json
  packages/data/package.json
  packages/fs/package.json
  packages/sort/package.json
  packages/validation/package.json
  pnpm-lock.yaml
  tooling/tsup-config/package.json
  tooling/vitest-config/package.json
Due: prettier, build-affected

fix(ci): remove --force flag from build step in CI workflow
  .changeset/olive-ears-grin.md
  .github/workflows/ci-main.yml
Due: prettier

fix(ci): remove --force flag from build step in CI workflow (#202)
  .changeset/olive-ears-grin.md
  .github/workflows/ci-main.yml
Due: prettier

docs: fix package names and broken links in documentation
  README.md
  packages/cli/README.md
  packages/cli/docs/how-to/add-configuration.md
  packages/cli/docs/how-to/add-file-operations.md
  packages/cli/docs/how-to/import-patterns.md
  packages/cli/docs/how-to/optimization-guide.md
  packages/cli/docs/tutorials/build-complete-cli.md
  packages/cli/docs/tutorials/csv-hell.md
  packages/cli/docs/tutorials/getting-started.md
  packages/create-cli/docs/tutorials/getting-started.md
  packages/data/docs/README.md
  packages/data/docs/how-to/process-data-files.md
  packages/fs/docs/README.md
  packages/fs/docs/explanation/result-patterns.md
  packages/validation/docs/README.md
  packages/validation/docs/explanation/composition-patterns.md
  packages/validation/docs/how-to/validate-data.md
Due: prettier, docs-validate

feat(cli): migrate to Clack and picocolors for v2.0.0
  packages/cli/package.json
  packages/cli/src/progress/enhanced-tracker.ts
  packages/cli/src/progress/index.ts
  packages/cli/src/progress/tracker.ts
  packages/cli/src/progress/types.ts
  packages/cli/src/prompts/index.ts
  packages/cli/src/testing/context.ts
  packages/cli/src/testing/index.ts
  packages/cli/src/utils/chalk.ts
  packages/cli/src/utils/index.ts
  packages/cli/src/utils/logger.ts
  packages/cli/src/utils/spinner.ts
  packages/create-cli/src/lib/core/generator.ts
  pnpm-lock.yaml
Due: prettier, oxlint, typecheck, build-affected

chore: clean up orphaned refs to deleted packages
  .changeset/olive-ears-grin.md
  CLAUDE.md
  LLM-GUIDE.md
  README.md
  docs/@trailhead.config.md
  docs/@trailhead.validation.md
  docs/README.md
  packages/cli/.claude/analysis/coverage-report.json
  packages/cli/docs/README.md
  packages/cli/docs/how-to/add-configuration.md
  packages/cli/docs/how-to/import-patterns.md
  packages/cli/docs/tutorials/build-complete-cli.md
  packages/core/.claude/analysis/coverage-report.json
  packages/create-cli/.claude/analysis/coverage-report.json
  packages/data/.claude/analysis/coverage-report.json
  packages/data/docs/how-to/process-data-files.md
  packages/fs/.claude/analysis/coverage-report.json
  packages/fs/docs/README.md
  packages/fs/docs/how-to/file-operations.md
  packages/sort/.claude/analysis/coverage-report.json
  tooling/vitest-config/vitest.shared.ts
  typedoc.json
Due: prettier, typecheck, docs-validate, build-affected

chore: remove @trailhead/fs package
  packages/fs/CHANGELOG.md
  packages/fs/README.md
  packages/fs/docs/README.md
  packages/fs/docs/explanation/result-patterns.md
  packages/fs/docs/how-to/file-operations.md
  packages/fs/package.json
  packages/fs/src/__tests__/core.test.ts
  packages/fs/src/__tests__/errors.test.ts
  packages/fs/src/__tests__/index.test.ts
  packages/fs/src/__tests__/sorting.test.ts
  packages/fs/src/core.ts
  packages/fs/src/errors.ts
  packages/fs/src/index.ts
  packages/fs/src/testing/fixtures.ts
  packages/fs/src/testing/index.ts
  packages/fs/src/testing/mock-fs.ts
  packages/fs/src/types.ts
  packages/fs/src/utils/index.ts
  packages/fs/src/utils/path-utils.ts
  packages/fs/src/utils/sorting.ts
  packages/fs/tsconfig.json
  packages/fs/tsup.config.ts
  packages/fs/typedoc.json
  packages/fs/vitest.config.ts
Due: prettier, oxlint, typecheck, docs-validate, build-affected

chore: remove @trailhead/sort package
  packages/sort/CHANGELOG.md
  packages/sort/README.md
  packages/sort/package.json
  packages/sort/src/__tests__/index.test.ts
  packages/sort/src/__tests__/native.test.ts
  packages/sort/src/index.ts
  packages/sort/src/native.ts
  packages/sort/src/strings.ts
  packages/sort/src/types.ts
  packages/sort/tsconfig.json
  packages/sort/tsup.config.ts
  packages/sort/vitest.config.ts
Due: prettier, oxlint, typecheck, build-affected

refactor(core): remove validation module and fp-ts dependency
  packages/core/__tests__/functional.test.ts
  packages/core/package.json
  packages/core/src/functional/composition.ts
  packages/core/src/index.ts
  packages/core/src/validation.ts
  packages/core/tsup.config.ts
Due: prettier, oxlint, typecheck, build-affected

feat(cli): add fs module with filesystem abstractions
  packages/cli/package.json
  packages/cli/src/fs/__tests__/core.test.ts
  packages/cli/src/fs/__tests__/errors.test.ts
  packages/cli/src/fs/__tests__/index.test.ts
  packages/cli/src/fs/__tests__/sorting.test.ts
  packages/cli/src/fs/core.ts
  packages/cli/src/fs/errors.ts
  packages/cli/src/fs/index.ts
  packages/cli/src/fs/testing/fixtures.ts
  packages/cli/src/fs/testing/index.ts
  packages/cli/src/fs/testing/mock-fs.ts
  packages/cli/src/fs/types.ts
  packages/cli/src/fs/utils/index.ts
  packages/cli/src/fs/utils/path-utils.ts
  packages/cli/src/fs/utils/sorting.ts
  packages/cli/tsup.config.ts
Due: prettier, oxlint, typecheck, build-affected

refactor(cli): update imports to use local fs module
  packages/cli/CLAUDE.md
  packages/cli/src/cli.ts
  packages/cli/src/command/git-hooks.ts
  packages/cli/src/testing/context.ts
  packages/cli/src/testing/integration.test.ts
  packages/cli/src/testing/performance.ts
  packages/cli/src/testing/simple-integration.test.ts
  packages/cli/src/utils/stats.ts
  packages/cli/tests/command-registration.test.ts
Due: prettier, oxlint, typecheck, build-affected

refactor: update packages to use @trailhead/cli/fs
  packages/create-cli/package.json
  packages/create-cli/src/__tests__/integration.test.ts
  packages/create-cli/src/lib/core/generator.ts
  packages/create-cli/src/lib/templates/__tests__/modules.test.ts
  packages/create-cli/src/lib/templates/compiler.ts
  packages/create-cli/src/lib/templates/modules.ts
  packages/create-cli/templates/modules/config/src/lib/config.ts.hbs
  packages/create-cli/templates/modules/examples/src/commands/build.ts.hbs
  packages/create-cli/templates/shared/package.json.hbs
  packages/create-cli/tsup.config.ts
  packages/data/package.json
  packages/data/src/csv/core.ts
  packages/data/src/detection/core.ts
  packages/data/src/errors.ts
  packages/data/src/excel/core.ts
  packages/data/src/json/core.ts
Due: prettier, oxlint, typecheck, build-affected

docs: update references after package consolidation
  CLAUDE.md
  README.md
  docs/@trailhead.fs.md
  docs/@trailhead.sort.md
  docs/README.md
Due: prettier

chore: update vitest config and lockfile for package changes
  pnpm-lock.yaml
  tooling/vitest-config/setup.ts
  tooling/vitest-config/vitest.shared.ts
Due: prettier, typecheck, build-affected

test: fix no-assertion patterns and improve assertions
  packages/cli/tests/cli-orchestration.test.ts
  packages/core/__tests__/functional.test.ts
  packages/data/src/detection/core.test.ts
Due: prettier, oxlint, typecheck, build-affected

test: add coverage gap tests across packages
  packages/cli/tests/patterns.test.ts
  packages/core/__tests__/error-mappers.test.ts
  packages/create-cli/src/lib/config/__tests__/validation.test.ts
  packages/create-cli/src/lib/templates/__tests__/sanitization.test.ts
  packages/data/tests/csv.integration.test.ts
  packages/data/tests/excel.integration.test.ts
  packages/data/tests/fixtures/sample.csv
  packages/data/tests/fixtures/sample.json
  packages/data/tests/json.integration.test.ts
Due: prettier, oxlint, typecheck, build-affected

test: add coverage gap tests across packages
  packages/cli/tests/builders.test.ts
  packages/cli/tests/git-hooks.integration.test.ts
  packages/cli/tests/subprocess.test.ts
  packages/core/__tests__/testing-utils.test.ts
  packages/data/src/json/__tests__/edge-cases.test.ts
Due: prettier, oxlint, typecheck, build-affected

fix(create-cli): fix template import extensions and API usage
  packages/create-cli/templates/modules/config/src/commands/config.ts.hbs
  packages/create-cli/templates/modules/config/src/commands/hello.ts.hbs
  packages/create-cli/templates/modules/config/src/lib/config.ts.hbs
  packages/create-cli/templates/modules/core/src/index.ts.hbs
  packages/create-cli/templates/modules/validation/src/commands/validate.ts.hbs
Due: none

feat(create-cli): add tarball approach for E2E testing
  packages/create-cli/src/__tests__/integration.test.ts
Due: prettier, oxlint, typecheck, build-affected

test: expand test coverage for cli and data packages
  packages/cli/tests/builders.test.ts
  packages/cli/tests/cli-creation.test.ts
  packages/cli/tests/patterns.test.ts
  packages/data/src/detection/core.test.ts
Due: prettier, oxlint, typecheck, build-affected

fix(data): correct writeFile argument order in csv/json
  packages/data/src/csv/core.ts
  packages/data/src/json/core.ts
Due: prettier, oxlint, typecheck, build-affected

fix(data): wrap JSON results in ParsedData for consistent API
  packages/data/src/operations.test.ts
  packages/data/src/operations.ts
Due: prettier, oxlint, typecheck, build-affected

test(cli): fix test API usage to match command interface
  packages/cli/tests/builders.test.ts
  packages/cli/tests/cli-creation.test.ts
Due: prettier, oxlint, typecheck, build-affected

test(data): align detection tests with actual behavior
  packages/data/src/detection/core.test.ts
Due: prettier, oxlint, typecheck, build-affected

test(cli): add prompt utility tests
  packages/cli/tests/prompts.test.ts
Due: prettier, oxlint, typecheck, build-affected

test(core): add error factory and type guard tests
  packages/core/__tests__/error-factories.test.ts
  packages/core/__tests__/type-guards.test.ts
Due: prettier, oxlint, typecheck, build-affected

test(create-cli): add Handlebars helper tests
  packages/create-cli/src/lib/templates/__tests__/helpers.test.ts
Due: prettier, oxlint, typecheck, build-affected

test(data): add unified operations integration tests
  packages/data/tests/operations.integration.test.ts
Due: prettier, oxlint, typecheck, build-affected

chore(analysis): add coverage gap analysis reports
  .claude/analysis/monorepo-coverage.json
  .claude/plans/2025-12-28_coverage-gap-fixes.md
  packages/cli/.claude/analysis/coverage-report.json
  packages/core/.claude/analysis/coverage-report.json
  packages/create-cli/.claude/analysis/coverage-report.json
  packages/data/.claude/analysis/coverage-report.json
Due: prettier, build-affected

fix(data): handle Excel binary files correctly
  packages/data/src/excel/core.ts
Due: prettier, oxlint, typecheck, build-affected
