Repository trailhead-diy/trailhead: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, oxlint, typecheck, docs-validate, build-affected

prettier:
  priority: 1
  run: pnpm prettier --write {staged_files} --cache --cache-location .turbo/.prettiercache
  stage_fixed: true

oxlint:
  priority: 2
  run: pnpm oxlint {staged_files} --fix
  stage_fixed: true

typecheck:
  priority: 3
  run: pnpm types --filter="./packages/*" -- --incremental

docs-validate:
  priority: 4
  run: "staged_docs=$(git diff --cached --name-only --diff-filter=ACM | grep -E '\\.(md)$' | grep -E '(docs/|packages/.*/docs/)' || true)\nif [ -n \"$staged_docs\" ]; then\n  for file in $staged_docs; do\n    pnpm docs:validate \"$file\"\n  done\nfi\n"

build-affected:
  priority: 7
  run: "echo \"üî® Building affected packages...\"\n# Use Turborepo's affected detection with caching\npnpm turbo build --filter='...[HEAD^1]' --cache-dir=.turbo || {\n  echo \"‚ùå Build failed - this would fail in CI\"\n  exit 1\n}\necho \"‚úÖ Build validation passed\"\n"

docs: add comprehensive implementation review for foundation improvements
  implementation-review-complete.md
Due: none

chore(testing): remove centralized testing package
  packages/testing/package.json
  packages/testing/src/core/index.ts
  packages/testing/src/core/operations.test.ts
  packages/testing/src/core/operations.ts
  packages/testing/src/fixtures/index.ts
  packages/testing/src/fixtures/operations.test.ts
  packages/testing/src/fixtures/operations.ts
  packages/testing/src/index.ts
  packages/testing/src/mocks/index.ts
  packages/testing/src/mocks/operations.test.ts
  packages/testing/src/mocks/operations.ts
  packages/testing/src/runners/index.ts
  packages/testing/src/runners/operations.ts
  packages/testing/src/types.ts
  packages/testing/tsconfig.json
  packages/testing/tsup.config.ts
  packages/testing/vitest.config.ts
Due: prettier, oxlint, typecheck, build-affected

fix(cli): integrate with new error handling and distributed testing systems
  packages/cli/src/testing/context.ts
  packages/cli/src/testing/index.ts
  packages/cli/src/testing/mocks.ts
  packages/cli/src/testing/vitest-matchers.ts
  packages/cli/src/utils/package-manager.ts
Due: prettier, oxlint, typecheck, build-affected

chore(deps): update package configurations for foundation improvements
  package.json
  packages/config/package.json
  packages/core/package.json
  packages/core/vitest.config.ts
  packages/fs/package.json
  tooling/vitest-config/vitest.shared.ts
Due: prettier, oxlint, typecheck, build-affected

chore(config,git): add test coverage reporting scripts
  packages/config/package.json
  packages/git/package.json
Due: prettier, build-affected

test(cli,core): implement comprehensive HIGH-ROI test coverage
  packages/cli/src/progress/enhanced-tracker.test.ts
  packages/cli/src/progress/tracker.test.ts
  packages/cli/src/utils/package-manager.test.ts
  packages/core/src/functional/async.test.ts
Due: prettier, oxlint, typecheck, build-affected

feat(data): implement unified data operations with comprehensive testing
  packages/data/src/conversion/core.test.ts
  packages/data/src/conversion/core.ts
  packages/data/src/conversion/index.ts
  packages/data/src/conversion/types.ts
  packages/data/src/detection/core.test.ts
  packages/data/src/detection/core.ts
  packages/data/src/detection/database.ts
  packages/data/src/detection/index.ts
  packages/data/src/detection/types.ts
  packages/data/src/formats-errors.ts
  packages/data/src/formats-types.ts
  packages/data/src/formats/index.ts
  packages/data/src/mime/core.test.ts
  packages/data/src/mime/core.ts
  packages/data/src/mime/index.ts
  packages/data/src/mime/types.ts
  packages/data/src/operations.test.ts
  packages/data/src/operations.ts
  packages/data/src/testing/format-testing.ts
Due: prettier, oxlint, typecheck, build-affected

feat(create-cli): update templates to use current foundation architecture
  packages/create-cli/templates/advanced/README.md.hbs
  packages/create-cli/templates/advanced/src/commands/config.ts.hbs
  packages/create-cli/templates/advanced/src/commands/init.ts.hbs
  packages/create-cli/templates/advanced/src/commands/validate.ts.hbs
  packages/create-cli/templates/advanced/src/index.ts.hbs
  packages/create-cli/templates/basic/README.md.hbs
  packages/create-cli/templates/basic/src/__tests__/integration/cli.test.ts.hbs
  packages/create-cli/templates/basic/src/commands/__tests__/build.test.ts.hbs
  packages/create-cli/templates/basic/src/commands/__tests__/dev.test.ts.hbs
  packages/create-cli/templates/basic/src/commands/build.ts.hbs
  packages/create-cli/templates/basic/src/commands/dev.ts.hbs
  packages/create-cli/templates/basic/src/index.ts.hbs
  packages/create-cli/templates/modules/core/src/commands/help.ts.hbs
  packages/create-cli/templates/modules/core/src/commands/version.ts.hbs
  packages/create-cli/templates/modules/core/src/index.ts.hbs
  packages/create-cli/templates/modules/testing/src/__tests__/commands/version.test.ts.hbs
  packages/create-cli/templates/shared/package.json.hbs
Due: none

feat(git): add branch sync functionality for git hooks
  lefthook.yml
  packages/cli/src/testing/context.ts
  packages/config/src/core/operations.ts
  packages/core/src/functional/composition.ts
  packages/create-cli/src/commands/config.ts
  packages/create-cli/src/lib/git-operations.ts
  packages/create-cli/src/lib/template-context.ts
  packages/git/src/index.ts
  packages/git/src/status/operations.ts
  packages/git/src/types.ts
  packages/web-ui/src/cli/commands/__tests__/enhance.test.ts
  packages/web-ui/src/index.ts
Due: prettier, oxlint, typecheck, build-affected

feat(create-cli): complete CLI framework foundation implementation
  packages/create-cli/README.md
  packages/create-cli/docs/CLI_FRAMEWORK_MIGRATION.md
  packages/create-cli/docs/ERROR_HANDLING.md
  packages/create-cli/docs/TESTING_PATTERNS.md
  packages/create-cli/docs/adr/001-cli-framework-adoption.md
  packages/create-cli/docs/adr/002-functional-programming.md
  packages/create-cli/src/__tests__/generator.test.ts
  packages/create-cli/src/commands/config.ts
  packages/create-cli/src/index.ts
  packages/create-cli/src/lib/args-parser.ts
  packages/create-cli/src/lib/config-manager.ts
  packages/create-cli/src/lib/error-helpers.ts
  packages/create-cli/src/lib/generator.ts
  packages/create-cli/src/lib/interactive-prompts.ts
  packages/create-cli/src/lib/logger-utils.ts
  packages/create-cli/src/lib/logger.ts
  packages/create-cli/src/lib/preset-manager.ts
  packages/create-cli/src/lib/template-compiler.ts
  packages/create-cli/src/lib/types.ts
  packages/create-cli/src/testing/index.ts
  packages/create-cli/templates/advanced/src/commands/__tests__/config.test.ts.hbs
  packages/create-cli/templates/advanced/src/commands/__tests__/init.test.ts.hbs
  packages/create-cli/templates/advanced/src/commands/__tests__/validate.test.ts.hbs
  packages/create-cli/templates/advanced/src/commands/build.ts.hbs
  packages/create-cli/templates/advanced/src/commands/config.ts.hbs
  packages/create-cli/templates/advanced/src/commands/dev.ts.hbs
  packages/create-cli/templates/basic/src/commands/build.ts.hbs
  packages/create-cli/templates/basic/src/commands/dev.ts.hbs
  packages/create-cli/templates/shared/docs/how-to/add-configuration.md.hbs
Due: prettier, oxlint, typecheck, docs-validate, build-affected

feat(create-cli): complete CLI framework foundation implementation (#146)
  packages/create-cli/README.md
  packages/create-cli/docs/CLI_FRAMEWORK_MIGRATION.md
  packages/create-cli/docs/ERROR_HANDLING.md
  packages/create-cli/docs/TESTING_PATTERNS.md
  packages/create-cli/docs/adr/001-cli-framework-adoption.md
  packages/create-cli/docs/adr/002-functional-programming.md
  packages/create-cli/src/__tests__/generator.test.ts
  packages/create-cli/src/commands/config.ts
  packages/create-cli/src/index.ts
  packages/create-cli/src/lib/args-parser.ts
  packages/create-cli/src/lib/config-manager.ts
  packages/create-cli/src/lib/error-helpers.ts
  packages/create-cli/src/lib/generator.ts
  packages/create-cli/src/lib/interactive-prompts.ts
  packages/create-cli/src/lib/logger-utils.ts
  packages/create-cli/src/lib/logger.ts
  packages/create-cli/src/lib/preset-manager.ts
  packages/create-cli/src/lib/template-compiler.ts
  packages/create-cli/src/lib/types.ts
  packages/create-cli/src/testing/index.ts
  packages/create-cli/templates/advanced/src/commands/__tests__/config.test.ts.hbs
  packages/create-cli/templates/advanced/src/commands/__tests__/init.test.ts.hbs
  packages/create-cli/templates/advanced/src/commands/__tests__/validate.test.ts.hbs
  packages/create-cli/templates/advanced/src/commands/build.ts.hbs
  packages/create-cli/templates/advanced/src/commands/config.ts.hbs
  packages/create-cli/templates/advanced/src/commands/dev.ts.hbs
  packages/create-cli/templates/basic/src/commands/build.ts.hbs
  packages/create-cli/templates/basic/src/commands/dev.ts.hbs
  packages/create-cli/templates/shared/docs/how-to/add-configuration.md.hbs
Due: prettier, oxlint, typecheck, docs-validate, build-affected

refactor(core): enhance error factory with standardized patterns
  packages/core/src/errors/factory.ts
Due: prettier, oxlint, typecheck, build-affected

feat(core): add utility exports and build configuration
  packages/core/src/index.ts
  packages/core/src/utils/colors.ts
  packages/core/src/utils/index.ts
  packages/core/tsup.config.ts
Due: prettier, oxlint, typecheck, build-affected

refactor(data): adopt new error factory patterns
  packages/data/src/conversion/core.ts
  packages/data/src/csv/core.ts
  packages/data/src/detection/core.ts
  packages/data/src/errors.ts
  packages/data/src/excel/core.ts
  packages/data/src/formats-errors.ts
  packages/data/src/json/core.ts
  packages/data/src/mime/core.ts
  packages/data/src/operations.test.ts
  packages/data/src/operations.ts
  packages/data/src/types.ts
  packages/data/tsup.config.ts
Due: prettier, oxlint, typecheck, build-affected

fix(data): resolve lint errors in testing utilities
  packages/data/src/testing/format-testing.test.ts
  packages/data/src/testing/format-testing.ts
Due: prettier, oxlint, typecheck, build-affected

refactor(fs): consolidate path utilities and update error handling
  packages/fs/src/errors.ts
  packages/fs/src/index.ts
  packages/fs/src/utils/index.ts
  packages/fs/src/utils/path-utils.ts
  packages/fs/tsup.config.ts
Due: prettier, oxlint, typecheck, build-affected

refactor(fs): update testing utilities and remove deprecated files
  packages/fs/src/testing/index.ts
  packages/fs/src/testing/path-helpers.ts
Due: prettier, oxlint, typecheck, build-affected

refactor(validation,config): remove backward compatibility exports
  packages/config/src/__tests__/validation-errors.test.ts
  packages/config/src/types.ts
  packages/config/src/validation/formatters.ts
  packages/config/tsup.config.ts
  packages/validation/src/testing/index.ts
Due: prettier, oxlint, typecheck, build-affected

refactor(cli,create-cli,git): update packages to use new patterns
  packages/cli/src/utils/chalk.ts
  packages/create-cli/src/__tests__/generator.test.ts
  packages/git/src/testing/git-mock-operations.test.ts
  packages/git/src/testing/index.ts
  packages/git/src/testing/mock-helpers.ts
  packages/git/src/types.ts
Due: prettier, oxlint, typecheck, build-affected

chore: update package.json dependencies
  packages/core/package.json
  packages/data/package.json
  packages/fs/package.json
Due: prettier, build-affected

feat(tooling): add shared tsup configuration
  tooling/tsup-config/package.json
  tooling/tsup-config/src/index.ts
  tooling/tsup-config/tsconfig.json
  tooling/tsup-config/tsup.config.ts
  tooling/tsup-config/tsup.shared.ts
Due: prettier, typecheck, build-affected

feat(tooling): enhance vitest configuration
  tooling/vitest-config/setup.ts
  tooling/vitest-config/vitest.shared.ts
Due: prettier, typecheck, build-affected

chore: update pnpm lock file
  pnpm-lock.yaml
Due: none

docs: add testing guidelines and documentation templates
  TESTING.md
  docs/PACKAGE_DOCUMENTATION_TEMPLATE.md
  docs/TEST_TEMPLATE.md
Due: prettier

docs: update project planning and review documentation
  DOMAIN_DRIVEN_TESTING_GUIDE.md
  domain-driven-testing-plan.md
  implementation-review-complete.md
Due: none

chore(deps): update development dependencies
  .github/CI_OPTIMIZATIONS.md
  .github/actions/setup-monorepo/action.yml
  .github/actions/setup-node-pnpm/action.yml
  .github/workflows/ci-pr.yml
  .github/workflows/cli-examples.yml
  .github/workflows/dependency-review.yml
  .github/workflows/reusable-ci.yml
  docs/git-commit-best-practices.md
  docs/how-to/contributing.md
  package.json
  packages/create-cli/src/lib/template-context.ts
  packages/create-cli/templates/shared/package.json.hbs
  packages/web-ui/package.json
  pnpm-lock.yaml
  tooling/vitest-config/vitest.shared.ts
Due: prettier, oxlint, typecheck, docs-validate, build-affected

chore(deps): update development dependencies (#148)
  .github/CI_OPTIMIZATIONS.md
  .github/actions/setup-monorepo/action.yml
  .github/actions/setup-node-pnpm/action.yml
  .github/workflows/ci-pr.yml
  .github/workflows/cli-examples.yml
  .github/workflows/dependency-review.yml
  .github/workflows/reusable-ci.yml
  docs/git-commit-best-practices.md
  docs/how-to/contributing.md
  package.json
  packages/create-cli/src/lib/template-context.ts
  packages/create-cli/templates/shared/package.json.hbs
  packages/web-ui/package.json
  pnpm-lock.yaml
  tooling/vitest-config/vitest.shared.ts
Due: prettier, oxlint, typecheck, docs-validate, build-affected

feat(git): enhance git module for atomic commit automation
  packages/git/package.json
  packages/git/src/commands/operations.ts
  packages/git/src/config/index.ts
  packages/git/src/config/operations.ts
  packages/git/src/core/git-exec.ts
  packages/git/src/core/operations.test.ts
  packages/git/src/diff/operations.ts
  packages/git/src/errors.ts
  packages/git/src/exclusion/index.ts
  packages/git/src/exclusion/operations.ts
  packages/git/src/hooks/index.ts
  packages/git/src/hooks/operations.ts
  packages/git/src/index.ts
  packages/git/src/log/index.ts
  packages/git/src/log/operations.ts
  packages/git/src/remote/index.ts
  packages/git/src/remote/operations.ts
  packages/git/src/staging/index.ts
  packages/git/src/staging/operations.ts
  packages/git/src/stash/index.ts
  packages/git/src/stash/operations.ts
  packages/git/src/status/operations.ts
  packages/git/src/testing/index.ts
  packages/git/src/testing/mock-helpers.ts
  packages/git/src/types.ts
  packages/git/src/validation/index.ts
  packages/git/src/validation/operations.ts
  packages/git/tsup.config.ts
Due: prettier, oxlint, typecheck, build-affected

feat(git): enhance git module for atomic commit automation (#149)
  packages/git/package.json
  packages/git/src/commands/operations.ts
  packages/git/src/config/index.ts
  packages/git/src/config/operations.ts
  packages/git/src/core/git-exec.ts
  packages/git/src/core/operations.test.ts
  packages/git/src/diff/operations.ts
  packages/git/src/errors.ts
  packages/git/src/exclusion/index.ts
  packages/git/src/exclusion/operations.ts
  packages/git/src/hooks/index.ts
  packages/git/src/hooks/operations.ts
  packages/git/src/index.ts
  packages/git/src/log/index.ts
  packages/git/src/log/operations.ts
  packages/git/src/remote/index.ts
  packages/git/src/remote/operations.ts
  packages/git/src/staging/index.ts
  packages/git/src/staging/operations.ts
  packages/git/src/stash/index.ts
  packages/git/src/stash/operations.ts
  packages/git/src/status/operations.ts
  packages/git/src/testing/index.ts
  packages/git/src/testing/mock-helpers.ts
  packages/git/src/types.ts
  packages/git/src/validation/index.ts
  packages/git/src/validation/operations.ts
  packages/git/tsup.config.ts
Due: prettier, oxlint, typecheck, build-affected

feat(dependency-analysis): create package structure and configuration
  packages/dependency-analysis/.oxlintignore
  packages/dependency-analysis/.prettierignore
  packages/dependency-analysis/package.json
  packages/dependency-analysis/tsconfig.json
  packages/dependency-analysis/tsup.config.ts
  packages/dependency-analysis/vitest.config.ts
  pnpm-lock.yaml
Due: prettier, oxlint, typecheck, build-affected

feat(dependency-analysis): add core types and interfaces
  packages/dependency-analysis/src/types.ts
Due: prettier, oxlint, typecheck, build-affected

feat(dependency-analysis): implement dependency graph generation
  packages/dependency-analysis/src/graph/dependency-cruiser.ts
  packages/dependency-analysis/src/graph/index.ts
  packages/dependency-analysis/src/graph/tree-sitter-parser.ts
Due: prettier, oxlint, typecheck, build-affected

feat(dependency-analysis): add intelligent grouping strategies
  packages/dependency-analysis/src/grouping/complex-grouping.ts
  packages/dependency-analysis/src/grouping/index.ts
  packages/dependency-analysis/src/grouping/simple-grouping.ts
Due: prettier, oxlint, typecheck, build-affected

feat(dependency-analysis): implement analysis engine and git integration
  packages/dependency-analysis/src/analysis/engine.ts
  packages/dependency-analysis/src/analysis/git-integration.ts
  packages/dependency-analysis/src/analysis/index.ts
Due: prettier, oxlint, typecheck, build-affected

Path conditions:
  prettier: any of: **/*.{ts,tsx,js,jsx,json,md}
  oxlint: any of: packages/**/*.{ts,tsx,js,jsx}
  typecheck: any of: **/*.{ts,tsx}
  docs-validate: any of: {docs,packages/**/docs}/**/*.md
  build-affected: any of: **/*.{ts,tsx,js,jsx,json}
