Repository trailhead-diy/trailhead: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, oxlint, typecheck, docs-validate, build-affected

prettier:
  priority: 1
  run: pnpm prettier --write {staged_files} --cache --cache-location .turbo/.prettiercache
  stage_fixed: true

oxlint:
  priority: 2
  run: pnpm oxlint {staged_files} --fix
  stage_fixed: true

typecheck:
  priority: 3
  run: pnpm types --filter="./packages/*" -- --incremental

docs-validate:
  priority: 4
  run: "staged_docs=$(git diff --cached --name-only --diff-filter=ACM | grep -E '\\.(md)$' | grep -E '(docs/|packages/.*/docs/)' || true)\nif [ -n \"$staged_docs\" ]; then\n  for file in $staged_docs; do\n    pnpm docs:validate \"$file\"\n  done\nfi\n"

build-affected:
  priority: 7
  run: "echo \"üî® Building affected packages...\"\n# Use Turborepo's affected detection with caching\npnpm turbo build --filter='...[HEAD^1]' --cache-dir=.turbo || {\n  echo \"‚ùå Build failed - this would fail in CI\"\n  exit 1\n}\necho \"‚úÖ Build validation passed\"\n"

feat(dependency-analysis): add logging and performance profiling
  packages/dependency-analysis/src/core/index.ts
  packages/dependency-analysis/src/core/logger.ts
  packages/dependency-analysis/src/core/performance.ts
Due: prettier, oxlint, typecheck, build-affected

feat(dependency-analysis): add main exports, testing utilities and documentation
  packages/dependency-analysis/README.md
  packages/dependency-analysis/examples/gcwm-auto-demo.ts
  packages/dependency-analysis/src/index.ts
  packages/dependency-analysis/src/testing/index.ts
Due: prettier, oxlint, typecheck, build-affected

test(dependency-analysis): add comprehensive test suite
  packages/dependency-analysis/src/__tests__/engine.test.ts
  packages/dependency-analysis/src/__tests__/grouping.test.ts
Due: prettier, oxlint, typecheck, build-affected

fix(dependency-analysis): resolve all lint and TypeScript errors
  packages/dependency-analysis/examples/gcwm-auto-demo.ts
  packages/dependency-analysis/src/analysis/git-integration.ts
  packages/dependency-analysis/src/core/logger.ts
  packages/dependency-analysis/src/grouping/complex-grouping.ts
  packages/dependency-analysis/src/grouping/simple-grouping.ts
Due: prettier, oxlint, typecheck, build-affected

test(dependency-analysis): fix failing tests and improve test coverage
  packages/dependency-analysis/README.md
  packages/dependency-analysis/src/__tests__/engine.test.ts
  packages/dependency-analysis/src/__tests__/grouping.test.ts
  packages/dependency-analysis/src/analysis/engine.ts
  packages/dependency-analysis/src/analysis/index.ts
  packages/dependency-analysis/src/core/index.ts
  packages/dependency-analysis/src/core/performance.ts
  packages/dependency-analysis/src/graph/dependency-cruiser.ts
  packages/dependency-analysis/src/graph/index.ts
  packages/dependency-analysis/src/graph/tree-sitter-parser.ts
  packages/dependency-analysis/src/grouping/index.ts
  packages/dependency-analysis/src/index.ts
  packages/dependency-analysis/src/testing/index.ts
  packages/dependency-analysis/src/types.ts
Due: prettier, oxlint, typecheck, build-affected

fix(dependency-analysis): update extractExports function parameter type to any
  packages/dependency-analysis/src/graph/tree-sitter-parser.ts
Due: prettier, oxlint, typecheck, build-affected

fix(dependency-analysis): resolve TypeScript implicit any errors
  packages/dependency-analysis/src/__tests__/engine.test.ts
  packages/dependency-analysis/src/__tests__/grouping.test.ts
  packages/dependency-analysis/src/analysis/engine.ts
  packages/dependency-analysis/src/analysis/git-integration.ts
Due: prettier, oxlint, typecheck, build-affected

feat(vitest-config): auto-resolve workspace packages in shared config
  tooling/vitest-config/vitest.shared.ts
Due: prettier, typecheck, build-affected

refactor: simplify vitest configs to use shared workspace resolution
  packages/cli/vitest.config.ts
Due: prettier, oxlint, typecheck, build-affected

refactor: migrate all packages to use shared vitest config
  packages/config/vitest.config.ts
  packages/create-cli/vitest.config.ts
  packages/data/vitest.config.ts
  packages/fs/vitest.config.ts
  packages/git/vitest.config.ts
  packages/validation/vitest.config.ts
  packages/web-ui/vitest.config.ts
Due: prettier, oxlint, typecheck, build-affected

fix(vitest-config): add robust workspace package resolution
  tooling/vitest-config/vitest.shared.ts
Due: prettier, typecheck, build-affected

refactor(test): migrate to native Vitest projects configuration
  packages/cli/vitest.config.ts
  packages/config/vitest.config.ts
  packages/core/vitest.config.ts
  packages/create-cli/vitest.config.ts
  packages/data/vitest.config.ts
  packages/dependency-analysis/vitest.config.ts
  packages/fs/vitest.config.ts
  packages/git/vitest.config.ts
  packages/validation/vitest.config.ts
  packages/web-ui/vitest.config.ts
  tooling/vitest-config/package.json
  tooling/vitest-config/vitest.shared.ts
  vitest.config.mjs
Due: prettier, oxlint, typecheck, build-affected

fix(typescript): update all packages to extend from node.json
  packages/cli/examples/api-client/tsconfig.json
  packages/cli/examples/cross-platform-cli/tsconfig.json
  packages/cli/examples/file-processor/tsconfig.json
  packages/cli/examples/project-generator/tsconfig.json
  packages/cli/examples/todo-cli/tsconfig.json
  packages/cli/tsconfig.json
  packages/config/tsconfig.json
  packages/core/tsconfig.json
  packages/create-cli/tsconfig.json
  packages/data/tsconfig.json
  packages/dependency-analysis/tsconfig.json
  packages/fs/tsconfig.json
  packages/git/tsconfig.json
  packages/validation/tsconfig.json
  packages/web-ui/tsconfig.json
  tooling/docs-tooling/tsconfig.json
  tooling/typescript-config/node.json
  tooling/vitest-config/tsconfig.json
Due: prettier, build-affected

fix(build): enable tsup declaration generation
  packages/cli/package.json
  packages/cli/tsup.config.ts
  packages/config/package.json
  packages/config/tsup.config.ts
  packages/core/tsup.config.bundled_zge30t3ynuj.mjs
  packages/core/tsup.config.ts
  packages/create-cli/package.json
  packages/create-cli/tsup.config.ts
  packages/data/package.json
  packages/dependency-analysis/package.json
  packages/fs/package.json
  packages/fs/tsup.config.ts
  packages/git/package.json
  packages/git/tsup.config.ts
  packages/validation/package.json
  packages/validation/tsup.config.ts
Due: prettier, oxlint, typecheck, build-affected

fix(test): resolve test failures and environment issues
  packages/cli/src/testing/basic-verification.test.ts
  packages/core/src/utils/colors.ts
  packages/web-ui/tests/scripts/shared/logger.test.ts
  packages/web-ui/vitest.setup.ts
Due: prettier, oxlint, typecheck, build-affected

chore(deps): update vitest to v3 and add vite-tsconfig-paths
  package.json
  pnpm-lock.yaml
Due: none

fix(typescript): update remaining tsconfig files to node.json
  packages/cli/examples/tsconfig.json
  packages/web-ui/tests/e2e/tsconfig.json
Due: prettier, build-affected

fix(core): resolve chalk re-export for TypeScript declarations
  package.json
  packages/cli/package.json
  packages/cli/src/testing/basic-verification.test.ts
  packages/core/package.json
  packages/core/src/utils/colors.ts
  packages/core/tsup.config.ts
  packages/data/package.json
  packages/fs/package.json
  packages/validation/package.json
  packages/web-ui/package.json
  tooling/prettier-config/index.js
  tooling/typescript-config/base.json
  tooling/typescript-config/node.json
  tooling/typescript-config/package.json
  tooling/typescript-config/react.json
  tooling/vitest-config/vitest.shared.ts
  tsconfig.json
Due: prettier, oxlint, typecheck, build-affected

feat(create-cli): add post-generation formatting for templates
  packages/create-cli/src/lib/generator.ts
  packages/create-cli/src/lib/transform-helpers.ts
  packages/create-cli/templates/README.md
Due: prettier, oxlint, typecheck, build-affected

chore(create-cli): add template maintenance scripts
  packages/create-cli/package.json
  packages/create-cli/scripts/fix-template-formatting.py
  packages/create-cli/scripts/format-templates.cjs
  packages/create-cli/templates/advanced/src/commands/__tests__/config.test.ts.hbs
  packages/create-cli/templates/advanced/src/commands/__tests__/validate.test.ts.hbs
  packages/create-cli/templates/advanced/src/index.ts.hbs
  packages/create-cli/templates/basic/src/__tests__/integration/cli.test.ts.hbs
  packages/create-cli/templates/basic/src/index.ts.hbs
  packages/create-cli/templates/modules/core/src/commands/help.ts.hbs
  packages/create-cli/templates/modules/core/src/commands/version.ts.hbs
  packages/create-cli/templates/modules/core/src/index.ts.hbs
  packages/create-cli/templates/modules/testing/src/__tests__/commands/version.test.ts.hbs
  packages/create-cli/templates/modules/testing/src/__tests__/integration/cli.test.ts.hbs
  packages/create-cli/templates/modules/testing/vitest.config.ts.hbs
  packages/create-cli/templates/shared/bin/cli.js.hbs
  packages/create-cli/templates/shared/pnpm-workspace.yaml.hbs
Due: prettier, build-affected

fix(create-cli): update testing exports
  packages/create-cli/src/testing/index.ts
Due: prettier, oxlint, typecheck, build-affected

feat(create-cli): remove auto-install dependencies and fix generated CLI templates
  .gitignore
  package.json
  packages/create-cli/.oxlintrc.json
  packages/create-cli/README.md
  packages/create-cli/config.example.json
  packages/create-cli/scripts/dev/test-generator.ts
  packages/create-cli/scripts/maintenance/fix-formatting.py
  packages/create-cli/scripts/maintenance/format-templates.cjs
  packages/create-cli/src/__tests__/generator.test.ts
  packages/create-cli/src/commands/config.ts
  packages/create-cli/src/lib/cli/args.ts
  packages/create-cli/src/lib/cli/prompts.ts
  packages/create-cli/src/lib/config/__tests__/schema.test.ts
  packages/create-cli/src/lib/config/manager.ts
  packages/create-cli/src/lib/config/presets.ts
  packages/create-cli/src/lib/config/schema.ts
  packages/create-cli/src/lib/config/types.ts
  packages/create-cli/src/lib/core/generator.ts
  packages/create-cli/src/lib/templates/context.ts
  packages/create-cli/src/lib/templates/modules.ts
  packages/create-cli/src/lib/templates/types.ts
  packages/create-cli/templates/modules/config/src/commands/config.ts.hbs
  packages/create-cli/templates/modules/core/src/commands/help.ts.hbs
  packages/create-cli/templates/modules/core/src/commands/version.ts.hbs
  packages/create-cli/templates/modules/core/src/index.ts.hbs
  packages/create-cli/templates/modules/examples/src/commands/build.ts.hbs
  packages/create-cli/templates/modules/examples/src/commands/dev.ts.hbs
  packages/create-cli/templates/modules/testing/src/__tests__/commands/version.test.ts.hbs
  packages/create-cli/templates/modules/testing/src/__tests__/integration/cli.test.ts.hbs
  packages/create-cli/templates/modules/testing/vitest.config.ts.hbs
  packages/create-cli/templates/shared/bin/cli.js.hbs
  packages/create-cli/templates/shared/package.json.hbs
  packages/create-cli/templates/shared/pnpm-workspace.yaml.hbs
  packages/create-cli/templates/shared/tsup.config.ts.hbs
  packages/create-cli/templates/shared/vitest.config.ts.hbs
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
Due: prettier, oxlint, typecheck, build-affected

fix(ci): remove hardcoded pnpm version from workflows
  .github/workflows/ci-pr.yml
  .github/workflows/cli-examples.yml
  .github/workflows/dependency-review.yml
Due: none

fix(ci): correct package names in workflows
  .github/workflows/ci-pr.yml
  .github/workflows/cli-examples.yml
  packages/create-cli/package.json
Due: prettier, build-affected

fix(ci): build tooling packages before running integration tests
  .github/workflows/ci-pr.yml
  packages/create-cli/package.json
Due: prettier, build-affected

fix(create-cli): update test:integration to run existing tests
  packages/create-cli/package.json
Due: prettier, build-affected

docs(shortcuts): enhance gcwm shortcut with atomic commit guidance
  CLAUDE.md
Due: none

feat(create-cli): add smart command inference and dry-run option
  package.json
  packages/create-cli/src/commands/generate.ts
  packages/create-cli/src/index.ts
  pnpm-lock.yaml
Due: prettier, oxlint, typecheck, build-affected

chore(create-cli): add namespaced bin entry and monorepo script
  packages/create-cli/README.md
  packages/create-cli/package.json
  packages/create-cli/templates/shared/package.json.hbs
  pnpm-lock.yaml
Due: prettier, build-affected

Path conditions:
  prettier: any of: **/*.{ts,tsx,js,jsx,json,md}
  oxlint: any of: packages/**/*.{ts,tsx,js,jsx}
  typecheck: any of: **/*.{ts,tsx}
  docs-validate: any of: {docs,packages/**/docs}/**/*.md
  build-affected: any of: **/*.{ts,tsx,js,jsx,json}
