Repository trailhead-diy/trailhead: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, docs-validate, oxlint, typecheck

lefthook.yml:

# Lefthook configuration for high-performance git hooks
# https://github.com/evilmartians/lefthook

# Skip hooks with SKIP_HOOKS=1 or LEFTHOOK=0
skip_output:
  - meta

# Show execution time for performance monitoring
output:
  - summary
  - success
  - failure
  - execution
  - execution_out
  - execution_info

colors: true

pre-commit:
  parallel: true
  commands:
    # 1. Format code (fastest, runs first)
    prettier:
      priority: 1
      glob: "**/*.{ts,tsx,js,jsx,json,md}"
      run: pnpm prettier --write {staged_files} --cache --cache-location .turbo/.prettiercache
      stage_fixed: true
      
    # 2. Validate documentation structure
    docs-validate:
      priority: 2
      glob: "{docs,packages/**/docs}/**/*.md"
      run: |
        for file in {staged_files}; do
          pnpm docs:validate "$file"
        done
        
    # 3. Lint TypeScript/JavaScript with oxlint (50-100x faster than ESLint)
    oxlint:
      priority: 3
      glob: "packages/**/*.{ts,tsx,js,jsx}"
      run: pnpm oxlint {staged_files} --fix
      stage_fixed: true
      
    # 4. Type check (simplified)
    typecheck:
      priority: 4
      glob: "packages/**/*.{ts,tsx}"
      run: pnpm types --filter="./packages/*" -- --incremental

    # 5. Check for secrets (simplified)
    secrets:
      priority: 5
      run: git diff --cached --name-only | xargs grep -l -E -i "(api[_-]?key|secret|token|password)" 2>/dev/null && echo "‚ö†Ô∏è Potential secrets detected" || true

    # 6. Check file sizes (simplified)
    filesize:
      priority: 6
      run: 'find {staged_files} -size +1M 2>/dev/null | head -5 | xargs -I {} echo "‚ö†Ô∏è Large file: {}" || true'

prepare-commit-msg:
  commands:
    changeset-reminder:
      run: |
        if git diff --cached --name-only | grep -q "^packages/"; then
          echo "üìù Reminder: If this change should be released, don't forget to add a changeset!"
          echo "   Run: pnpm changeset:add"
        fi
      skip:
        - merge
        - rebase

commit-msg:
  commands:
    commitlint:
      run: |
        first_line=$(head -n1 "$1")
        if ! echo "$first_line" | grep -qE '^(feat|fix|docs|style|refactor|test|chore|perf|ci|build|revert)(\(.+\))?: .{1,50}$'; then
          echo "‚ùå Commit message must follow conventional format:"
          echo "   type(scope?): description"
          echo "   Types: feat, fix, docs, style, refactor, test, chore, perf, ci, build, revert"
          echo "   Example: feat(web-ui): add dark mode support"
          exit 1
        fi

pre-push:
  parallel: true
  commands:
    # Validate lockfile is up to date (simplified)
    lockfile-check:
      priority: 1
      run: |
        echo "üîí Checking if pnpm-lock.yaml is up to date..."
        pnpm install --lockfile-only --frozen-lockfile || {
          echo "‚ùå pnpm-lock.yaml is out of date! Run 'pnpm install' and commit the updated lockfile"
          exit 1
        }
        echo "‚úÖ Lockfile is up to date"

# Personal overrides (not committed)
# Create .lefthook-local.yml to customize

fix(ci): update CLI examples validation for current structure
  .github/workflows/cli-examples.yml
Due: none

fix: ensure CLI package builds before integration tests
  packages/create-trailhead-cli/package.json
Due: prettier

fix(security): update vitest to resolve esbuild vulnerability
  packages/create-trailhead-cli/package.json
  pnpm-lock.yaml
Due: prettier

feat(ci): improve workflow reliability and add error handling (#52)
  .changeset/remove-pathexists.md
  packages/cli/examples/file-processor/src/index.ts
  packages/cli/package.json
  packages/cli/src/command/git-hooks.ts
  packages/cli/src/filesystem/__tests__/filesystem.test.ts
  packages/cli/src/filesystem/factory.ts
  packages/cli/src/filesystem/memory.ts
  packages/cli/src/filesystem/node.ts
  packages/cli/src/filesystem/types.ts
  packages/cli/src/testing/__tests__/mocks.test.ts
  packages/cli/src/testing/mocks.ts
  packages/create-trailhead-cli/src/lib/generator.ts
  packages/web-ui/package.json
  packages/web-ui/src/cli/commands/install.ts
  packages/web-ui/src/cli/core/filesystem/adapter.ts
  packages/web-ui/src/cli/core/filesystem/operations.ts
  packages/web-ui/src/cli/core/installation/component-installer.ts
  packages/web-ui/src/cli/core/installation/config.ts
  packages/web-ui/src/cli/core/installation/framework-detection.ts
  packages/web-ui/src/cli/core/installation/orchestrator.ts
  packages/web-ui/src/cli/core/installation/transform.ts
  packages/web-ui/src/cli/core/installation/types.ts
  packages/web-ui/src/cli/core/installation/verification.ts
  packages/web-ui/src/cli/core/installation/workspace-detection.ts
  packages/web-ui/src/cli/core/shared/dependency-management.ts
  packages/web-ui/tests/integration/theme-performance.test.tsx
  packages/web-ui/tests/scripts/install/framework-detection.test.ts
  packages/web-ui/tests/scripts/install/installation-workflow.test.ts
  packages/web-ui/tests/scripts/install/integration.test.ts
  packages/web-ui/tests/scripts/shared/dependency-management.test.ts
  packages/web-ui/tests/src/cli/core/installation/component-installer.test.ts
  packages/web-ui/tests/src/cli/integration/install-workflow.test.ts
  packages/web-ui/tests/utils/mock-filesystem.ts
Due: prettier, oxlint, typecheck

fix: exclude lockfiles from secrets check and update pnpm-lock.yaml
  lefthook.yml
  pnpm-lock.yaml
Due: none

fix: improve lefthook environment version validation
  .changeset/remove-pathexists.md
  lefthook.yml
Due: prettier

feat(mcp): configure Context7 MCP server for up-to-date documentation
  .mcp.json
  .smart-test-config.json
  CLAUDE.md
  scripts/smart-test-runner.sh
Due: none

fix(test): update smart-test-runner skip patterns for config files
  scripts/smart-test-runner.sh
Due: none

test: add high-ROI tests for web-ui installation modules
  packages/web-ui/tests/src/cli/core/filesystem/adapter.test.ts
  packages/web-ui/tests/src/cli/core/installation/orchestrator.test.ts
  packages/web-ui/tests/src/cli/core/installation/transform.test.ts
  packages/web-ui/tests/src/cli/core/installation/verification.test.ts
  packages/web-ui/tests/src/cli/core/installation/workspace-detection.test.ts
Due: prettier, oxlint, typecheck

perf(hooks): optimize pre-commit hooks for 80-90% speed improvement
  .smart-test-config.json
  lefthook.yml
Due: none

feat(tools): add fresh-start script for complete environment reset
  package.json
  scripts/fresh-start.js
Due: prettier

test: fix failing tests to achieve 100% test success rate
  packages/web-ui/src/cli/core/filesystem/adapter.ts
  packages/web-ui/tests/src/cli/core/installation/orchestrator.test.ts
  packages/web-ui/tests/src/cli/core/installation/transform.test.ts
  packages/web-ui/tests/src/cli/core/installation/verification.test.ts
Due: prettier, oxlint, typecheck

fix(hooks): remove circular-deps check that was causing infinite loop
  lefthook.yml
Due: none

feat(ci): implement two-tier CI strategy for optimized testing workflow
  .github/actions/setup-node-pnpm/action.yml
  .github/workflows/ci-main.yml
  .github/workflows/ci-pr.yml
  .github/workflows/pre-release-testing.yml
  .github/workflows/reusable-ci.yml
  docs/ci-strategy.md
Due: prettier

feat(ci): implement two-tier CI strategy for optimized testing workflow (#71)
  .github/actions/setup-node-pnpm/action.yml
  .github/workflows/ci-main.yml
  .github/workflows/ci-pr.yml
  .github/workflows/pre-release-testing.yml
  .github/workflows/reusable-ci.yml
  docs/ci-strategy.md
Due: prettier

fix(ci): resolve workflow validation errors
  .github/workflows/pre-release-testing.yml
  .github/workflows/reusable-ci.yml
Due: none

fix(ci): resolve workflow validation errors (#73)
  .github/workflows/pre-release-testing.yml
  .github/workflows/reusable-ci.yml
Due: none

chore(deps): add onlyBuiltDependencies configuration
  package.json
Due: none

chore(deps): add onlyBuiltDependencies configuration (#74)
  package.json
Due: none

refactor(ci): embrace pragmatic approach - keep proven fast CI
  .github/workflows/ci-fast-pr.yml
  .github/workflows/ci-main.yml
  .github/workflows/ci-pr.yml
  docs/ci-strategy.md
Due: prettier

fix(ci): finalize pragmatic CI strategy with proven workflows
  .github/workflows/ci-pr.yml
  .github/workflows/clean-cache.yml
  .github/workflows/pre-release.yml
Due: none

docs(ci): fix workflow filename reference in strategy documentation
  docs/ci-strategy.md
Due: prettier

refactor(ci): embrace pragmatic approach - keep proven fast CI (#75)
  .github/workflows/ci-main.yml
  .github/workflows/ci-pr.yml
  .github/workflows/ci.yml
  .github/workflows/clean-cache.yml
  .github/workflows/pre-release.yml
  docs/ci-strategy.md
Due: prettier

feat(docs): improve shortcut naming to prevent accidental triggers
  CLAUDE.md
Due: none

feat(docs): improve shortcut naming to prevent accidental triggers (#76)
  CLAUDE.md
Due: none

refactor(cli): move package manager detection from testing to utils
  CLAUDE.md
  packages/cli/src/testing/index.ts
  packages/cli/src/utils/index.ts
  packages/cli/src/utils/package-manager.ts
  packages/create-trailhead-cli/src/lib/generator.ts
Due: prettier, oxlint, typecheck

refactor(cli): move package manager detection from testing to utils (#77)
  CLAUDE.md
  packages/cli/src/testing/index.ts
  packages/cli/src/utils/index.ts
  packages/cli/src/utils/package-manager.ts
  packages/create-trailhead-cli/src/lib/generator.ts
Due: prettier, oxlint, typecheck

feat(cli): replace ora with yocto-spinner for 15x bundle reduction
  CLAUDE.md
  packages/cli/package.json
  packages/cli/src/utils/__tests__/spinner.test.ts
  packages/cli/src/utils/index.ts
  packages/cli/src/utils/spinner.ts
  pnpm-lock.yaml
Due: prettier, oxlint, typecheck

feat(cli): replace ora with yocto-spinner for 15x bundle reduction (#78)
  CLAUDE.md
  packages/cli/package.json
  packages/cli/src/utils/__tests__/spinner.test.ts
  packages/cli/src/utils/index.ts
  packages/cli/src/utils/spinner.ts
  pnpm-lock.yaml
Due: prettier, oxlint, typecheck

feat(cli): add progress tracking, error recovery, and workflow modules
  CLAUDE.md
  packages/cli/package.json
  packages/cli/src/config/__tests__/config.test.ts
  packages/cli/src/config/config.ts
  packages/cli/src/config/index.ts
  packages/cli/src/config/manager.ts
  packages/cli/src/config/types.ts
  packages/cli/src/error-recovery/__tests__/error-recovery.test.ts
  packages/cli/src/error-recovery/index.ts
  packages/cli/src/progress/index.ts
  packages/cli/src/progress/tracker.ts
  packages/cli/src/progress/types.ts
  packages/cli/src/prompts/__tests__/prompts.test.ts
  packages/cli/src/prompts/index.ts
  packages/cli/src/workflows/__tests__/workflows.test.ts
  packages/cli/src/workflows/index.ts
  packages/cli/tsup.config.ts
  packages/web-ui/src/cli/commands/dev-refresh.ts
  packages/web-ui/src/cli/core/installation/dependencies.ts
  packages/web-ui/src/cli/core/installation/dependency-resolution.ts
  packages/web-ui/src/cli/core/installation/dependency-strategies.ts
  packages/web-ui/src/cli/core/installation/error-recovery.ts
  packages/web-ui/src/cli/core/installation/functional-utils.ts
  packages/web-ui/src/cli/core/installation/orchestrator.ts
  packages/web-ui/src/cli/core/installation/package-manager-registry.ts
  packages/web-ui/src/cli/core/installation/progress-tracking.ts
  packages/web-ui/src/cli/core/installation/step-executor.ts
  packages/web-ui/src/cli/core/installation/workspace-detection.ts
  packages/web-ui/src/cli/core/shared/dependency-management.ts
  packages/web-ui/src/cli/core/shared/file-utils.ts
  packages/web-ui/src/cli/prompts/installation.ts
  packages/web-ui/tests/scripts/install/dependency-strategies.test.ts
  packages/web-ui/tests/scripts/install/package-manager-registry.test.ts
  packages/web-ui/tests/scripts/shared/dependency-management.test.ts
  packages/web-ui/tests/scripts/shared/file-utils.test.ts
  pnpm-lock.yaml
Due: prettier, oxlint, typecheck

feat(cli): add progress tracking, error recovery, and workflow modules (#79)
  CLAUDE.md
  packages/cli/package.json
  packages/cli/src/config/__tests__/config.test.ts
  packages/cli/src/config/config.ts
  packages/cli/src/config/index.ts
  packages/cli/src/config/manager.ts
  packages/cli/src/config/types.ts
  packages/cli/src/error-recovery/__tests__/error-recovery.test.ts
  packages/cli/src/error-recovery/index.ts
  packages/cli/src/progress/index.ts
  packages/cli/src/progress/tracker.ts
  packages/cli/src/progress/types.ts
  packages/cli/src/prompts/__tests__/prompts.test.ts
  packages/cli/src/prompts/index.ts
  packages/cli/src/workflows/__tests__/workflows.test.ts
  packages/cli/src/workflows/index.ts
  packages/cli/tsup.config.ts
  packages/web-ui/src/cli/commands/dev-refresh.ts
  packages/web-ui/src/cli/core/installation/dependencies.ts
  packages/web-ui/src/cli/core/installation/dependency-resolution.ts
  packages/web-ui/src/cli/core/installation/dependency-strategies.ts
  packages/web-ui/src/cli/core/installation/error-recovery.ts
  packages/web-ui/src/cli/core/installation/functional-utils.ts
  packages/web-ui/src/cli/core/installation/orchestrator.ts
  packages/web-ui/src/cli/core/installation/package-manager-registry.ts
  packages/web-ui/src/cli/core/installation/progress-tracking.ts
  packages/web-ui/src/cli/core/installation/step-executor.ts
  packages/web-ui/src/cli/core/installation/workspace-detection.ts
  packages/web-ui/src/cli/core/shared/dependency-management.ts
  packages/web-ui/src/cli/core/shared/file-utils.ts
  packages/web-ui/src/cli/prompts/installation.ts
  packages/web-ui/tests/scripts/install/dependency-strategies.test.ts
  packages/web-ui/tests/scripts/install/package-manager-registry.test.ts
  packages/web-ui/tests/scripts/shared/dependency-management.test.ts
  packages/web-ui/tests/scripts/shared/file-utils.test.ts
  pnpm-lock.yaml
Due: prettier, oxlint, typecheck

feat(config): add synchronous configuration loading support
  packages/cli/src/config/__tests__/config.test.ts
  packages/cli/src/config/__tests__/manager.test.ts
  packages/cli/src/config/index.ts
  packages/cli/src/config/manager.ts
  packages/cli/src/config/types.ts
Due: prettier, oxlint, typecheck

feat(config): add synchronous configuration loading support (#82)
  packages/cli/src/config/__tests__/config.test.ts
  packages/cli/src/config/__tests__/manager.test.ts
  packages/cli/src/config/index.ts
  packages/cli/src/config/manager.ts
  packages/cli/src/config/types.ts
Due: prettier, oxlint, typecheck

refactor(config): simplify configuration API by removing over-engineering
  CLAUDE.md
  packages/cli/src/config/__tests__/config.test.ts
  packages/cli/src/config/__tests__/manager.test.ts
  packages/cli/src/config/config.ts
  packages/cli/src/config/index.ts
  packages/cli/src/config/manager.ts
  packages/cli/src/config/types.ts
  packages/web-ui/src/cli/commands/dev-refresh.ts
  packages/web-ui/src/cli/commands/install.ts
  packages/web-ui/src/cli/commands/transforms.ts
  packages/web-ui/src/cli/config.ts
  packages/web-ui/src/cli/core/config/define-config.ts
  packages/web-ui/src/cli/core/config/index.ts
  packages/web-ui/src/cli/core/config/loader.ts
  packages/web-ui/src/cli/core/config/schema.ts
  packages/web-ui/src/cli/utils/context.ts
  packages/web-ui/src/cli/utils/types.ts
  packages/web-ui/src/index.ts
  packages/web-ui/tests/cli/core/config/define-config.test.ts
  packages/web-ui/tests/cli/core/config/loader.test.ts
  packages/web-ui/tests/cli/core/config/schema.test.ts
Due: prettier, oxlint, typecheck

refactor(config): simplify configuration API by removing over-engineering (#83)
  CLAUDE.md
  packages/cli/src/config/__tests__/config.test.ts
  packages/cli/src/config/__tests__/manager.test.ts
  packages/cli/src/config/config.ts
  packages/cli/src/config/index.ts
  packages/cli/src/config/manager.ts
  packages/cli/src/config/types.ts
  packages/web-ui/src/cli/commands/dev-refresh.ts
  packages/web-ui/src/cli/commands/install.ts
  packages/web-ui/src/cli/commands/transforms.ts
  packages/web-ui/src/cli/config.ts
  packages/web-ui/src/cli/core/config/define-config.ts
  packages/web-ui/src/cli/core/config/index.ts
  packages/web-ui/src/cli/core/config/loader.ts
  packages/web-ui/src/cli/core/config/schema.ts
  packages/web-ui/src/cli/utils/context.ts
  packages/web-ui/src/cli/utils/types.ts
  packages/web-ui/src/index.ts
  packages/web-ui/tests/cli/core/config/define-config.test.ts
  packages/web-ui/tests/cli/core/config/loader.test.ts
  packages/web-ui/tests/cli/core/config/schema.test.ts
Due: prettier, oxlint, typecheck

docs: simplify CLAUDE.md by removing over-engineering
  CLAUDE.md
Due: none

chore: remove unused husky hook files
  .husky/_/commit-msg
  .husky/_/pre-commit
  .husky/_/pre-push
  .husky/_/prepare-commit-msg
Due: none

docs: simplify CLAUDE.md by removing over-engineering (#85)
  CLAUDE.md
Due: none
