Repository trailhead-diy/trailhead: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, oxlint, typecheck, docs-validate, build-affected

Path conditions:
  prettier: any of: **/*.{ts,tsx,js,jsx,json,md}
  oxlint: any of: packages/**/*.{ts,tsx,js,jsx}
  typecheck: any of: **/*.{ts,tsx}
  docs-validate: any of: {docs,packages/**/docs}/**/*.md
  build-affected: any of: **/*.{ts,tsx,js,jsx,json}

chore: remove build artifacts and add .docusaurus to .gitignore
  .gitignore
  apps/docs/.docusaurus/DONT-EDIT-THIS-FOLDER
  apps/docs/.docusaurus/client-manifest.json
  apps/docs/.docusaurus/client-modules.js
  apps/docs/.docusaurus/codeTranslations.json
  apps/docs/.docusaurus/docusaurus-plugin-content-docs/default/__mdx-loader-dependency.json
  apps/docs/.docusaurus/docusaurus-plugin-content-docs/default/__plugin.json
  apps/docs/.docusaurus/docusaurus-plugin-content-docs/default/p/index-466.json
  apps/docs/.docusaurus/docusaurus-plugin-content-docs/default/site-docs-explanation-architecture-md-191.json
  apps/docs/.docusaurus/docusaurus-plugin-content-docs/default/site-docs-how-to-common-workflows-md-9ad.json
  apps/docs/.docusaurus/docusaurus-plugin-content-docs/default/site-docs-how-to-generate-api-docs-md-f34.json
  apps/docs/.docusaurus/docusaurus-plugin-content-docs/default/site-docs-how-to-troubleshooting-md-71c.json
  apps/docs/.docusaurus/docusaurus-plugin-content-docs/default/site-docs-readme-md-5aa.json
  apps/docs/.docusaurus/docusaurus-plugin-content-docs/default/site-docs-reference-api-cli-md-edc.json
  apps/docs/.docusaurus/docusaurus-plugin-content-docs/default/site-docs-reference-api-config-md-7f6.json
  apps/docs/.docusaurus/docusaurus-plugin-content-docs/default/site-docs-reference-api-core-md-e31.json
  apps/docs/.docusaurus/docusaurus-plugin-content-docs/default/site-docs-reference-api-create-cli-md-e96.json
  apps/docs/.docusaurus/docusaurus-plugin-content-docs/default/site-docs-reference-api-data-md-572.json
  apps/docs/.docusaurus/docusaurus-plugin-content-docs/default/site-docs-reference-api-fs-md-006.json
  apps/docs/.docusaurus/docusaurus-plugin-content-docs/default/site-docs-reference-api-readme-md-0d2.json
  apps/docs/.docusaurus/docusaurus-plugin-content-docs/default/site-docs-reference-api-sort-md-f6c.json
  apps/docs/.docusaurus/docusaurus-plugin-content-docs/default/site-docs-reference-api-validation-md-b32.json
  apps/docs/.docusaurus/docusaurus-plugin-content-docs/default/site-docs-tutorials-csv-hell-to-cli-heaven-md-66c.json
  apps/docs/.docusaurus/docusaurus-plugin-content-pages/default/__plugin.json
  apps/docs/.docusaurus/docusaurus-plugin-content-pages/default/site-src-pages-markdown-page-md-393.json
  apps/docs/.docusaurus/docusaurus-plugin-css-cascade-layers/default/__plugin.json
  apps/docs/.docusaurus/docusaurus-plugin-css-cascade-layers/default/layers.css
  apps/docs/.docusaurus/docusaurus-theme-search-algolia/default/__plugin.json
  apps/docs/.docusaurus/docusaurus.config.mjs
  apps/docs/.docusaurus/globalData.json
  apps/docs/.docusaurus/i18n.json
  apps/docs/.docusaurus/registry.js
  apps/docs/.docusaurus/routes.js
  apps/docs/.docusaurus/routesChunkNames.json
  apps/docs/.docusaurus/site-metadata.json
  apps/docs/.docusaurus/site-storage.json
Due: prettier, build-affected

chore: remove obsolete config files
  .npmrc.github
  .pnpmfile.cjs
  .smart-test-config.json
  typedoc.base.json
Due: none

refactor(config): consolidate and clean up root configuration files
  .lefthook-local.yml.example
  .mcp.json
  .oxlintrc.json
  .prettierignore
  lefthook.yml
  pnpm-workspace.yaml
  tsconfig.json
  vitest.config.mjs
Due: none

chore: update pnpm lockfile to reflect dependency changes
  pnpm-lock.yaml
Due: none

docs: update package relationship matrix and add sorting utilities
  README.md
Due: none

chore: update permissions to allow pull-requests read access
  .github/workflows/ci-main.yml
Due: none

docs: update README for 1.0.0 release (#186)
  .github/workflows/ci-main.yml
  README.md
Due: none

ci: update pull request permissions to allow write access
  .github/workflows/ci-main.yml
Due: none

ci: update pull request permissions to allow write access (#187)
  .github/workflows/ci-main.yml
Due: none

ci: remove cross-platform compatibility test from CI workflow
  .github/workflows/ci-main.yml
Due: none

ci: remove cross-platform compatibility test from CI workflow (#188)
  .github/workflows/ci-main.yml
Due: none

fix: ensure fresh start script updates to the latest main branch
  .changeset/major-kiwis-kick.md
  scripts/fresh-start.sh
Due: prettier

fix: ensure fresh start script updates to the latest main branch (#190)
  .changeset/major-kiwis-kick.md
  scripts/fresh-start.sh
Due: prettier

ci: add test job to CI workflow for main branch
  .github/workflows/ci-main.yml
Due: none

chore: downgrade package versions to 0.1.0 for all packages
  package.json
  packages/cli/package.json
  packages/config/package.json
  packages/core/package.json
  packages/create-cli/package.json
  packages/data/package.json
  packages/fs/package.json
  packages/sort/package.json
  packages/validation/package.json
  tooling/tsup-config/package.json
Due: prettier, build-affected

Prepare release (#192)
  .github/workflows/ci-main.yml
  package.json
  packages/cli/package.json
  packages/config/package.json
  packages/core/package.json
  packages/create-cli/package.json
  packages/data/package.json
  packages/fs/package.json
  packages/sort/package.json
  packages/validation/package.json
  tooling/tsup-config/package.json
Due: prettier, build-affected

chore(config): add pnpm 10 security and performance settings
  .npmrc
Due: none

fix(docs): correct repository URLs across documentation
  .changeset/config.json
  .github/cliff.toml
  README.md
  packages/cli/README.md
  packages/cli/docs/README.md
  packages/cli/docs/explanation/architecture.md
  packages/cli/docs/explanation/design-decisions.md
  packages/cli/docs/reference/command-enhancements.md
  packages/cli/typedoc.json
  packages/config/README.md
  packages/config/typedoc.json
  packages/core/typedoc.json
  packages/create-cli/README.md
  packages/create-cli/docs/README.md
  packages/create-cli/docs/how-to/configure-defaults.md
  packages/create-cli/docs/tutorials/getting-started.md
  packages/create-cli/templates/modules/docs/README.md.hbs
  packages/create-cli/templates/modules/docs/docs/architecture.md.hbs
  packages/create-cli/templates/shared/scripts/README.md
  packages/create-cli/typedoc.json
  packages/data/README.md
  packages/data/docs/README.md
  packages/data/typedoc.json
  packages/fs/README.md
  packages/fs/docs/README.md
  packages/fs/typedoc.json
  packages/validation/README.md
  packages/validation/docs/README.md
  packages/validation/typedoc.json
Due: prettier, docs-validate, build-affected

chore(config): rename turbo.json to turbo.jsonc
  turbo.jsonc
Due: none

chore(deps): update engine requirements to Node 20 and pnpm 10
  packages/cli/package.json
  packages/config/package.json
  packages/core/package.json
  packages/create-cli/package.json
  packages/data/package.json
  packages/fs/package.json
  packages/sort/package.json
  packages/validation/package.json
Due: prettier, build-affected

feat(publish): add npm provenance for supply chain security
  package.json
  pnpm-lock.yaml
Due: none

ci: add test job and improve npm authentication
  .github/workflows/ci-main.yml
Due: none

fix(data): add missing formats entry to build config
  packages/data/tsup.config.ts
Due: prettier, oxlint, typecheck, build-affected

docs: fix package names, API links, and documentation errors
  packages/cli/README.md
  packages/config/README.md
  packages/create-cli/README.md
  packages/data/README.md
  packages/data/docs/explanation/format-detection.md
  packages/fs/README.md
  packages/fs/docs/how-to/file-operations.md
  packages/validation/README.md
Due: prettier, docs-validate

Update docs (#196)
  packages/cli/README.md
  packages/config/README.md
  packages/create-cli/README.md
  packages/data/README.md
  packages/data/docs/explanation/format-detection.md
  packages/data/tsup.config.ts
  packages/fs/README.md
  packages/fs/docs/how-to/file-operations.md
  packages/validation/README.md
Due: prettier, oxlint, typecheck, docs-validate, build-affected

build(docs): configure TypeDoc for markdown generation
  .github/workflows/docs.yml
  .gitignore
  .npmrc
  package.json
  typedoc.json
Due: none

chore: update lefthook and lockfile
  lefthook.yml
  pnpm-lock.yaml
Due: none

docs(validation): add JSDoc for core validators
  packages/validation/src/core.ts
Due: prettier, oxlint, typecheck, build-affected

fix(create-cli): restore proper formatting to minified template files
  packages/create-cli/templates/modules/core/src/commands/help.ts.hbs
  packages/create-cli/templates/modules/core/src/commands/version.ts.hbs
  packages/create-cli/templates/modules/testing/src/__tests__/commands/version.test.ts.hbs
  packages/create-cli/templates/modules/testing/src/__tests__/integration/cli.test.ts.hbs
  packages/create-cli/templates/modules/testing/vitest.config.ts.hbs
  packages/create-cli/templates/shared/tsup.config.ts.hbs
  packages/create-cli/templates/shared/vitest.config.ts.hbs
Due: none

fix(package.json): update dependencies for @trailhead/cli and @trailhead/core to version 1.0.0
  packages/create-cli/templates/shared/package.json.hbs
Due: none

refactor(create-cli): simplify to non-interactive generator
  .gitignore
  packages/create-cli/README.md
  packages/create-cli/config.example.json
  packages/create-cli/src/commands/config.ts
  packages/create-cli/src/commands/generate.ts
  packages/create-cli/src/index.ts
  packages/create-cli/src/lib/cli/args.ts
  packages/create-cli/src/lib/cli/index.ts
  packages/create-cli/src/lib/cli/prompts.ts
  packages/create-cli/src/lib/config/index.ts
  packages/create-cli/src/lib/config/manager.ts
  packages/create-cli/src/lib/config/presets.ts
  packages/create-cli/src/lib/config/schema.ts
  packages/create-cli/src/lib/config/types.ts
  packages/create-cli/src/lib/config/validation.ts
  packages/create-cli/src/lib/core/errors.ts
  packages/create-cli/src/lib/core/generator.ts
  packages/create-cli/src/lib/templates/context.ts
  packages/create-cli/src/lib/templates/modules.ts
  packages/create-cli/src/lib/templates/types.ts
  packages/create-cli/templates/modules/config/config.example.json.hbs
  packages/create-cli/templates/modules/config/src/commands/config.ts.hbs
  packages/create-cli/templates/modules/config/src/commands/hello.ts.hbs
  packages/create-cli/templates/modules/config/src/lib/config-schema.ts.hbs
  packages/create-cli/templates/modules/core/src/commands/help.ts.hbs
  packages/create-cli/templates/modules/core/src/commands/version.ts.hbs
  packages/create-cli/templates/modules/core/src/index.ts.hbs
  packages/create-cli/templates/modules/testing/src/__tests__/commands/version.test.ts.hbs
  packages/create-cli/templates/modules/testing/src/__tests__/integration/cli.test.ts.hbs
  packages/create-cli/templates/shared/bin/cli.js.hbs
  packages/create-cli/templates/shared/package.json.hbs
Due: prettier, oxlint, typecheck, build-affected

feat(create-cli): use config.json for CLI metadata with context pattern
  packages/create-cli/src/lib/templates/modules.ts
  packages/create-cli/templates/modules/config/config.json.hbs
  packages/create-cli/templates/modules/config/src/commands/config.ts.hbs
  packages/create-cli/templates/modules/config/src/commands/hello.ts.hbs
  packages/create-cli/templates/modules/config/src/lib/config-schema.ts.hbs
  packages/create-cli/templates/modules/config/src/lib/config.ts.hbs
  packages/create-cli/templates/modules/core/src/index.ts.hbs
Due: prettier, oxlint, typecheck, build-affected

refactor(create-cli): use Zod v4 from @trailhead/validation
  packages/create-cli/templates/modules/config/src/lib/config-schema.ts.hbs
  packages/create-cli/templates/modules/config/src/lib/config.ts.hbs
  packages/create-cli/templates/shared/package.json.hbs
Due: none

refactor(create-cli): consolidate tsup config in package.json
  packages/create-cli/src/lib/templates/modules.ts
  packages/create-cli/templates/shared/package.json.hbs
  packages/create-cli/templates/shared/tsup.config.ts.hbs
Due: prettier, oxlint, typecheck, build-affected

test(create-cli): add e2e integration test
  packages/create-cli/src/__tests__/integration.test.ts
Due: prettier, oxlint, typecheck, build-affected

fix(templates): correct path resolution for tests
  packages/create-cli/src/lib/templates/loader.ts
Due: prettier, oxlint, typecheck, build-affected
