Repository trailhead-diy/trailhead: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, oxlint, typecheck, docs-validate, build-affected

prettier:
  priority: 1
  run: pnpm prettier --write {staged_files} --cache --cache-location .turbo/.prettiercache
  stage_fixed: true

oxlint:
  priority: 2
  run: pnpm oxlint {staged_files} --fix
  stage_fixed: true

typecheck:
  priority: 3
  run: pnpm types --filter="./packages/*" -- --incremental

docs-validate:
  priority: 4
  run: "staged_docs=$(git diff --cached --name-only --diff-filter=ACM | grep -E '\\.(md)$' | grep -E '(docs/|packages/.*/docs/)' || true)\nif [ -n \"$staged_docs\" ]; then\n  for file in $staged_docs; do\n    pnpm docs:validate \"$file\"\n  done\nfi\n"

build-affected:
  priority: 7
  run: "echo \"üî® Building affected packages...\"\n# Use Turborepo's affected detection with caching\npnpm turbo build --filter='...[HEAD^1]' --cache-dir=.turbo || {\n  echo \"‚ùå Build failed - this would fail in CI\"\n  exit 1\n}\necho \"‚úÖ Build validation passed\"\n"

ci(pr): run full test suite and enable remote caching
  .github/workflows/ci-pr.yml
Due: none

fix(ci): use valid expression syntax in ci-main.yml
  .github/workflows/ci-main.yml
Due: none

fix(turbo): enable remote caching for CI performance
  turbo.json
Due: none

chore(turbo): enable cache signature verification for enhanced security
  turbo.json
Due: none

ci: fix build targeting to include all packages and tooling
  .github/workflows/ci-main.yml
  .github/workflows/ci-pr.yml
Due: none

feat(scripts): add comprehensive monorepo health monitoring
  package.json
Due: none

feat(validation): add comprehensive dependency validation script
  scripts/validate-monorepo-deps.sh
Due: none

chore(turbo): disable cache signatures to reduce operational complexity
  turbo.json
Due: none

fix(vitest): resolve workspace packages via pnpm instead of manual aliases
  scripts/validate-monorepo-deps.sh
  tooling/vitest-config/vitest.shared.ts
Due: prettier, typecheck, build-affected

fix(vitest): correct monorepo path calculation and add complete subpath aliases
  tooling/vitest-config/vitest.shared.ts
Due: prettier, typecheck, build-affected

fix(turbo): add root-level TS/JS files to build inputs for cache invalidation
  turbo.json
Due: none

fix(ci): add CodeQL initialization step before analysis
  .github/workflows/ci-pr.yml
Due: none

run full test suite and enable remote caching (#163)
  .github/workflows/ci-main.yml
  .github/workflows/ci-pr.yml
  package.json
  scripts/validate-monorepo-deps.sh
  tooling/vitest-config/vitest.shared.ts
  turbo.json
Due: prettier, typecheck, build-affected

docs: update docs WIP
  packages/data/docs/reference/api.md
Due: prettier, docs-validate

feat: tooling update WIP
  lefthook.yml
  package.json
  pnpm-lock.yaml
  tooling/scripts-cli/bin/scripts-cli.js
  tooling/scripts-cli/package.json
  tooling/scripts-cli/scripts/test-commands.sh
  tooling/scripts-cli/scripts/verify-parity.sh
  tooling/scripts-cli/src/cli.ts
  tooling/scripts-cli/src/commands/ci-optimal.ts
  tooling/scripts-cli/src/commands/fix-imports.ts
  tooling/scripts-cli/src/commands/npm-auth.test.ts
  tooling/scripts-cli/src/commands/npm-auth.ts
  tooling/scripts-cli/src/commands/test-runner.ts
  tooling/scripts-cli/src/commands/validate-deps.ts
  tooling/scripts-cli/src/index.ts
  tooling/scripts-cli/src/utils/colors.ts
  tooling/scripts-cli/src/utils/subprocess.ts
  tooling/scripts-cli/tests/README.md
  tooling/scripts-cli/tests/comparison/shell-vs-ts.test.ts
  tooling/scripts-cli/tests/integration/npm-auth.test.ts
  tooling/scripts-cli/tests/integration/validate-deps.test.ts
  tooling/scripts-cli/tests/real-world/README.md
  tooling/scripts-cli/tests/real-world/USAGE.md
  tooling/scripts-cli/tests/real-world/scripts/cleanup-test-environment.sh
  tooling/scripts-cli/tests/real-world/scripts/compare-command.sh
  tooling/scripts-cli/tests/real-world/scripts/generate-report.sh
  tooling/scripts-cli/tests/real-world/scripts/run-all-tests.sh
  tooling/scripts-cli/tests/real-world/scripts/setup-test-environment.sh
  tooling/scripts-cli/tests/real-world/scripts/state-capture.sh
  tooling/scripts-cli/tests/real-world/test-cases/fix-imports-scenarios.md
  tooling/scripts-cli/tests/real-world/test-cases/npm-auth-scenarios.md
  tooling/scripts-cli/tests/real-world/test-cases/validate-deps-scenarios.md
  tooling/scripts-cli/tests/setup.ts
  tooling/scripts-cli/tests/unit/test-runner.test.ts
  tooling/scripts-cli/tests/unit/validate-deps.test.ts
  tooling/scripts-cli/tests/utils/mock-context.ts
  tooling/scripts-cli/tsconfig.json
  tooling/scripts-cli/tsup.config.ts
  tooling/scripts-cli/vitest.config.ts
Due: prettier, typecheck, build-affected

docs: update docs WIP
  new-docs/README.md
  new-docs/explanation/architecture.md
  new-docs/how-to/common-workflows.md
  new-docs/how-to/troubleshooting.md
  new-docs/reference/api/cli-building.md
  new-docs/reference/api/file-operations.md
  new-docs/reference/api/index.md
  new-docs/summary.md
  new-docs/tutorials/csv-hell-to-cli-heaven.md
  packages/cli/docs/reference/api.md
  packages/config/docs/reference/api.md
  packages/core/docs/reference/api.md
  packages/data/docs/reference/api.md
  packages/fs/docs/reference/api.md
  packages/validation/docs/reference/api.md
Due: prettier, docs-validate

docs: update docs WIP
  packages/config/docs/reference/api.md
Due: prettier, docs-validate

feat: tooling update WIP
  .gitignore
  tooling/scripts-cli/.npmrc
  tooling/scripts-cli/src/commands/npm-auth.ts
  tooling/scripts-cli/tests/real-world/scripts/setup-test-environment.sh
  tooling/scripts-cli/tests/real-world/workspace/npm-test/.npmrc
  tooling/scripts-cli/tests/real-world/workspace/sample-monorepo/apps/web/package.json
  tooling/scripts-cli/tests/real-world/workspace/sample-monorepo/package.json
  tooling/scripts-cli/tests/real-world/workspace/sample-monorepo/packages/core/package.json
  tooling/scripts-cli/tests/real-world/workspace/sample-monorepo/packages/core/src/index.ts
  tooling/scripts-cli/tests/real-world/workspace/sample-monorepo/packages/core/tests/integration.test.ts
  tooling/scripts-cli/tests/real-world/workspace/sample-monorepo/packages/utils/package.json
  tooling/scripts-cli/tests/real-world/workspace/sample-monorepo/packages/utils/src/helper.ts
  tooling/scripts-cli/tests/real-world/workspace/sample-monorepo/packages/utils/src/index.ts
  tooling/scripts-cli/tests/real-world/workspace/sample-monorepo/packages/utils/src/index.ts.backup
  tooling/scripts-cli/tests/real-world/workspace/sample-monorepo/packages/utils/tests/slow-test.test.ts
  tooling/scripts-cli/tests/real-world/workspace/sample-monorepo/turbo.json
Due: prettier, typecheck, build-affected

docs: update docs WIP
  packages/fs/docs/reference/api.md
Due: prettier, docs-validate

fix(ci): remove hardcoded pnpm versions from workflows
  .github/CI_OPTIMIZATIONS.md
  .github/actions/setup-monorepo/action.yml
  .github/actions/setup-node-pnpm/action.yml
  .github/workflows/deploy-docs.yml
Due: prettier

feat: tooling update WIP
  .gitignore
  scripts/fix-duplicate-imports.sh
  tooling/scripts-cli/tests/real-world/scripts/compare-command.sh
  tooling/scripts-cli/tests/real-world/scripts/state-capture.sh
  tooling/scripts-cli/tests/real-world/workspace/npm-test/.npmrc
  tooling/scripts-cli/tests/real-world/workspace/sample-monorepo/packages/utils/src/index.ts.backup
Due: none

docs: update api documentation and new-docs structure
  docs/git-commit-best-practices.md
  new-docs/README.md
  new-docs/explanation/architecture.md
  new-docs/how-to/common-workflows.md
  new-docs/how-to/troubleshooting.md
  new-docs/reference/api/cli-building.md
  new-docs/reference/api/file-operations.md
  new-docs/reference/api/index.md
  new-docs/summary.md
  new-docs/tutorials/csv-hell-to-cli-heaven.md
  packages/cli/docs/reference/api.md
  packages/config/docs/reference/api.md
  packages/core/docs/reference/api.md
  packages/data/docs/reference/api.md
  packages/fs/docs/reference/api.md
  packages/validation/docs/reference/api.md
Due: prettier, docs-validate

docs: update docs WIP
  packages/create-cli/src/index.ts
  packages/create-cli/src/lib/config/validation.ts
  packages/create-cli/src/lib/templates/index.ts
  packages/create-cli/src/lib/templates/utils.ts
Due: prettier, oxlint, typecheck, build-affected

docs: update docs WIP
  packages/validation/docs/reference/api.md
Due: prettier, docs-validate

chore(dx): simplify pre-commit tests to run full suite
  lefthook.yml
Due: none

refactor: migrate from shell scripts to TypeScript CLI
  docs/PACKAGE_REGISTRY.md
  package.json
  scripts/ci-optimal.sh
  scripts/fix-duplicate-imports.sh
  scripts/setup-npm-auth.sh
  tooling/scripts-cli/src/commands/npm-auth.test.ts
  tooling/scripts-cli/tests/comparison/shell-vs-ts.test.ts
  tooling/scripts-cli/tests/integration/npm-auth.test.ts
  tooling/scripts-cli/tests/integration/validate-deps.test.ts
  tooling/scripts-cli/tests/unit/validate-deps.test.ts
Due: prettier, typecheck, build-affected

refactor(create-cli): update template system and validation
  packages/create-cli/src/lib/config/validation.ts
  packages/create-cli/src/lib/templates/compiler.ts
  packages/create-cli/src/lib/templates/context.ts
  packages/create-cli/src/lib/templates/modules.ts
  packages/create-cli/src/lib/templates/types.ts
  packages/create-cli/src/lib/templates/utils.ts
  packages/create-cli/templates/shared/package.json.hbs
Due: prettier, oxlint, typecheck, build-affected

feat(scripts-cli): enhance CLI tooling and test infrastructure
  tooling/scripts-cli/bin/scripts-cli.js
  tooling/scripts-cli/package.json
  tooling/scripts-cli/src/cli.ts
  tooling/scripts-cli/src/commands/ci-optimal.ts
  tooling/scripts-cli/src/commands/fix-imports.ts
  tooling/scripts-cli/src/commands/npm-auth.ts
  tooling/scripts-cli/src/commands/test-runner.ts
  tooling/scripts-cli/src/commands/validate-deps.ts
  tooling/scripts-cli/src/index.ts
  tooling/scripts-cli/src/utils/colors.ts
  tooling/scripts-cli/src/utils/subprocess.ts
  tooling/scripts-cli/tests/README.md
  tooling/scripts-cli/tests/real-world/README.md
  tooling/scripts-cli/tests/real-world/USAGE.md
  tooling/scripts-cli/tests/real-world/test-cases/fix-imports-scenarios.md
  tooling/scripts-cli/tests/real-world/test-cases/npm-auth-scenarios.md
  tooling/scripts-cli/tests/real-world/test-cases/validate-deps-scenarios.md
  tooling/scripts-cli/tests/real-world/workspace/sample-monorepo/packages/core/src/index.ts
  tooling/scripts-cli/tests/real-world/workspace/sample-monorepo/packages/core/tests/integration.test.ts
  tooling/scripts-cli/tests/real-world/workspace/sample-monorepo/packages/utils/src/helper.ts
  tooling/scripts-cli/tests/real-world/workspace/sample-monorepo/packages/utils/src/index.ts
  tooling/scripts-cli/tests/real-world/workspace/sample-monorepo/packages/utils/tests/slow-test.test.ts
  tooling/scripts-cli/tests/setup.ts
  tooling/scripts-cli/tests/unit/test-runner.test.ts
  tooling/scripts-cli/tests/unit/validate-deps.test.ts
  tooling/scripts-cli/tests/utils/mock-context.ts
  tooling/scripts-cli/tsconfig.json
  tooling/scripts-cli/tsup.config.ts
  tooling/scripts-cli/vitest.config.ts
  tooling/vitest-config/vitest.shared.ts
Due: prettier, typecheck, build-affected

chore: update dependencies and build configuration
  packages/core/package.json
  pnpm-lock.yaml
  turbo.json
Due: prettier, build-affected

feat(sort): add high-performance sorting utilities package
  packages/sort/README.md
  packages/sort/package.json
  packages/sort/src/__tests__/index.test.ts
  packages/sort/src/__tests__/native.test.ts
  packages/sort/src/index.ts
  packages/sort/src/native.ts
  packages/sort/src/types.ts
  packages/sort/tsconfig.json
  packages/sort/tsup.config.ts
  packages/sort/vitest.config.ts
  pnpm-lock.yaml
Due: prettier, oxlint, typecheck, build-affected

fix(fs): fix path generation in MockFileSystem.getAllFiles()
  packages/fs/src/testing/mock-fs.ts
Due: prettier, oxlint, typecheck, build-affected

feat(sort): add high-performance sorting utilities package
  packages/sort/src/index.ts
  packages/sort/src/strings.ts
  packages/sort/src/types.ts
Due: prettier, oxlint, typecheck, build-affected

chore(deps): add sort package dependency across packages
  packages/cli/package.json
  packages/create-cli/package.json
  packages/data/package.json
  packages/fs/package.json
  pnpm-lock.yaml
Due: prettier, build-affected

test: add comprehensive test coverage and fix test timing issues
  packages/cli/src/testing/__tests__/performance.test.ts
  packages/cli/src/utils/__tests__/stats.test.ts
  packages/create-cli/src/lib/templates/__tests__/modules.test.ts
  packages/data/src/json/__tests__/sorting.test.ts
  packages/fs/src/__tests__/core.test.ts
  packages/fs/src/__tests__/sorting.test.ts
Due: prettier, oxlint, typecheck, build-affected

feat(cli): enhance performance monitoring and stats with sort utilities
  packages/cli/src/testing/performance.ts
  packages/cli/src/utils/stats.ts
Due: prettier, oxlint, typecheck, build-affected

feat(create-cli): add sorting capabilities to template generation
  packages/create-cli/src/lib/config/presets.ts
  packages/create-cli/src/lib/templates/modules.ts
Due: prettier, oxlint, typecheck, build-affected

feat(fs): add sorting capabilities to readDir and findFiles
  packages/fs/src/core.ts
  packages/fs/src/testing/fixtures.ts
  packages/fs/src/types.ts
  packages/fs/src/utils/index.ts
  packages/fs/src/utils/sorting.ts
Due: prettier, oxlint, typecheck, build-affected

feat(data): enhance JSON operations with advanced sorting capabilities
  packages/data/src/json/core.ts
  packages/data/src/json/index.ts
  packages/data/src/json/types.ts
Due: prettier, oxlint, typecheck, build-affected

Path conditions:
  prettier: any of: **/*.{ts,tsx,js,jsx,json,md}
  oxlint: any of: packages/**/*.{ts,tsx,js,jsx}
  typecheck: any of: **/*.{ts,tsx}
  docs-validate: any of: {docs,packages/**/docs}/**/*.md
  build-affected: any of: **/*.{ts,tsx,js,jsx,json}
