Repository trailhead-diy/trailhead: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, oxlint, typecheck, docs-validate, build-affected

Path conditions:
  prettier: any of: **/*.{ts,tsx,js,jsx,json,md}
  oxlint: any of: packages/**/*.{ts,tsx,js,jsx}
  typecheck: any of: **/*.{ts,tsx}
  docs-validate: any of: {docs,packages/**/docs}/**/*.md
  build-affected: any of: **/*.{ts,tsx,js,jsx,json}

chore: remove unused husky hook files (#84)
  .husky/_/commit-msg
  .husky/_/pre-commit
  .husky/_/pre-push
  .husky/_/prepare-commit-msg
Due: none

fix: resolve test infrastructure compatibility issues and timing problems
  CLAUDE.md
  packages/web-ui/README.md
  packages/web-ui/src/cli/commands/dev-refresh.ts
  packages/web-ui/src/cli/commands/enhance.ts
  packages/web-ui/src/cli/commands/install.ts
  packages/web-ui/src/cli/commands/transforms.ts
  packages/web-ui/src/cli/commands/utils/error-conversion.ts
  packages/web-ui/src/cli/core/installation/component-installer.ts
  packages/web-ui/src/cli/core/installation/component-transformer.ts
  packages/web-ui/src/cli/core/installation/config.ts
  packages/web-ui/src/cli/core/installation/dependencies.ts
  packages/web-ui/src/cli/core/installation/framework-detection.ts
  packages/web-ui/src/cli/core/installation/orchestrator.ts
  packages/web-ui/src/cli/core/installation/shared-utils.ts
  packages/web-ui/src/cli/core/installation/step-executor.ts
  packages/web-ui/src/cli/core/installation/theme-installer.ts
  packages/web-ui/src/cli/core/installation/transform.ts
  packages/web-ui/src/cli/core/installation/types.ts
  packages/web-ui/src/cli/core/installation/verification.ts
  packages/web-ui/src/cli/core/installation/workspace-detection.ts
  packages/web-ui/src/transforms/pipelines/simplified.ts
  packages/web-ui/tests/integration/data-display-integration.test.tsx
  packages/web-ui/tests/integration/enhance-command.test.ts
  packages/web-ui/tests/scripts/install/dependencies.test.ts
  packages/web-ui/tests/scripts/install/framework-detection.test.ts
  packages/web-ui/tests/scripts/install/installation-workflow.test.ts
  packages/web-ui/tests/scripts/shared/dependency-management.test.ts
  packages/web-ui/tests/src/cli/core/filesystem/adapter.test.ts
  packages/web-ui/tests/src/cli/core/installation/component-transformer.test.ts
  packages/web-ui/tests/src/cli/core/installation/orchestrator.test.ts
  packages/web-ui/tests/src/cli/core/installation/step-factory.test.ts
  packages/web-ui/tests/src/cli/core/installation/transform.test.ts
  packages/web-ui/tests/src/cli/core/installation/verification.test.ts
  packages/web-ui/tests/src/cli/core/installation/workspace-detection.test.ts
Due: prettier, oxlint, typecheck, build-affected

test: fix step-factory tests to conform to CLI framework patterns
  packages/web-ui/tests/src/cli/core/installation/step-factory.test.ts
Due: prettier, oxlint, typecheck, build-affected

refactor: consolidate pathExists usage with shared helper
  packages/cli/src/filesystem/file-utils.ts
  packages/cli/src/filesystem/index.ts
  packages/cli/src/workflows/index.ts
  packages/web-ui/src/cli.ts
  packages/web-ui/src/cli/commands/install.ts
  packages/web-ui/src/cli/commands/utils/error-conversion.ts
  packages/web-ui/src/cli/core/installation/component-installer.ts
  packages/web-ui/src/cli/core/installation/config.ts
  packages/web-ui/src/cli/core/installation/filesystem-helpers.ts
  packages/web-ui/src/cli/core/installation/framework-detection.ts
  packages/web-ui/src/cli/core/installation/orchestrator.ts
  packages/web-ui/src/cli/core/installation/transform.ts
  packages/web-ui/src/cli/core/installation/verification.ts
  packages/web-ui/src/cli/core/installation/workspace-detection.ts
  packages/web-ui/src/cli/prompts/installation.ts
  packages/web-ui/src/cli/utils/context.ts
  packages/web-ui/tests/cli/core/config/define-config.test.ts
  packages/web-ui/tests/cli/core/config/loader.test.ts
  packages/web-ui/tests/integration/enhance-command.test.ts
  packages/web-ui/tests/scripts/install/framework-detection.test.ts
  packages/web-ui/tests/scripts/install/integration.test.ts
  packages/web-ui/tests/src/cli/commands/install.test.ts
  packages/web-ui/tests/src/cli/integration/install-workflow.test.ts
  turbo.json
Due: prettier, oxlint, typecheck, build-affected

refactor: consolidate CLI framework patterns and fix config tests
  packages/cli/src/error-recovery/__tests__/error-recovery.test.ts
  packages/cli/src/filesystem/__tests__/file-utils.test.ts
  packages/cli/src/filesystem/file-utils.ts
  packages/cli/src/testing/__tests__/createConfigMock.test.ts
  packages/cli/src/testing/index.ts
  packages/cli/src/testing/mocks.ts
  packages/web-ui/package.json
  packages/web-ui/src/cli/commands/dev-refresh.ts
  packages/web-ui/src/cli/commands/enhance.ts
  packages/web-ui/src/cli/commands/install.ts
  packages/web-ui/src/cli/commands/transforms.ts
  packages/web-ui/src/cli/config.ts
  packages/web-ui/src/cli/core/filesystem/paths.ts
  packages/web-ui/src/cli/core/installation/component-installer.ts
  packages/web-ui/src/cli/core/installation/component-transformer.ts
  packages/web-ui/src/cli/core/installation/config.ts
  packages/web-ui/src/cli/core/installation/dependencies.ts
  packages/web-ui/src/cli/core/installation/filesystem-helpers.ts
  packages/web-ui/src/cli/core/installation/framework-detection.ts
  packages/web-ui/src/cli/core/installation/index.ts
  packages/web-ui/src/cli/core/installation/orchestrator.ts
  packages/web-ui/src/cli/core/installation/shared-utils.ts
  packages/web-ui/src/cli/core/installation/transform.ts
  packages/web-ui/src/cli/core/installation/types.ts
  packages/web-ui/src/cli/core/installation/verification.ts
  packages/web-ui/src/cli/core/installation/workspace-detection.ts
  packages/web-ui/src/cli/core/shared/file-utils.ts
  packages/web-ui/src/cli/core/shared/transform-core.ts
  packages/web-ui/src/cli/core/shared/types.ts
  packages/web-ui/src/cli/utils/context.ts
  packages/web-ui/src/transforms/components/common/imports/catalyst-prefix.ts
  packages/web-ui/src/transforms/pipelines/simplified.ts
  packages/web-ui/tests/cli/core/config/loader.test.ts
  packages/web-ui/tests/integration/enhance-command.test.ts
  packages/web-ui/tests/scripts/install/installation-workflow.test.ts
  packages/web-ui/tests/scripts/install/integration.test.ts
  packages/web-ui/tests/scripts/shared/file-utils.test.ts
  pnpm-lock.yaml
Due: prettier, oxlint, typecheck, build-affected

refactor(deps): eliminate Enhanced/Smart function pattern duplication
  packages/web-ui/src/cli/core/installation/dependencies.ts
  packages/web-ui/src/cli/core/installation/orchestrator.ts
  packages/web-ui/src/transforms/components/common/imports/catalyst-prefix.ts
  packages/web-ui/tests/scripts/install/integration.test.ts
Due: prettier, oxlint, typecheck, build-affected

refactor: clean up unused variables and functions with underscore prefix
  packages/web-ui/src/cli/core/installation/dependencies.ts
  packages/web-ui/src/cli/core/installation/orchestrator.ts
  packages/web-ui/src/cli/core/installation/step-executor.ts
  packages/web-ui/src/cli/core/installation/workspace-detection.ts
  packages/web-ui/src/cli/core/shared/transform-core.ts
Due: prettier, oxlint, typecheck, build-affected

refactor: exhaustive cleanup of unused underscore variables in tests
  packages/web-ui/src/cli/commands/dev-refresh.ts
  packages/web-ui/src/cli/commands/install.ts
  packages/web-ui/src/cli/commands/transforms.ts
  packages/web-ui/src/cli/core/installation/component-transformer.ts
  packages/web-ui/src/cli/core/shared/file-utils.ts
  packages/web-ui/src/transforms/pipelines/simplified.ts
  packages/web-ui/tests/cli/core/config/loader.test.ts
  packages/web-ui/tests/integration/theme-accessibility.test.tsx
  packages/web-ui/tests/integration/theme-system.test.tsx
  packages/web-ui/tests/src/components/theme/theme-provider.test.tsx
Due: prettier, oxlint, typecheck, build-affected

fix(transforms): add parameter reordering transform and className forwarding
  packages/web-ui/src/cli/commands/dev-refresh.ts
  packages/web-ui/src/cli/commands/install.ts
  packages/web-ui/src/cli/commands/profile.ts
  packages/web-ui/src/cli/commands/transforms.ts
  packages/web-ui/src/components/auth-layout.tsx
  packages/web-ui/src/transforms/components/common/className/add-parameter.ts
  packages/web-ui/src/transforms/components/common/className/forward-to-child.ts
  packages/web-ui/src/transforms/components/common/imports/catalyst-prefix-exports.ts
  packages/web-ui/src/transforms/components/common/imports/catalyst-prefix-usage.ts
  packages/web-ui/src/transforms/components/common/imports/catalyst-prefix.ts
  packages/web-ui/src/transforms/components/common/parameters/reorder-parameters.ts
  packages/web-ui/src/transforms/pipelines/main.ts
Due: prettier, oxlint, typecheck, build-affected

chore(web-ui): update components lib
  packages/web-ui/src/components/lib/catalyst-alert.tsx
  packages/web-ui/src/components/lib/catalyst-auth-layout.tsx
  packages/web-ui/src/components/lib/catalyst-avatar.tsx
  packages/web-ui/src/components/lib/catalyst-badge.tsx
  packages/web-ui/src/components/lib/catalyst-button.tsx
  packages/web-ui/src/components/lib/catalyst-checkbox.tsx
  packages/web-ui/src/components/lib/catalyst-combobox.tsx
  packages/web-ui/src/components/lib/catalyst-description-list.tsx
  packages/web-ui/src/components/lib/catalyst-dialog.tsx
  packages/web-ui/src/components/lib/catalyst-divider.tsx
  packages/web-ui/src/components/lib/catalyst-dropdown.tsx
  packages/web-ui/src/components/lib/catalyst-fieldset.tsx
  packages/web-ui/src/components/lib/catalyst-heading.tsx
  packages/web-ui/src/components/lib/catalyst-input.tsx
  packages/web-ui/src/components/lib/catalyst-link.tsx
  packages/web-ui/src/components/lib/catalyst-listbox.tsx
  packages/web-ui/src/components/lib/catalyst-navbar.tsx
  packages/web-ui/src/components/lib/catalyst-pagination.tsx
  packages/web-ui/src/components/lib/catalyst-radio.tsx
  packages/web-ui/src/components/lib/catalyst-select.tsx
  packages/web-ui/src/components/lib/catalyst-sidebar-layout.tsx
  packages/web-ui/src/components/lib/catalyst-sidebar.tsx
  packages/web-ui/src/components/lib/catalyst-stacked-layout.tsx
  packages/web-ui/src/components/lib/catalyst-switch.tsx
  packages/web-ui/src/components/lib/catalyst-table.tsx
  packages/web-ui/src/components/lib/catalyst-text.tsx
  packages/web-ui/src/components/lib/catalyst-textarea.tsx
  packages/web-ui/src/components/lib/index.ts
Due: prettier, oxlint, typecheck, build-affected

feat(transforms): implement atomic transform architecture
  packages/web-ui/src/transforms-new/README.md
  packages/web-ui/src/transforms-new/__tests__/integration/main-pipeline.test.ts
  packages/web-ui/src/transforms-new/ast-operations/identifiers/add-prefix.ts
  packages/web-ui/src/transforms-new/ast-operations/identifiers/rename-identifier.ts
  packages/web-ui/src/transforms-new/ast-operations/jsx/update-jsx-attribute.ts
  packages/web-ui/src/transforms-new/ast-operations/jsx/wrap-expression.ts
  packages/web-ui/src/transforms-new/ast-operations/parameters/add-parameter.ts
  packages/web-ui/src/transforms-new/ast-operations/parameters/reorder-parameters.ts
  packages/web-ui/src/transforms-new/business-logic/catalyst-integration/add-catalyst-prefix.ts
  packages/web-ui/src/transforms-new/business-logic/catalyst-integration/catalyst-mappings.ts
  packages/web-ui/src/transforms-new/business-logic/className-management/add-className-param.ts
  packages/web-ui/src/transforms-new/business-logic/className-management/forward-className.ts
  packages/web-ui/src/transforms-new/core/ast-factory.ts
  packages/web-ui/src/transforms-new/core/types.ts
  packages/web-ui/src/transforms-new/index.ts
  packages/web-ui/src/transforms-new/migration/compatibility-layer.ts
  packages/web-ui/src/transforms-new/migration/migration-plan.md
  packages/web-ui/src/transforms-new/pipelines/main-pipeline.ts
Due: prettier, oxlint, typecheck, build-affected

chore(web-ui):temp disable tests, fix lint,ts and build" --no-verify
  packages/web-ui/src/components/__tests__/divider.test.tsx
  packages/web-ui/src/components/button.tsx
  packages/web-ui/src/components/lib/catalyst-button.tsx
  packages/web-ui/src/components/lib/catalyst-checkbox.tsx
  packages/web-ui/src/components/lib/catalyst-combobox.tsx
  packages/web-ui/src/components/lib/catalyst-dialog.tsx
  packages/web-ui/src/components/lib/catalyst-dropdown.tsx
  packages/web-ui/src/components/lib/catalyst-fieldset.tsx
  packages/web-ui/src/components/lib/catalyst-input.tsx
  packages/web-ui/src/components/lib/catalyst-listbox.tsx
  packages/web-ui/src/components/lib/catalyst-radio.tsx
  packages/web-ui/src/components/lib/catalyst-select.tsx
  packages/web-ui/src/components/lib/catalyst-switch.tsx
  packages/web-ui/src/components/lib/catalyst-textarea.tsx
  packages/web-ui/src/components/theme/theme-switcher.tsx
  packages/web-ui/src/transforms-new/ast-operations/jsx/update-jsx-attribute.ts
  packages/web-ui/src/transforms-new/ast-operations/jsx/wrap-expression.ts
  packages/web-ui/src/transforms-new/ast-operations/parameters/add-parameter.ts
  packages/web-ui/src/transforms-new/business-logic/className-management/forward-className.ts
  packages/web-ui/src/transforms-new/core/types.ts
  packages/web-ui/src/transforms-new/migration/compatibility-layer.ts
  packages/web-ui/tests/integration/theme-colors.test.tsx
  pnpm-lock.yaml
Due: prettier, oxlint, typecheck, build-affected

chore(web-ui): skip test, ignore demo folder and format
  .prettierignore
  packages/web-ui/src/components/__tests__/dropdown.test.tsx
  packages/web-ui/tests/integration/interactive-patterns.test.tsx
  pnpm-workspace.yaml
Due: prettier, oxlint, typecheck, build-affected

chore(web-ui): format
  packages/web-ui/src/components/lib/catalyst-alert.tsx
  packages/web-ui/src/components/lib/catalyst-auth-layout.tsx
  packages/web-ui/src/components/lib/catalyst-avatar.tsx
  packages/web-ui/src/components/lib/catalyst-badge.tsx
  packages/web-ui/src/components/lib/catalyst-description-list.tsx
  packages/web-ui/src/components/lib/catalyst-heading.tsx
  packages/web-ui/src/components/lib/catalyst-link.tsx
  packages/web-ui/src/components/lib/catalyst-navbar.tsx
  packages/web-ui/src/components/lib/catalyst-pagination.tsx
  packages/web-ui/src/components/lib/catalyst-sidebar-layout.tsx
  packages/web-ui/src/components/lib/catalyst-sidebar.tsx
  packages/web-ui/src/components/lib/catalyst-stacked-layout.tsx
  packages/web-ui/src/components/lib/catalyst-table.tsx
  packages/web-ui/src/components/lib/catalyst-text.tsx
Due: prettier, oxlint, typecheck, build-affected

chore: update pnpm to 10.12.4
  .github/CI_OPTIMIZATIONS.md
  .github/actions/setup-monorepo/action.yml
  .github/actions/setup-node-pnpm/action.yml
  docs/how-to/contributing.md
  packages/create-trailhead-cli/templates/shared/package.json.hbs
Due: prettier, docs-validate

chore: remove deprecated @types dependencies
  packages/cli/package.json
  packages/create-trailhead-cli/package.json
  pnpm-lock.yaml
Due: prettier, build-affected

chore: update root dependencies
  package.json
  pnpm-lock.yaml
Due: none

chore: update package dependencies to latest versions
  packages/cli/package.json
  packages/create-trailhead-cli/package.json
  packages/web-ui/package.json
  pnpm-lock.yaml
Due: prettier, build-affected

chore: update dependencies and remove deprecated types (#90)
  .github/CI_OPTIMIZATIONS.md
  .github/actions/setup-monorepo/action.yml
  .github/actions/setup-node-pnpm/action.yml
  docs/how-to/contributing.md
  package.json
  packages/cli/package.json
  packages/create-trailhead-cli/package.json
  packages/create-trailhead-cli/templates/shared/package.json.hbs
  packages/web-ui/package.json
  pnpm-lock.yaml
Due: prettier, docs-validate, build-affected

feat(config): optimize Turborepo configuration for better performance
  turbo.json
Due: none

feat(config): optimize Turborepo configuration for better performance (#96)
  turbo.json
Due: none

feat(tooling): complete TypeScript configuration and workspace setup
  CLAUDE.md
  packages/web-ui/tests/e2e/tsconfig.json
  pnpm-workspace.yaml
  tooling/typescript-config/node.json
  tooling/typescript-config/react.json
  tsconfig.json
Due: prettier, build-affected

feat(tooling): complete TypeScript configuration and workspace setup (#97)
  CLAUDE.md
  packages/web-ui/tests/e2e/tsconfig.json
  pnpm-workspace.yaml
  tooling/typescript-config/node.json
  tooling/typescript-config/react.json
  tsconfig.json
Due: prettier, build-affected

docs(shortcuts): enhance git workflow shortcuts and fix grammar
  CLAUDE.md
Due: none

docs(shortcuts): enhance git workflow shortcuts and fix grammar (#98)
  CLAUDE.md
Due: none

feat(ci): enable Turborepo remote caching for GitHub Actions
  .github/workflows/ci-pr.yml
  .github/workflows/cli-examples.yml
  .github/workflows/reusable-ci.yml
  turbo.json
Due: none

perf(ci): parallelize build with tests for faster PR feedback
  .github/workflows/ci-pr.yml
Due: none

feat(ci): enable Turborepo remote caching for GitHub Actions (#99)
  .github/workflows/ci-pr.yml
  .github/workflows/cli-examples.yml
  .github/workflows/reusable-ci.yml
  turbo.json
Due: none

feat(scripts): add --pop/-p flag to fresh-start for stash restoration
  scripts/fresh-start.js
Due: prettier, build-affected

docs: update shortcut descriptions for clarity and consistency
  CLAUDE.md
Due: none

feat(scripts): add --pop/-p flag to fresh-start for stash restoration (#100)
  CLAUDE.md
  scripts/fresh-start.js
Due: prettier, build-affected

feat(tooling): enhance development tools and quality monitoring
  package.json
  packages/web-ui/oxlintrc.json
  scripts/validate-dependencies.js
  tooling/oxlint-config/oxlintrc.json
Due: prettier, build-affected

feat(tooling): enhance development tools and quality monitoring (#101)
  package.json
  packages/web-ui/oxlintrc.json
  scripts/validate-dependencies.js
  tooling/oxlint-config/oxlintrc.json
Due: prettier, build-affected

feat(config): standardize oxlint configuration across monorepo
  .oxlintrc.json
  packages/cli/.oxlintrc.json
  packages/cli/src/utils/package-manager.ts
  packages/create-trailhead-cli/.oxlintrc.json
  packages/create-trailhead-cli/scripts/test-generator-full.ts
  packages/create-trailhead-cli/src/__tests__/generator-structure.test.ts
  packages/create-trailhead-cli/src/lib/generator.ts
  packages/create-trailhead-cli/src/lib/template-loader.ts
  packages/create-trailhead-cli/templates/shared/.oxlintrc.json
  packages/create-trailhead-cli/templates/shared/oxlintrc.json
  packages/web-ui/.oxlintrc.json
  packages/web-ui/oxlintrc.json
  tooling/oxlint-config/.oxlintrc.json
Due: prettier, oxlint, typecheck, build-affected

feat(config): standardize oxlint configuration across monorepo (#102)
  .oxlintrc.json
  packages/cli/.oxlintrc.json
  packages/cli/src/utils/package-manager.ts
  packages/create-trailhead-cli/.oxlintrc.json
  packages/create-trailhead-cli/scripts/test-generator-full.ts
  packages/create-trailhead-cli/src/__tests__/generator-structure.test.ts
  packages/create-trailhead-cli/src/lib/generator.ts
  packages/create-trailhead-cli/src/lib/template-loader.ts
  packages/create-trailhead-cli/templates/shared/.oxlintrc.json
  packages/create-trailhead-cli/templates/shared/oxlintrc.json
  packages/web-ui/.oxlintrc.json
  packages/web-ui/oxlintrc.json
  tooling/oxlint-config/.oxlintrc.json
Due: prettier, oxlint, typecheck, build-affected

feat(config): standardize prettier and npm registry configurations
  docs/reference/configuration-patterns.md
  packages/cli/.npmrc
  packages/create-trailhead-cli/templates/shared/prettier.config.js
  packages/web-ui/.npmrc
  prettier.config.js
  tooling/prettier-config/index.json
Due: prettier, oxlint, docs-validate, build-affected
