Repository trailhead-diy/trailhead: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, oxlint, typecheck, jsdoc

prettier:
  priority: 1
  run: pnpm prettier --write {staged_files} --cache --cache-location .turbo/.prettiercache
  stage_fixed: true

oxlint:
  priority: 2
  run: pnpm oxlint {staged_files} --fix
  stage_fixed: true

typecheck:
  priority: 3
  run: pnpm types --filter="./packages/*" -- --incremental

jsdoc:
  priority: 4
  ...

test(data): align Excel tests with fixed hasHeader behavior
  packages/data/tests/excel.integration.test.ts
Due: prettier, oxlint, typecheck

test(data): add Excel and binary detection integration tests
  packages/data/tests/detection.integration.test.ts
  packages/data/tests/fixtures/sample.jpg
  packages/data/tests/fixtures/sample.png
  packages/data/tests/fixtures/sample.xlsx
  packages/data/tests/operations.integration.test.ts
Due: prettier, oxlint, typecheck

test(cli): add option processing cache tests
  packages/cli/tests/performance.test.ts
Due: prettier, oxlint, typecheck

test(create-cli): add template module tests
  packages/create-cli/src/lib/templates/__tests__/compiler.test.ts
  packages/create-cli/src/lib/templates/__tests__/loader.test.ts
  packages/create-cli/src/lib/templates/__tests__/utils.test.ts
Due: prettier, oxlint, typecheck, jsdoc

chore(analysis): update behavioral coverage reports
  .claude/analysis/monorepo-coverage.json
  packages/cli/.claude/analysis/coverage-report.json
  packages/create-cli/.claude/analysis/coverage-report.json
  packages/data/.claude/analysis/coverage-report.json
Due: prettier

chore(deps): update dev dependencies
  package.json
  packages/cli/package.json
  packages/core/package.json
  packages/create-cli/package.json
  packages/data/package.json
  pnpm-lock.yaml
  tooling/tsup-config/package.json
  tooling/vitest-config/package.json
Due: prettier

docs(api): remove stale references from generated docs
  docs/@trailhead.cli.md
  docs/@trailhead.core.md
Due: prettier

docs: add JSDoc to all public exports
  packages/cli/src/testing/cli-testing.ts
  packages/cli/src/testing/context.ts
  packages/cli/src/testing/interactive.ts
  packages/cli/src/testing/performance.ts
  packages/cli/src/utils/chalk.ts
  packages/cli/src/utils/logger.ts
  packages/core/src/testing/async-helpers.ts
  packages/core/src/testing/error-factories.ts
  packages/core/src/testing/vitest-matchers.ts
  packages/core/src/utils/index.ts
  packages/create-cli/src/commands/generate.ts
  packages/create-cli/src/lib/cli/logger.ts
  packages/create-cli/src/lib/config/schema.ts
  packages/create-cli/src/lib/config/validation.ts
  packages/create-cli/src/lib/core/errors.ts
  packages/create-cli/src/lib/core/transforms.ts
  packages/create-cli/src/lib/templates/compiler.ts
  packages/create-cli/src/lib/templates/context.ts
  packages/create-cli/src/lib/templates/modules.ts
  packages/create-cli/src/lib/templates/utils.ts
  packages/data/src/conversion/types.ts
  packages/data/src/detection/types.ts
  packages/data/src/formats-errors.ts
  packages/data/src/formats-types.ts
  packages/data/src/mime/core.ts
  packages/data/src/mime/types.ts
  packages/data/src/testing/data-generators.ts
  packages/data/src/testing/index.ts
  packages/data/src/testing/transform-helpers.ts
Due: prettier, oxlint, typecheck, jsdoc

chore(analysis): add documentation coverage reports
  .claude/analysis/docs-status.json
  packages/cli/.claude/analysis/docs-report.json
  packages/core/.claude/analysis/docs-report.json
  packages/create-cli/.claude/analysis/docs-report.json
  packages/data/.claude/analysis/docs-report.json
Due: prettier

docs: update template and conversion operation documentation for clarity
  docs/@trailhead.create-cli.md
  docs/@trailhead.data.md
Due: prettier

docs: remove stale references to deprecated packages
  .changeset/brave-flowers-laugh.md
  .changeset/witty-clowns-teach.md
  .github/CI_OPTIMIZATIONS.md
  README.md
  packages/cli/README.md
  packages/cli/docs/explanation/architecture.md
  packages/cli/docs/explanation/design-decisions.md
  packages/cli/docs/how-to/add-file-operations.md
  packages/cli/docs/how-to/handle-errors-in-cli.md
  packages/cli/docs/how-to/import-patterns.md
  packages/cli/docs/how-to/optimization-guide.md
  packages/cli/docs/tutorials/build-complete-cli.md
  packages/cli/docs/tutorials/csv-hell.md
  packages/cli/docs/tutorials/getting-started.md
  packages/cli/src/templates/git-hooks/README.md
  packages/cli/src/testing/README.md
  packages/core/README.md
  packages/create-cli/README.md
  packages/create-cli/templates/shared/scripts/README.md
  packages/data/README.md
  packages/data/docs/README.md
  packages/data/docs/how-to/process-data-files.md
Due: prettier

test(create-cli): improve integration test error reporting
  packages/create-cli/src/__tests__/integration.test.ts
Due: prettier, oxlint, typecheck, jsdoc

test(create-cli): improve integration test error reporting (#206)
  packages/create-cli/src/__tests__/integration.test.ts
Due: prettier, oxlint, typecheck, jsdoc

fix(versions): sync core to 2.0.0 and fix integration test
  packages/core/package.json
  packages/create-cli/src/__tests__/integration.test.ts
  packages/create-cli/templates/shared/package.json.hbs
Due: prettier, oxlint, typecheck, jsdoc

fix(test): resolve integration test failures for v2.0.0 release (#207)
  packages/core/package.json
  packages/create-cli/src/__tests__/integration.test.ts
  packages/create-cli/templates/shared/package.json.hbs
Due: prettier, oxlint, typecheck, jsdoc

fix(template): update dependencies to v3.0.0
  packages/create-cli/templates/shared/package.json.hbs
Due: none

fix(template): update dependencies to v3.0.0 (#209)
  packages/create-cli/templates/shared/package.json.hbs
Due: none

feat(cli)!: migrate from commander to citty for v4.0.0
  packages/cli/CHANGELOG.md
  packages/cli/README.md
  packages/cli/examples/citty-hello.ts
  packages/cli/examples/simple-citty.ts
  packages/cli/package.json
  packages/cli/src/cli.ts
  packages/cli/src/command/base.ts
  packages/cli/src/command/builders.ts
  packages/cli/src/command/index.ts
  packages/cli/src/command/patterns.ts
  packages/cli/src/command/performance.ts
  packages/cli/src/command/types.ts
  packages/cli/src/command/validation.ts
  packages/cli/src/index.ts
  packages/cli/src/testing/assertions.ts
  packages/cli/src/testing/cli-testing.ts
  packages/cli/src/testing/context.ts
  packages/cli/src/testing/index.ts
  packages/cli/src/testing/interactive.ts
  packages/cli/src/testing/performance.ts
  packages/cli/src/testing/runner.ts
  pnpm-lock.yaml
Due: prettier, oxlint, typecheck, jsdoc

test(cli): replace old tests with citty-focused tests
  packages/cli/src/testing/__tests__/performance.test.ts
  packages/cli/tests/argument-parsing.test.ts
  packages/cli/tests/builders.test.ts
  packages/cli/tests/cli-creation.test.ts
  packages/cli/tests/cli-orchestration.test.ts
  packages/cli/tests/command-registration.test.ts
  packages/cli/tests/command.test.ts
  packages/cli/tests/domain-integration.test.ts
  packages/cli/tests/error-handling.test.ts
  packages/cli/tests/git-hooks.integration.test.ts
  packages/cli/tests/patterns.test.ts
  packages/cli/tests/performance.test.ts
  packages/cli/tests/prompts.test.ts
  packages/cli/tests/subprocess.test.ts
  packages/cli/tests/testing-utilities.test.ts
Due: prettier, oxlint, typecheck, jsdoc

chore(cli): remove remaining commander references
  packages/cli/src/command/git-hooks.ts
  packages/cli/tsup.config.ts
Due: prettier, oxlint, typecheck, jsdoc

fix(cli): add backward compatibility test assertions
  packages/cli/src/testing/assertions.ts
  packages/cli/src/testing/index.ts
Due: prettier, oxlint, typecheck, jsdoc

feat(cli)!: migrate from Commander.js to Citty for v4.0.0 (#211)
  packages/cli/CHANGELOG.md
  packages/cli/README.md
  packages/cli/examples/citty-hello.ts
  packages/cli/examples/simple-citty.ts
  packages/cli/package.json
  packages/cli/src/cli.ts
  packages/cli/src/command/base.ts
  packages/cli/src/command/builders.ts
  packages/cli/src/command/git-hooks.ts
  packages/cli/src/command/index.ts
  packages/cli/src/command/patterns.ts
  packages/cli/src/command/performance.ts
  packages/cli/src/command/types.ts
  packages/cli/src/command/validation.ts
  packages/cli/src/index.ts
  packages/cli/src/testing/__tests__/performance.test.ts
  packages/cli/src/testing/assertions.ts
  packages/cli/src/testing/cli-testing.ts
  packages/cli/src/testing/context.ts
  packages/cli/src/testing/index.ts
  packages/cli/src/testing/interactive.ts
  packages/cli/src/testing/performance.ts
  packages/cli/src/testing/runner.ts
  packages/cli/tests/argument-parsing.test.ts
  packages/cli/tests/builders.test.ts
  packages/cli/tests/cli-creation.test.ts
  packages/cli/tests/cli-orchestration.test.ts
  packages/cli/tests/command-registration.test.ts
  packages/cli/tests/command.test.ts
  packages/cli/tests/domain-integration.test.ts
  packages/cli/tests/error-handling.test.ts
  packages/cli/tests/git-hooks.integration.test.ts
  packages/cli/tests/patterns.test.ts
  packages/cli/tests/performance.test.ts
  packages/cli/tests/prompts.test.ts
  packages/cli/tests/subprocess.test.ts
  packages/cli/tests/testing-utilities.test.ts
  packages/cli/tsup.config.ts
  pnpm-lock.yaml
Due: prettier, oxlint, typecheck, jsdoc

Path conditions:
  prettier: any of: **/*.{ts,tsx,js,jsx,json,md}
  oxlint: any of: packages/**/*.{ts,tsx,js,jsx}
  typecheck: any of: **/*.{ts,tsx}
  jsdoc: any of: packages/*/src/**/*.{ts,tsx}
