Repository trailhead-diy/trailhead: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, oxlint, typecheck, docs-validate, build-affected

prettier:
  priority: 1
  run: pnpm prettier --write {staged_files} --cache --cache-location .turbo/.prettiercache
  stage_fixed: true

oxlint:
  priority: 2
  run: pnpm oxlint {staged_files} --fix
  stage_fixed: true

typecheck:
  priority: 3
  run: pnpm types --filter="./packages/*" -- --incremental

docs-validate:
  priority: 4
  run: "staged_docs=$(git diff --cached --name-only --diff-filter=ACM | grep -E '\\.(md)$' | grep -E '(docs/|packages/.*/docs/)' || true)\nif [ -n \"$staged_docs\" ]; then\n  for file in $staged_docs; do\n    pnpm docs:validate \"$file\"\n  done\nfi\n"

build-affected:
  priority: 7
  run: "echo \"üî® Building affected packages...\"\n# Use Turborepo's affected detection with caching\npnpm turbo build --filter='...[HEAD^1]' --cache-dir=.turbo || {\n  echo \"‚ùå Build failed - this would fail in CI\"\n  exit 1\n}\necho \"‚úÖ Build validation passed\"\n"

fix(package.json.hbs): rename 'run' script to 'start' for consistency
  packages/create-cli/templates/shared/package.json.hbs
Due: none

fix: exclude handlebars templates from prettier formatting
  .prettierignore
Due: none

fix(vitest-config): add vite dependency and fix plugin type compatibility
  tooling/vitest-config/package.json
  tooling/vitest-config/vitest.shared.ts
Due: prettier, typecheck, build-affected

chore: remove web-ui reference and improve gitignore for tsup bundled files
  .gitignore
  tsconfig.json
Due: none

chore: configure output logging for validate task and prettier
  package.json
  turbo.json
Due: none

fix: replace broken git package reference in pre-push hook
  lefthook.yml
Due: none

fix: update zod dependency to version 4.0.14 in create-cli and validation packages
  packages/create-cli/package.json
  packages/validation/package.json
  pnpm-lock.yaml
Due: prettier, build-affected

chore: update pnpm lockfile
  .smart-test-config.json
  pnpm-lock.yaml
Due: none

docs: remove domain-driven testing documentation
  DOMAIN_DRIVEN_TESTING_GUIDE.md
  domain-driven-testing-plan.md
  full-review.md
  gh-pckgs.md
  implementation-review-complete.md
Due: none

chore: reorganize settings files
  .github/renovate.json
  .oxlintrc.json
  TESTING.md
  packages/cli/docs/README.md
  packages/cli/docs/command-enhancement-suite.md
  packages/cli/docs/explanation/architecture.md
  packages/cli/docs/explanation/design-decisions.md
  packages/cli/docs/flow-control-error-handling.md
  packages/cli/docs/future-enhancements.md
  packages/cli/docs/how-to/functional-patterns.md
  packages/cli/docs/how-to/import-patterns.md
  packages/cli/docs/how-to/optimization-guide.md
  packages/cli/docs/reference/command.md
  packages/cli/docs/reference/config.md
  packages/cli/docs/reference/core.md
  packages/cli/docs/reference/filesystem.md
  packages/cli/docs/reference/prompts.md
  packages/cli/docs/reference/testing.md
  packages/cli/docs/reference/types.md
  packages/cli/docs/reference/utils.md
  packages/cli/docs/tutorials/csv-hell.md
  packages/cli/docs/tutorials/getting-started.md
  packages/config/README.md
  tooling/oxlint-config/.oxlintrc.json
  tooling/oxlint-config/oxlint.json
  tooling/oxlint-config/package.json
Due: prettier, docs-validate, build-affected

docs(core): implement Diátaxis documentation framework
  docs/README.md
  docs/archive/PACKAGE_DOCUMENTATION_TEMPLATE.md
  docs/archive/README.md
  docs/archive/TEST_TEMPLATE.md
  docs/reference/cross-reference-style-guide.md
  docs/reference/documentation-standards.md
  docs/reference/writing-guide.md
Due: prettier, docs-validate

docs(monorepo): add comprehensive guides and API documentation
  README.md
  docs/explanation/config-sources.md
  docs/explanation/functional-architecture.md
  docs/explanation/package-ecosystem.md
  docs/explanation/result-types-pattern.md
  docs/how-to/apply-functional-patterns.md
  docs/how-to/compose-result-operations.md
  docs/how-to/contributing.md
  docs/how-to/convert-data-formats.md
  docs/how-to/create-custom-validators.md
  docs/how-to/define-schemas.md
  docs/how-to/generate-config-docs.md
  docs/how-to/maintain-cross-references.md
  docs/how-to/perform-atomic-file-operations.md
  docs/reference/core-api.md
  docs/testing-guide.md
  docs/tutorials/config-getting-started.md
  docs/tutorials/data-pipeline-processing.md
  docs/tutorials/file-operations-basics.md
  docs/tutorials/form-validation-guide.md
Due: prettier, docs-validate

docs(cli): add comprehensive CLI package documentation
  packages/cli/README.md
  packages/cli/docs/README.md
  packages/cli/docs/how-to/handle-errors-in-cli.md
  packages/cli/docs/how-to/migrate-to-command-enhancements.md
  packages/cli/docs/how-to/migrate-to-pipelines.md
  packages/cli/docs/how-to/test-cli-applications.md
  packages/cli/docs/how-to/use-result-pipelines.md
  packages/cli/docs/reference/build-config.md
  packages/cli/docs/reference/command-enhancements.md
  packages/cli/docs/reference/flow-control.md
  packages/cli/docs/tutorials/build-complete-cli.md
  packages/cli/docs/tutorials/csv-hell.md
  packages/cli/docs/tutorials/getting-started.md
Due: prettier, docs-validate

docs(data): add comprehensive data package documentation
  packages/data/README.md
  packages/data/docs/README.md
  packages/data/docs/explanation/format-detection.md
  packages/data/docs/how-to/process-data-files.md
  packages/data/docs/reference/api.md
Due: prettier, docs-validate

docs(fs): add comprehensive filesystem package documentation
  packages/fs/README.md
  packages/fs/docs/README.md
  packages/fs/docs/explanation/result-patterns.md
  packages/fs/docs/how-to/file-operations.md
  packages/fs/docs/reference/api.md
Due: prettier, docs-validate

docs(validation): add comprehensive validation package documentation
  packages/validation/README.md
  packages/validation/docs/README.md
  packages/validation/docs/explanation/composition-patterns.md
  packages/validation/docs/how-to/validate-data.md
  packages/validation/docs/reference/api.md
Due: prettier, docs-validate

docs(config): add config package API documentation
  packages/config/README.md
  packages/config/docs/reference/api.md
  packages/create-cli/scripts/README.md
Due: prettier, docs-validate

feat(tooling): add documentation link validation and fixing tools
  tooling/docs-tooling/package.json
  tooling/docs-tooling/src/fix-links.ts
  tooling/docs-tooling/src/validate-links.ts
Due: prettier, typecheck, build-affected

ci(docs): add documentation validation workflow
  .github/workflows/validate-documentation.yml
  package.json
Due: none

refactor(cli): convert PackageManagerCache and SemVer to functional patterns
  packages/cli/src/utils/package-manager.test.ts
  packages/cli/src/utils/package-manager.ts
Due: prettier, oxlint, typecheck, build-affected

refactor(docs-tooling): convert LinkFixer and LinkValidator to functional patterns
  tooling/docs-tooling/src/fix-links.ts
  tooling/docs-tooling/src/validate-links.ts
Due: prettier, typecheck, build-affected

chore(deps): remove @repo/oxlint-config references
  packages/cli/package.json
  packages/core/package.json
  packages/create-cli/package.json
  packages/create-cli/templates/shared/package.json.hbs
  packages/data/package.json
  packages/fs/package.json
  packages/validation/package.json
  pnpm-lock.yaml
Due: prettier, build-affected

chore(create-cli): update oxlint config template
  packages/create-cli/templates/shared/.oxlintrc.json
Due: prettier, build-affected

chore: update CLAUDE.md and README.md formatting
  CLAUDE.md
  README.md
Due: none

style(cli): format LINTING.md with prettier
  packages/cli/LINTING.md
Due: prettier

docs: add missing frontmatter to documentation files
  .gitignore
  docs/archive/PACKAGE_DOCUMENTATION_TEMPLATE.md
  docs/archive/README.md
  docs/archive/TEST_TEMPLATE.md
  docs/ci-strategy.md
  docs/explanation/config-sources.md
  docs/explanation/functional-architecture.md
  docs/explanation/package-ecosystem.md
  docs/explanation/result-types-pattern.md
  docs/git-commit-best-practices.md
  docs/how-to/apply-functional-patterns.md
  docs/how-to/compose-result-operations.md
  docs/how-to/convert-data-formats.md
  docs/how-to/create-custom-validators.md
  docs/how-to/define-schemas.md
  docs/how-to/generate-config-docs.md
  docs/how-to/maintain-cross-references.md
  docs/how-to/perform-atomic-file-operations.md
  docs/reference/core-api.md
  docs/reference/writing-guide.md
  docs/testing-guide.md
  docs/tutorials/config-getting-started.md
  docs/tutorials/data-pipeline-processing.md
  docs/tutorials/file-operations-basics.md
  docs/tutorials/form-validation-guide.md
Due: prettier, docs-validate

refactor(cli): remove backwards compatibility from FP conversions
  packages/cli/src/utils/index.ts
  packages/cli/src/utils/package-manager.test.ts
  packages/cli/src/utils/package-manager.ts
Due: prettier, oxlint, typecheck, build-affected

docs: fix cross-references in main documentation
  docs/DEVELOPMENT_WORKFLOW.md
  docs/PACKAGE_REGISTRY.md
  docs/README.md
  docs/ci-strategy.md
  docs/git-commit-best-practices.md
Due: prettier

docs: fix cross-references in docs subdirectories
  docs/explanation/config-sources.md
  docs/explanation/functional-architecture.md
  docs/explanation/package-ecosystem.md
  docs/explanation/result-types-pattern.md
  docs/how-to/apply-functional-patterns.md
  docs/how-to/compose-result-operations.md
  docs/how-to/convert-data-formats.md
  docs/how-to/create-custom-validators.md
  docs/how-to/define-schemas.md
  docs/how-to/generate-config-docs.md
  docs/how-to/maintain-cross-references.md
  docs/how-to/perform-atomic-file-operations.md
  docs/reference/core-api.md
  docs/reference/cross-reference-style-guide.md
  docs/reference/documentation-standards.md
  docs/reference/review-checklist.md
  docs/reference/writing-guide.md
  docs/testing-guide.md
  docs/tutorials/config-getting-started.md
  docs/tutorials/data-pipeline-processing.md
  docs/tutorials/file-operations-basics.md
  docs/tutorials/form-validation-guide.md
Due: prettier, docs-validate

docs(cli): fix cross-references in CLI package documentation
  packages/cli/README.md
  packages/cli/docs/README.md
  packages/cli/docs/explanation/architecture.md
  packages/cli/docs/explanation/design-decisions.md
  packages/cli/docs/how-to/handle-errors-in-cli.md
  packages/cli/docs/how-to/import-patterns.md
  packages/cli/docs/how-to/migrate-to-command-enhancements.md
  packages/cli/docs/how-to/migrate-to-pipelines.md
  packages/cli/docs/how-to/optimization-guide.md
  packages/cli/docs/how-to/test-cli-applications.md
  packages/cli/docs/how-to/use-result-pipelines.md
  packages/cli/docs/reference/build-config.md
  packages/cli/docs/reference/command-enhancements.md
  packages/cli/docs/reference/command.md
  packages/cli/docs/reference/config.md
  packages/cli/docs/reference/core.md
  packages/cli/docs/reference/filesystem.md
  packages/cli/docs/reference/flow-control.md
  packages/cli/docs/reference/prompts.md
  packages/cli/docs/reference/testing.md
  packages/cli/docs/reference/types.md
  packages/cli/docs/reference/utils.md
  packages/cli/docs/tutorials/build-complete-cli.md
  packages/cli/docs/tutorials/csv-hell.md
  packages/cli/docs/tutorials/getting-started.md
Due: prettier, docs-validate

docs: fix cross-references in config, data, fs, and validation packages
  packages/config/README.md
  packages/config/docs/reference/api.md
  packages/data/README.md
  packages/data/docs/README.md
  packages/data/docs/explanation/format-detection.md
  packages/data/docs/how-to/process-data-files.md
  packages/data/docs/reference/api.md
  packages/fs/README.md
  packages/fs/docs/README.md
  packages/fs/docs/explanation/result-patterns.md
  packages/fs/docs/how-to/file-operations.md
  packages/fs/docs/reference/api.md
  packages/validation/README.md
  packages/validation/docs/README.md
  packages/validation/docs/explanation/composition-patterns.md
  packages/validation/docs/how-to/validate-data.md
  packages/validation/docs/reference/api.md
Due: prettier, docs-validate

build: add documentation link fixing scripts
  scripts/fix-doc-links.js
  scripts/fix-final-links.js
  scripts/fix-relative-paths.js
  scripts/fix-remaining-links.js
Due: prettier, build-affected

ci(docs): add GitHub Pages deployment workflow
  .github/workflows/deploy-docs.yml
Due: none

docs: fix remaining cross-references in create-cli and templates
  docs/reference/templates/explanation-template.md
  docs/reference/templates/howto-template.md
  docs/reference/templates/reference-template.md
  docs/reference/templates/tutorial-template.md
  packages/create-cli/README.md
  packages/create-cli/docs/README.md
  packages/create-cli/docs/explanation/templates.md
  packages/create-cli/docs/how-to/configure-defaults.md
  packages/create-cli/docs/how-to/custom-prompts.md
  packages/create-cli/docs/how-to/customize-templates.md
  packages/create-cli/docs/reference/api.md
  packages/create-cli/docs/reference/schema.md
  packages/create-cli/docs/reference/templates.md
  packages/create-cli/docs/tutorials/getting-started.md
Due: prettier, docs-validate

chore(deps): update dependencies for documentation site
  package.json
  pnpm-lock.yaml
Due: none

chore: add MIT LICENSE file
  LICENSE
Due: none

Path conditions:
  prettier: any of: **/*.{ts,tsx,js,jsx,json,md}
  oxlint: any of: packages/**/*.{ts,tsx,js,jsx}
  typecheck: any of: **/*.{ts,tsx}
  docs-validate: any of: {docs,packages/**/docs}/**/*.md
  build-affected: any of: **/*.{ts,tsx,js,jsx,json}
