Repository trailhead-diy/trailhead: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, oxlint, typecheck, docs-validate, build-affected

Path conditions:
  prettier: any of: **/*.{ts,tsx,js,jsx,json,md}
  oxlint: any of: packages/**/*.{ts,tsx,js,jsx}
  typecheck: any of: **/*.{ts,tsx}
  docs-validate: any of: {docs,packages/**/docs}/**/*.md
  build-affected: any of: **/*.{ts,tsx,js,jsx,json}

refactor(cli): migrate filesystem, data, and formats to neverthrow
  packages/cli/src/data/__tests__/converter.test.ts
  packages/cli/src/data/__tests__/csv.test.ts
  packages/cli/src/data/__tests__/excel.test.ts
  packages/cli/src/data/__tests__/json.test.ts
  packages/cli/src/data/converter.ts
  packages/cli/src/data/csv.ts
  packages/cli/src/data/excel.ts
  packages/cli/src/data/index.ts
  packages/cli/src/data/json.ts
  packages/cli/src/filesystem/__tests__/file-utils.test.ts
  packages/cli/src/filesystem/factory.ts
  packages/cli/src/filesystem/file-utils.ts
  packages/cli/src/filesystem/memory.ts
  packages/cli/src/filesystem/node.ts
  packages/cli/src/filesystem/types.ts
  packages/cli/src/formats/__tests__/file-type-integration.test.ts
  packages/cli/src/formats/detection.ts
  packages/cli/src/formats/parser.ts
  packages/cli/src/formats/registry.ts
  packages/cli/src/formats/stream-utils.ts
Due: prettier, oxlint, typecheck, build-affected

refactor(cli): migrate git, streams, and utils to neverthrow
  packages/cli/src/git/__tests__/branch-sync.test.ts
  packages/cli/src/git/__tests__/git-command.test.ts
  packages/cli/src/git/__tests__/integration.test.ts
  packages/cli/src/git/__tests__/status.test.ts
  packages/cli/src/git/branch-sync.ts
  packages/cli/src/git/git-command.ts
  packages/cli/src/git/merge-base.ts
  packages/cli/src/git/status.ts
  packages/cli/src/streams/__tests__/streams.test.ts
  packages/cli/src/streams/core.ts
  packages/cli/src/streams/data-streams.ts
  packages/cli/src/streams/types.ts
  packages/cli/src/utils/package-manager.ts
Due: prettier, oxlint, typecheck, build-affected

refactor(cli): migrate testing, watcher, and workflows to neverthrow
  packages/cli/src/testing/__tests__/assertions.test.ts
  packages/cli/src/testing/__tests__/cli-testing.test.ts
  packages/cli/src/testing/__tests__/enhanced-testing.test.ts
  packages/cli/src/testing/__tests__/mocks.test.ts
  packages/cli/src/testing/assertions.ts
  packages/cli/src/testing/cli-testing.ts
  packages/cli/src/testing/mocks.ts
  packages/cli/src/testing/runner.ts
  packages/cli/src/testing/test-debugging.ts
  packages/cli/src/testing/vitest-matchers.ts
  packages/cli/src/watcher/__tests__/watcher.test.ts
  packages/cli/src/watcher/core.ts
  packages/cli/src/watcher/patterns.ts
  packages/cli/src/watcher/types.ts
  packages/cli/src/workflows/__tests__/advanced-builder.test.ts
  packages/cli/src/workflows/__tests__/builder.test.ts
  packages/cli/src/workflows/advanced-builder.ts
  packages/cli/src/workflows/builder.ts
Due: prettier, oxlint, typecheck, build-affected

test(cli): update all tests for neverthrow patterns
  packages/cli/src/__tests__/cli-integration.test.ts
  packages/cli/src/__tests__/cli.test.ts
  packages/cli/src/index.ts
Due: prettier, oxlint, typecheck, build-affected

feat(cli): add neverthrow ESLint rules with dual linting setup
  packages/cli/eslint.config.js
  tooling/oxlint-config/oxlint.json
Due: prettier, oxlint, build-affected

docs(cli): add linting documentation and update README
  packages/cli/LINTING.md
  packages/cli/README.md
Due: prettier

refactor(create-cli): migrate to neverthrow Result patterns
  packages/create-trailhead-cli/src/commands/generate.ts
  packages/create-trailhead-cli/src/lib/generator.ts
  packages/create-trailhead-cli/src/lib/template-compiler.ts
  packages/create-trailhead-cli/src/lib/template-context.ts
  packages/create-trailhead-cli/src/lib/template-loader.ts
  packages/create-trailhead-cli/src/lib/validation.ts
Due: prettier, oxlint, typecheck, build-affected

test(create-cli): fix tests for neverthrow migration
  packages/create-trailhead-cli/src/__tests__/generate-command.test.ts
  packages/create-trailhead-cli/src/__tests__/generator-structure.test.ts
  packages/create-trailhead-cli/src/__tests__/generator.test.ts
  packages/create-trailhead-cli/src/__tests__/integration-matrix.test.ts
Due: prettier, oxlint, typecheck, build-affected

chore: update lockfile for neverthrow dependencies
  pnpm-lock.yaml
Due: none

test(cli): complete core error system test migration to neverthrow
  packages/cli/src/core/errors/__tests__/factory.test.ts
  packages/cli/src/core/errors/__tests__/handlers.test.ts
  packages/cli/src/core/errors/__tests__/retry-advanced.test.ts
  packages/cli/src/core/errors/__tests__/utils.test.ts
  packages/cli/src/core/errors/handlers.ts
  packages/cli/src/core/pipeline.test.ts
Due: prettier, oxlint, typecheck, build-affected

chore(scripts): remove temporary and outdated scripts
  scripts/auto-fix-ci.sh
  scripts/ci-performance-report.sh
  scripts/compare-ci-usage.sh
  scripts/fix-windows-paths.ts
  scripts/migrate-to-ultimate-ci.sh
  scripts/update-package-names.sh
Due: prettier, typecheck, build-affected

fix(web-ui): resolve all TypeScript and linting errors
  packages/web-ui/src/cli/commands/__tests__/enhance.test.ts
  packages/web-ui/src/cli/commands/add.ts
  packages/web-ui/src/cli/commands/dev-refresh.ts
  packages/web-ui/src/cli/commands/enhance.ts
  packages/web-ui/src/cli/commands/init.ts
  packages/web-ui/src/cli/commands/install.ts
  packages/web-ui/src/cli/commands/transforms.ts
  packages/web-ui/src/cli/core/installation/component-installer.ts
  packages/web-ui/src/cli/core/installation/component-transformer.ts
  packages/web-ui/src/cli/core/installation/config.ts
  packages/web-ui/src/cli/core/installation/dependencies.ts
  packages/web-ui/src/cli/core/installation/framework-detection.ts
  packages/web-ui/src/cli/core/installation/orchestrator.ts
  packages/web-ui/src/cli/core/installation/step-executor.ts
  packages/web-ui/src/cli/core/installation/theme-installer.ts
  packages/web-ui/src/cli/core/installation/transform.ts
  packages/web-ui/src/cli/core/installation/types.ts
  packages/web-ui/src/cli/core/installation/verification.ts
  packages/web-ui/src/cli/core/installation/workspace-detection.ts
  packages/web-ui/src/cli/core/shared/file-utils.ts
  packages/web-ui/src/cli/core/shared/transform-core.ts
  packages/web-ui/src/cli/utils/context.ts
  packages/web-ui/src/transforms/__tests__/pipeline-integration.test.ts
  packages/web-ui/src/transforms/__tests__/semantic-colors.test.ts
  packages/web-ui/src/transforms/__tests__/transform-utils.test.ts
  packages/web-ui/src/transforms/__tests__/ts-nocheck.test.ts
  packages/web-ui/src/transforms/core/transform-base.ts
  packages/web-ui/src/transforms/core/transform-utils.ts
  packages/web-ui/src/transforms/pipelines/main.ts
Due: prettier, oxlint, typecheck, build-affected

refactor(web-ui): remove installation system core infrastructure
  docs/git-commit-best-practices.md
  packages/web-ui/src/cli/commands/__tests__/enhance.test.ts
  packages/web-ui/src/cli/commands/add.ts
  packages/web-ui/src/cli/commands/dev-refresh.ts
  packages/web-ui/src/cli/commands/enhance.ts
  packages/web-ui/src/cli/commands/init.ts
  packages/web-ui/src/cli/commands/install.ts
  packages/web-ui/src/cli/commands/transforms.ts
  packages/web-ui/src/cli/core/config/__tests__/schema.test.ts
  packages/web-ui/src/cli/core/installation/component-installer.ts
  packages/web-ui/src/cli/core/installation/component-transformer.ts
  packages/web-ui/src/cli/core/installation/config.ts
  packages/web-ui/src/cli/core/installation/dependencies.ts
  packages/web-ui/src/cli/core/installation/framework-detection.ts
  packages/web-ui/src/cli/core/installation/orchestrator.ts
  packages/web-ui/src/cli/core/installation/step-executor.ts
  packages/web-ui/src/cli/core/installation/theme-installer.ts
  packages/web-ui/src/cli/core/installation/transform.ts
  packages/web-ui/src/cli/core/installation/types.ts
  packages/web-ui/src/cli/core/installation/verification.ts
  packages/web-ui/src/cli/core/installation/workspace-detection.ts
  packages/web-ui/src/cli/core/shared/file-utils.ts
  packages/web-ui/src/cli/core/shared/transform-core.ts
  packages/web-ui/src/cli/utils/context.ts
  packages/web-ui/src/components/theme/__tests__/semantic-tokens.test.ts
  packages/web-ui/src/transforms/__tests__/pipeline-integration.test.ts
  packages/web-ui/src/transforms/__tests__/ts-nocheck.test.ts
  packages/web-ui/src/transforms/format/prefixing/core.ts
  packages/web-ui/src/transforms/format/prefixing/index.ts
  packages/web-ui/src/transforms/index.ts
  packages/web-ui/src/transforms/utils.ts
Due: prettier, oxlint, typecheck, build-affected

fix(web-ui): complete core Result pattern migration to neverthrow
  packages/web-ui/scripts/generate-hashes.ts
  packages/web-ui/src/cli/commands/dev-refresh.ts
  packages/web-ui/src/cli/commands/enhance.ts
  packages/web-ui/src/cli/commands/install.ts
  packages/web-ui/src/cli/commands/transforms.ts
  packages/web-ui/src/cli/core/config/__tests__/schema.test.ts
  packages/web-ui/src/cli/core/installation/component-installer.ts
  packages/web-ui/src/cli/core/installation/dependencies.ts
  packages/web-ui/src/cli/core/installation/orchestrator.ts
  packages/web-ui/src/cli/core/installation/theme-installer.ts
  packages/web-ui/src/cli/core/installation/transform.ts
  packages/web-ui/src/cli/core/shared/file-utils.ts
  packages/web-ui/src/cli/core/shared/transform-core.ts
  packages/web-ui/src/transforms/__tests__/remove-duplicate-props.test.ts
  packages/web-ui/src/transforms/__tests__/reorder-cn-args.test.ts
  packages/web-ui/src/transforms/__tests__/semantic-colors.test.ts
  packages/web-ui/src/transforms/index.ts
Due: prettier, oxlint, typecheck, build-affected

refactor(web-ui): complete installation system removal
  packages/web-ui/src/cli.ts
  packages/web-ui/src/cli/commands/install.ts
  packages/web-ui/src/cli/core/installation/__tests__/step-factory.test.ts
  packages/web-ui/src/cli/core/installation/component-installer.ts
  packages/web-ui/src/cli/core/installation/component-transformer.ts
  packages/web-ui/src/cli/core/installation/config.ts
  packages/web-ui/src/cli/core/installation/dependencies.ts
  packages/web-ui/src/cli/core/installation/dependency-resolution.ts
  packages/web-ui/src/cli/core/installation/dependency-strategies.ts
  packages/web-ui/src/cli/core/installation/framework-detection.ts
  packages/web-ui/src/cli/core/installation/guidance/generic-react.ts
  packages/web-ui/src/cli/core/installation/guidance/index.ts
  packages/web-ui/src/cli/core/installation/guidance/nextjs.ts
  packages/web-ui/src/cli/core/installation/guidance/redwood-sdk.ts
  packages/web-ui/src/cli/core/installation/guidance/shared.ts
  packages/web-ui/src/cli/core/installation/guidance/types.ts
  packages/web-ui/src/cli/core/installation/guidance/vite.ts
  packages/web-ui/src/cli/core/installation/index.ts
  packages/web-ui/src/cli/core/installation/orchestrator.ts
  packages/web-ui/src/cli/core/installation/shared-utils.ts
  packages/web-ui/src/cli/core/installation/step-executor.ts
  packages/web-ui/src/cli/core/installation/step-factory.ts
  packages/web-ui/src/cli/core/installation/theme-installer.ts
  packages/web-ui/src/cli/core/installation/transform.ts
  packages/web-ui/src/cli/core/installation/types.ts
  packages/web-ui/src/cli/core/installation/verification.ts
  packages/web-ui/src/cli/core/installation/workspace-detection.ts
Due: prettier, oxlint, typecheck, build-affected

fix(web-ui): resolve remaining TypeScript errors after installation removal
  packages/web-ui/src/cli/core/filesystem/paths.ts
  packages/web-ui/src/cli/core/shared/file-filters.ts
  packages/web-ui/src/cli/core/shared/file-utils.ts
  packages/web-ui/src/components/theme/__tests__/semantic-tokens.test.ts
  packages/web-ui/src/transforms/index.ts
Due: prettier, oxlint, typecheck, build-affected

test(web-ui): remove installation system test files
  packages/web-ui/tests/integration/install-workflow.test.ts
  packages/web-ui/tests/scripts/install/dependencies.test.ts
  packages/web-ui/tests/scripts/install/dependency-strategies.test.ts
  packages/web-ui/tests/scripts/install/framework-detection.test.ts
  packages/web-ui/tests/scripts/install/installation-workflow.test.ts
  packages/web-ui/tests/scripts/install/integration.test.ts
Due: prettier, oxlint, typecheck, build-affected

refactor(web-ui): restore proper FileSystem abstraction in transforms
  packages/web-ui/src/transforms/index.ts
Due: prettier, oxlint, typecheck, build-affected

chore: update pnpm lockfile after dependency cleanup
  pnpm-lock.yaml
Due: none

feat: add GitHub enhancement issue template
  .github/ISSUE_TEMPLATE/enhancement.yml
Due: none

feat(core): extract foundation package with functional error handling
  packages/cli/package.json
  packages/cli/src/core/errors/factory.ts
  packages/cli/src/core/errors/types.ts
  packages/cli/src/core/errors/utils.ts
  packages/core/__tests__/config.test.ts
  packages/core/__tests__/errors.test.ts
  packages/core/__tests__/functional.test.ts
  packages/core/package.json
  packages/core/src/errors/factory.ts
  packages/core/src/errors/index.ts
  packages/core/src/errors/types.ts
  packages/core/src/errors/utils.ts
  packages/core/src/functional/async.ts
  packages/core/src/functional/composition.ts
  packages/core/src/functional/config.ts
  packages/core/src/functional/index.ts
  packages/core/src/index.ts
  packages/core/tsconfig.json
  packages/core/tsup.config.ts
  packages/core/vitest.config.ts
  pnpm-lock.yaml
Due: prettier, oxlint, typecheck, build-affected

feat(phase-2): extract filesystem and validation packages
  packages/fs/package.json
  packages/fs/src/__tests__/core.test.ts
  packages/fs/src/__tests__/errors.test.ts
  packages/fs/src/__tests__/index.test.ts
  packages/fs/src/core.ts
  packages/fs/src/errors.ts
  packages/fs/src/index.ts
  packages/fs/src/types.ts
  packages/fs/tsconfig.json
  packages/fs/tsup.config.ts
  packages/fs/vitest.config.ts
  packages/validation/package.json
  packages/validation/src/__tests__/core.test.ts
  packages/validation/src/__tests__/errors.test.ts
  packages/validation/src/__tests__/index.test.ts
  packages/validation/src/core.ts
  packages/validation/src/errors.ts
  packages/validation/src/index.ts
  packages/validation/src/types.ts
  packages/validation/tsconfig.json
  packages/validation/tsup.config.ts
  packages/validation/vitest.config.ts
  pnpm-lock.yaml
Due: prettier, oxlint, typecheck, build-affected

feat(data): add @trailhead/data package with CSV, JSON, Excel processing
  packages/data/package.json
  packages/data/src/csv/core.test.ts
  packages/data/src/csv/core.ts
  packages/data/src/csv/index.ts
  packages/data/src/csv/types.ts
  packages/data/src/errors.ts
  packages/data/src/excel/core.test.ts
  packages/data/src/excel/core.ts
  packages/data/src/excel/index.ts
  packages/data/src/excel/types.ts
  packages/data/src/index.ts
  packages/data/src/json/core.test.ts
  packages/data/src/json/core.ts
  packages/data/src/json/index.ts
  packages/data/src/json/types.ts
  packages/data/src/types.ts
  packages/data/tsconfig.json
  packages/data/tsup.config.ts
  packages/data/vitest.config.ts
  pnpm-lock.yaml
Due: prettier, oxlint, typecheck, build-affected

feat(formats): complete file format detection package
  packages/data/src/csv/core.ts
  packages/data/src/excel/core.test.ts
  packages/data/src/json/core.ts
  packages/formats/package.json
  packages/formats/src/conversion/core.test.ts
  packages/formats/src/conversion/core.ts
  packages/formats/src/conversion/index.ts
  packages/formats/src/conversion/types.ts
  packages/formats/src/detection/core.test.ts
  packages/formats/src/detection/core.ts
  packages/formats/src/detection/database.ts
  packages/formats/src/detection/index.ts
  packages/formats/src/detection/types.ts
  packages/formats/src/errors.ts
  packages/formats/src/index.ts
  packages/formats/src/mime/core.test.ts
  packages/formats/src/mime/core.ts
  packages/formats/src/mime/index.ts
  packages/formats/src/mime/types.ts
  packages/formats/src/types.ts
  packages/formats/tsconfig.json
  packages/formats/tsup.config.ts
  packages/formats/vitest.config.ts
  pnpm-lock.yaml
Due: prettier, oxlint, typecheck, build-affected

feat(streams): add stream processing package with functional patterns
  packages/streams/package.json
  packages/streams/src/duplex/core.test.ts
  packages/streams/src/duplex/core.ts
  packages/streams/src/duplex/index.ts
  packages/streams/src/duplex/types.ts
  packages/streams/src/errors.ts
  packages/streams/src/index.ts
  packages/streams/src/readable/core.test.ts
  packages/streams/src/readable/core.ts
  packages/streams/src/readable/index.ts
  packages/streams/src/readable/types.ts
  packages/streams/src/transform/core.test.ts
  packages/streams/src/transform/core.ts
  packages/streams/src/transform/index.ts
  packages/streams/src/transform/types.ts
  packages/streams/src/types.ts
  packages/streams/src/writable/core.test.ts
  packages/streams/src/writable/core.ts
  packages/streams/src/writable/index.ts
  packages/streams/src/writable/types.ts
  packages/streams/tsconfig.json
  packages/streams/tsup.config.ts
  packages/streams/vitest.config.ts
Due: prettier, oxlint, typecheck, build-affected

feat(packages): complete Phase 4 database integration and domain package polish
  packages/cli/package.json
  packages/cli/src/testing/index.ts
  packages/db/src/query/builder.ts
  packages/watcher/src/core.ts
Due: prettier, oxlint, typecheck, build-affected

refactor(cli): remove orphaned configuration system
  packages/web-ui/src/cli/commands/dev-refresh.ts
  packages/web-ui/src/cli/commands/enhance.ts
  packages/web-ui/src/cli/config.ts
  packages/web-ui/src/cli/core/config/__tests__/loader.test.ts
  packages/web-ui/src/cli/core/config/__tests__/schema.test.ts
  packages/web-ui/src/cli/core/types/command-options.ts
  packages/web-ui/src/cli/utils/context.ts
  packages/web-ui/src/cli/utils/types.ts
Due: prettier, oxlint, typecheck, build-affected

chore: remove all unused CLI code and dependencies
  packages/web-ui/package.json
  packages/web-ui/src/cli/core/filesystem/paths.ts
  packages/web-ui/src/cli/prompts/dependencies.ts
  packages/web-ui/src/cli/prompts/installation.ts
  packages/web-ui/src/cli/utils/context.ts
  packages/web-ui/src/cli/utils/types.ts
  pnpm-lock.yaml
Due: prettier, oxlint, typecheck, build-affected

chore: final cleanup of remaining unused code
  packages/web-ui/git-remote-backup.txt
  packages/web-ui/package.json
  packages/web-ui/schema/config.json
  packages/web-ui/src/cli/commands/__tests__/enhance.test.ts
  pnpm-lock.yaml
Due: prettier, oxlint, typecheck, build-affected

chore: remove unused configuration schema and example files
  packages/web-ui/.trailheadrc.json
  packages/web-ui/schema/config.json
Due: prettier, build-affected

feat(transforms): integrate use-client transform into pipeline
  packages/web-ui/src/transforms/format/__tests__/use-client.test.ts
  packages/web-ui/src/transforms/format/use-client.ts
  packages/web-ui/src/transforms/index.ts
Due: prettier, oxlint, typecheck, build-affected

chore: exclude demo directory from test coverage
  packages/web-ui/vitest.config.ts
Due: prettier, oxlint, typecheck, build-affected

fix(transforms): improve catalyst prefix transform robustness
  packages/web-ui/src/transforms/format/prefixing/core.ts
  packages/web-ui/src/transforms/format/prefixing/references.ts
Due: prettier, oxlint, typecheck, build-affected
