Repository trailhead-diy/trailhead: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, oxlint, typecheck, docs-validate, build-affected

Path conditions:
  prettier: any of: **/*.{ts,tsx,js,jsx,json,md}
  oxlint: any of: packages/**/*.{ts,tsx,js,jsx}
  typecheck: any of: **/*.{ts,tsx}
  docs-validate: any of: {docs,packages/**/docs}/**/*.md
  build-affected: any of: **/*.{ts,tsx,js,jsx,json}

fix(vitest-config): add missing @esteban-url/sort alias for test resolution
  tooling/vitest-config/vitest.shared.ts
Due: prettier, typecheck, build-affected

fix(cli): add type assertion for VERSION_REQUIREMENTS indexing
  packages/cli/src/utils/package-manager.ts
Due: prettier, oxlint, typecheck, build-affected

fix(docs): disable problematic core-api plugin to resolve MDX error
  apps/docs/docusaurus.config.ts
  docs/packages/core/api.md
Due: prettier, typecheck, docs-validate, build-affected

chore(scripts): add utilities to fix documentation issues
  scripts/fix-docusaurus-links.js
  scripts/fix-function-declarations.js
Due: prettier, build-affected

feat(docs): add API Reference sections to package sidebars
  apps/docs/sidebars-cli-api.ts
  apps/docs/sidebars-cli.ts
  apps/docs/sidebars-config-api.ts
  apps/docs/sidebars-config.ts
  apps/docs/sidebars-core-api.ts
  apps/docs/sidebars-core.ts
  apps/docs/sidebars-create-cli-api.ts
  apps/docs/sidebars-create-cli.ts
  apps/docs/sidebars-data-api.ts
  apps/docs/sidebars-data.ts
  apps/docs/sidebars-fs-api.ts
  apps/docs/sidebars-fs.ts
  apps/docs/sidebars-validation-api.ts
  apps/docs/sidebars-validation.ts
Due: prettier, typecheck, build-affected

feat(tooling): add TypeDoc API documentation generation
  packages/cli/typedoc.json
  packages/config/typedoc.json
  packages/core/typedoc.json
  packages/create-cli/typedoc.json
  packages/data/typedoc.json
  packages/data/typedoc.tsconfig.json
  packages/fs/typedoc.json
  packages/validation/typedoc.json
  scripts/add-api-docs-config.mjs
  scripts/complete-api-integration.mjs
  scripts/generate-api-docs-v2.mjs
  scripts/generate-api-docs.mjs
  scripts/setup-api-docs-integration.mjs
  typedoc.base.json
  typedoc.json
Due: prettier, build-affected

chore(deps): add TypeDoc and related dependencies
  package.json
  pnpm-lock.yaml
Due: none

fix(tooling): improve link validation for fragment-only links
  tooling/docs-tooling/src/validate-links.ts
Due: prettier, typecheck, build-affected

fix(docs): convert absolute paths to relative in CLAUDE.md
  CLAUDE.md
Due: none

docs(readme): remove outdated demo applications section
  README.md
Due: none

docs(cli): add comprehensive JSDoc to command patterns module
  packages/cli/src/command/patterns.ts
Due: prettier, oxlint, typecheck, build-affected

docs(cli): add JSDoc to command builders module
  packages/cli/src/command/builders.ts
Due: prettier, oxlint, typecheck, build-affected

docs(cli): add JSDoc to git hooks management module
  packages/cli/src/command/git-hooks.ts
Due: prettier, oxlint, typecheck, build-affected

docs(cli): add JSDoc to progress tracking modules
  packages/cli/src/progress/enhanced-tracker.ts
  packages/cli/src/progress/tracker.ts
Due: prettier, oxlint, typecheck, build-affected

docs(cli): add JSDoc to prompts module
  packages/cli/src/prompts/index.ts
Due: prettier, oxlint, typecheck, build-affected

docs(cli): add JSDoc to testing utilities
  packages/cli/src/testing/assertions.ts
  packages/cli/src/testing/context.ts
  packages/cli/src/testing/runner.ts
Due: prettier, oxlint, typecheck, build-affected

docs(cli): add JSDoc to package manager utilities
  packages/cli/src/utils/package-manager.ts
Due: prettier, oxlint, typecheck, build-affected

docs(core): add JSDoc to public API
  packages/core/src/errors/factory.ts
  packages/core/src/errors/types.ts
  packages/core/src/errors/utils.ts
  packages/core/src/functional/async.ts
  packages/core/src/functional/composition.ts
  packages/core/src/index.ts
  packages/core/src/utils/colors.ts
Due: prettier, oxlint, typecheck, build-affected

docs(data): add JSDoc to public API
  packages/data/src/csv/core.ts
  packages/data/src/csv/index.ts
  packages/data/src/csv/types.ts
  packages/data/src/errors.ts
  packages/data/src/excel/core.ts
  packages/data/src/excel/index.ts
  packages/data/src/excel/types.ts
  packages/data/src/index.ts
  packages/data/src/json/core.ts
  packages/data/src/json/index.ts
  packages/data/src/json/types.ts
  packages/data/src/operations.ts
  packages/data/src/types.ts
Due: prettier, oxlint, typecheck, build-affected

docs(fs): add JSDoc to public API
  packages/fs/src/core.ts
  packages/fs/src/errors.ts
  packages/fs/src/index.ts
  packages/fs/src/types.ts
  packages/fs/src/utils/path-utils.ts
Due: prettier, oxlint, typecheck, build-affected

docs(config): add JSDoc to public API
  packages/config/src/core/index.ts
  packages/config/src/core/manager.ts
  packages/config/src/core/operations.ts
  packages/config/src/core/zod-schema.ts
  packages/config/src/docs/index.ts
  packages/config/src/index.ts
  packages/config/src/loaders/operations.ts
  packages/config/src/transformers/operations.ts
  packages/config/src/types.ts
  packages/config/src/validation/index.ts
  packages/config/src/validators/operations.ts
Due: prettier, oxlint, typecheck, build-affected

chore(packages): configure publishConfig for public npm registry
  packages/cli/package.json
  packages/config/package.json
  packages/core/package.json
  packages/create-cli/package.json
  packages/data/package.json
  packages/fs/package.json
  packages/validation/package.json
Due: prettier, build-affected

docs: comprehensive JSDoc enhancement across all packages
  packages/cli/src/index.ts
  packages/cli/src/utils/logger.ts
  packages/cli/src/utils/spinner.ts
  packages/core/src/errors/index.ts
  packages/create-cli/src/index.ts
  packages/data/src/conversion/core.ts
  packages/data/src/testing/format-testing.ts
  packages/fs/src/core.ts
  packages/validation/src/core.ts
  packages/validation/src/schemas.ts
  tooling/docs-tooling/src/validate-docs.ts
  tooling/docs-tooling/src/validate-links.ts
  tooling/vitest-config/vitest.shared.ts
Due: prettier, oxlint, typecheck, build-affected

chore: configure turbo to avoid unnecessary warnings
  apps/docs/turbo.json
  tooling/prettier-config/turbo.json
  tooling/typescript-config/turbo.json
Due: prettier, build-affected

chore: support coverage
  lefthook.yml
  package.json
  packages/config/package.json
  pnpm-lock.yaml
  tooling/scripts-cli/src/cli.ts
  tooling/scripts-cli/src/commands/ci-optimal.ts
  tooling/scripts-cli/src/commands/coverage-check.ts
  tooling/vitest-config/package.json
  tooling/vitest-config/vitest.shared.ts
  turbo.json
Due: prettier, typecheck, build-affected

chore(deps): replace chalk with consola across packages
  packages/cli/package.json
  packages/cli/src/command/git-hooks.ts
  packages/cli/src/command/patterns.ts
  packages/cli/src/utils/chalk.ts
  packages/cli/src/utils/index.ts
  packages/cli/src/utils/logger.ts
  packages/config/package.json
  packages/config/src/validation/formatters.ts
  packages/core/package.json
  packages/core/src/index.ts
  packages/core/src/utils/colors.ts
  packages/core/src/utils/index.ts
  packages/create-cli/package.json
  packages/create-cli/src/lib/cli/prompts.ts
  packages/create-cli/src/lib/config/presets.ts
  packages/create-cli/src/lib/core/generator.ts
  packages/create-cli/src/lib/templates/loader.ts
  packages/create-cli/templates/modules/config/src/commands/config.ts.hbs
  packages/create-cli/templates/modules/core/src/index.ts.hbs
  packages/create-cli/templates/modules/examples/src/commands/build.ts.hbs
  packages/create-cli/templates/modules/examples/src/commands/dev.ts.hbs
  packages/create-cli/templates/modules/validation/src/commands/validate.ts.hbs
  packages/create-cli/templates/shared/bin/cli.js.hbs
  packages/create-cli/templates/shared/package.json.hbs
  packages/create-cli/templates/shared/package.root.json.hbs
  packages/create-cli/templates/shared/tsup.config.ts.hbs
  packages/create-cli/vitest.config.ts
  pnpm-lock.yaml
  tooling/docs-tooling/package.json
  tooling/docs-tooling/src/create-doc.ts
  tooling/docs-tooling/src/fix-links.ts
  tooling/docs-tooling/src/validate-docs.ts
  tooling/docs-tooling/src/validate-links.ts
  tooling/scripts-cli/package.json
  tooling/scripts-cli/src/utils/colors.ts
Due: prettier, oxlint, typecheck, build-affected

chore: code format fixes
  packages/cli/src/utils/package-manager.ts
  pnpm-lock.yaml
  tooling/scripts-cli/src/commands/ci-optimal.ts
  tooling/scripts-cli/src/commands/coverage-check.ts
  tooling/vitest-config/vitest.shared.ts
  typedoc.base.json
  typedoc.json
Due: prettier, oxlint, typecheck, build-affected

fix: resolve TypeScript and lint issues after merge
  packages/cli/src/command/git-hooks.ts
  packages/cli/src/command/patterns.ts
  packages/cli/src/utils/logger.ts
  packages/config/src/validation/formatters.ts
  packages/core/src/utils/index.ts
  packages/fs/src/types.ts
Due: prettier, oxlint, typecheck, build-affected

feat(ci): make coverage checks opt-in
  README.md
  lefthook.yml
  package.json
Due: none

refactor(scripts-cli): rename ci-optimal command to ci
  lefthook.yml
  package.json
  tooling/scripts-cli/scripts/test-commands.sh
  tooling/scripts-cli/scripts/verify-parity.sh
  tooling/scripts-cli/src/cli.ts
  tooling/scripts-cli/src/commands/ci.ts
  tooling/scripts-cli/src/index.ts
Due: prettier, typecheck, build-affected

chore: remove legacy shell scripts after TypeScript CLI migration
  .smart-test-config.json
  packages/cli/src/templates/git-hooks/README.md
  packages/cli/src/templates/git-hooks/smart-test-runner.sh
  packages/create-cli/templates/shared/scripts/README.md
  packages/create-cli/templates/shared/scripts/smart-test-runner.sh
  scripts/smart-test-runner.sh
  scripts/validate-monorepo-deps.sh
Due: prettier

chore(config): update monorepo configuration after CLI migration
  .gitignore
  .oxlintrc.json
  CLAUDE.md
  package.json
  pnpm-lock.yaml
Due: none

chore(github): update CODEOWNERS after CLI migration
  .github/CODEOWNERS
Due: none

fix(hooks): update all scripts-cli references to dev-cli
  lefthook.yml
  packages/cli/src/templates/git-hooks/README.md
  tooling/dev-cli/src/commands/ci/npm-auth.ts
  tooling/dev-cli/src/commands/docs/setup-integration.ts
Due: prettier, typecheck, build-affected

docs(core): add @default tags to error utilities
  packages/core/src/errors/factory.ts
  packages/core/src/errors/utils.ts
Due: prettier, oxlint, typecheck, build-affected

docs(cli): add @internal tags to cache implementations
  packages/cli/src/command/performance.ts
  packages/cli/src/command/validation.ts
Due: prettier, oxlint, typecheck, build-affected

fix(dev-cli): resolve module resolution issue in tests
  tooling/dev-cli/vitest.config.ts
  tooling/vitest-config/vitest.shared.ts
Due: prettier, typecheck, build-affected
