Repository trailhead-diy/trailhead: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, docs-validate, oxlint, typecheck

Path conditions:
  prettier: any of: **/*.{ts,tsx,js,jsx,json,md}
  docs-validate: any of: {docs,packages/**/docs}/**/*.md
  oxlint: any of: packages/**/*.{ts,tsx,js,jsx}
  typecheck: any of: packages/**/*.{ts,tsx}

fix(web-ui): remove duplicate CLI options in install command tests
  packages/web-ui/tests/src/cli/commands/install.test.ts
Due: prettier, oxlint, typecheck

fix: update pnpm-lock.yaml to match package.json
  pnpm-lock.yaml
Due: none

fix(web-ui): remove duplicate CLI options in install command tests (#15)
  packages/web-ui/tests/src/cli/commands/install.test.ts
  pnpm-lock.yaml
Due: prettier, oxlint, typecheck

feat(ci): optimize build pipeline for 50% faster runs and 90% fewer failures
  .github/workflows/reusable-ci.yml
  lefthook.yml
  packages/cli/package.json
  packages/web-ui/package.json
  pnpm-lock.yaml
  turbo.json
Due: prettier

fix(format): apply prettier formatting to turbo.json
  turbo.json
Due: none

feat(web-ui): deep clean codebase for v1.0 release
  packages/web-ui/RELEASE.md
  packages/web-ui/TRANSFORM_REVERT_ISSUES.md
  packages/web-ui/docs/CONTRIBUTING.md
  packages/web-ui/docs/README.md
  packages/web-ui/docs/color-maps/README.md
  packages/web-ui/docs/integration/README.md
  packages/web-ui/docs/testing/README.md
  packages/web-ui/git-remote-backup.txt
  packages/web-ui/package.json
  packages/web-ui/scripts/doctor.ts
  packages/web-ui/scripts/release.sh
  packages/web-ui/src/transforms/API.md
  packages/web-ui/src/transforms/ARCHITECTURE.md
  packages/web-ui/src/transforms/FUNCTIONAL-PRINCIPLES.md
  packages/web-ui/src/transforms/README.md
  packages/web-ui/tests/e2e/fixtures/test-base.ts
  packages/web-ui/tests/e2e/pages/demo-page.ts
  packages/web-ui/tests/e2e/specs/theme-switcher.spec.ts
  packages/web-ui/tests/e2e/tsconfig.json
  packages/web-ui/tests/src/button.test.tsx
  packages/web-ui/tests/src/combobox.test.tsx
  packages/web-ui/tests/src/description-list.test.tsx
  packages/web-ui/tests/src/dialog.test.tsx
  packages/web-ui/tests/src/divider.test.tsx
  packages/web-ui/tests/src/dropdown.test.tsx
  packages/web-ui/tests/src/fieldset.test.tsx
  packages/web-ui/tests/src/listbox.test.tsx
  packages/web-ui/tests/src/navbar.test.tsx
  packages/web-ui/tests/src/pagination.test.tsx
  packages/web-ui/tests/src/select.test.tsx
  packages/web-ui/tests/src/sidebar-layout.test.tsx
  packages/web-ui/tests/src/sidebar.test.tsx
  packages/web-ui/tests/src/stacked-layout.test.tsx
  packages/web-ui/tests/src/table.test.tsx
  packages/web-ui/tests/utils/console.ts
  packages/web-ui/tests/utils/cross-platform-paths.ts
  packages/web-ui/tests/utils/index.ts
  packages/web-ui/tests/utils/mock-filesystem.ts
  packages/web-ui/trailhead.config.example.ts
  packages/web-ui/vitest.future.config.ts
Due: prettier, docs-validate, oxlint, typecheck

fix: update pnpm-lock.yaml to match package.json changes
  pnpm-lock.yaml
Due: none

chore(cli): deep clean codebase for v1.0 release
  packages/cli/Runtime-Issue.md
  packages/cli/docs/tutorials/migration-guide.md
  packages/cli/examples/__tests__/advanced-cli.test.ts
  packages/cli/examples/__tests__/basic-cli.test.ts
  packages/cli/examples/__tests__/error-scenarios.test.ts
  packages/cli/examples/__tests__/interactive-cli.test.ts
  packages/cli/examples/__tests__/performance.test.ts
  packages/cli/examples/__tests__/project-examples-deep.test.ts
  packages/cli/examples/__tests__/project-examples-smoke.test.ts
  packages/cli/examples/advanced-cli.ts
  packages/cli/examples/basic-cli.ts
  packages/cli/examples/interactive-cli.ts
  packages/cli/examples/make-standalone.sh
  packages/cli/examples/package-manager-example.ts
  packages/cli/examples/performance-results.json
  packages/cli/examples/retry-advanced.ts
  packages/cli/examples/standalone-tsconfig.json
  packages/cli/examples/test-empty.txt.processed
  packages/cli/examples/test-our-retry.ts
  packages/cli/examples/test-retry-debug.ts
  packages/cli/examples/test-retry.ts
  packages/cli/src/testing/filesystem-edge-cases.test.ts
  packages/cli/src/testing/filesystem-performance.test.ts
  packages/cli/test-undefined.cjs
  packages/cli/tests/src/core/command/base.test.ts
  packages/cli/tests/src/core/errors/handlers.test.ts
  packages/cli/tests/src/core/validation/domain.test.ts
  packages/cli/tests/src/core/validation/pipeline.test.ts
  packages/cli/tests/test-utils/cross-platform-paths.ts
  packages/cli/tests/testing/cross-platform-example.test.ts
Due: prettier, docs-validate, oxlint, typecheck

feat(ci): optimize build pipeline for 50% faster runs and 90% fewer failures (#26)
  .github/workflows/reusable-ci.yml
  lefthook.yml
  packages/cli/package.json
  packages/web-ui/package.json
  pnpm-lock.yaml
  turbo.json
Due: prettier

fix(cli): resolve CI test failures across platforms
  packages/cli/package.json
  packages/cli/src/testing/filesystem-edge-cases.test.ts
  packages/cli/src/testing/filesystem-performance.test.ts
Due: prettier, oxlint, typecheck

fix(cli): resolve CI test failures across platforms (#29)
  packages/cli/package.json
  packages/cli/src/testing/filesystem-edge-cases.test.ts
  packages/cli/src/testing/filesystem-performance.test.ts
Due: prettier, oxlint, typecheck

fix(web-ui): change dev:refresh to dev-refresh for command name validation
  packages/web-ui/src/cli/commands/dev-refresh.ts
Due: prettier, oxlint, typecheck

fix(web-ui): change dev:refresh to dev-refresh for command name validation (#30)
  packages/web-ui/src/cli/commands/dev-refresh.ts
Due: prettier, oxlint, typecheck

fix(ci): resolve pnpm version mismatch and CLI verbose conflict
  .github/workflows/cli-examples.yml
  .github/workflows/dependency-review.yml
  .github/workflows/release.yml
  packages/cli/src/cli.ts
Due: prettier, oxlint, typecheck

fix(ci): resolve pnpm version mismatch and CLI verbose conflict (#31)
  .github/workflows/cli-examples.yml
  .github/workflows/dependency-review.yml
  .github/workflows/release.yml
  packages/cli/src/cli.ts
Due: prettier, oxlint, typecheck

fix(hooks): resolve commitlint parameter passing in lefthook
  lefthook.yml
Due: none

fix(hooks): resolve commitlint parameter passing in lefthook (#32)
  lefthook.yml
Due: none

chore: remove unused release workflow file
  .github/workflows/release.yml
Due: none

chore: remove unused release workflow file (#33)
  .github/workflows/release.yml
Due: none

ci: add workflow to cleanup PR caches automatically
  .github/workflows/cleant-cache.yml
Due: none

ci: add workflow to cleanup PR caches automatically (#34)
  .github/workflows/cleant-cache.yml
Due: none

docs: add askq shortcut for clarifying questions
  CLAUDE.md
Due: none

refactor(cli): standardize test organization to colocation pattern
  packages/cli/Runtime-Issue.md
  packages/cli/src/command/__tests__/api.test.ts
  packages/cli/src/core/validation/__tests__/domain.test.ts
  packages/cli/src/core/validation/__tests__/pipeline.test.ts
  packages/cli/src/testing/__tests__/cross-platform-example.test.ts
  packages/cli/src/testing/__tests__/integration/filesystem-edge-cases.test.ts
  packages/cli/src/testing/__tests__/performance/filesystem-performance.test.ts
  packages/cli/src/testing/test-utils/cross-platform-paths.ts
  packages/cli/tests/src/core/errors/handlers.test.ts
  packages/cli/vitest.config.ts
Due: prettier, oxlint, typecheck

fix(cli): resolve lint warnings and unused imports
  CLAUDE.md
  packages/cli/src/__tests__/cli-integration.test.ts
  packages/cli/src/__tests__/cli.test.ts
  packages/cli/src/command/__tests__/base.test.ts
  packages/cli/src/command/base.ts
  packages/cli/src/core/__tests__/logger.test.ts
  packages/cli/src/core/errors/__tests__/handlers.test.ts
  packages/cli/src/core/errors/retry-advanced.ts
  packages/cli/src/filesystem/__tests__/file-utils.test.ts
  packages/cli/src/filesystem/__tests__/filesystem.test.ts
  packages/cli/src/filesystem/memory.ts
  packages/cli/src/filesystem/node.ts
  packages/cli/src/testing/interactive.ts
  packages/cli/src/testing/performance.ts
  packages/cli/src/utils/__tests__/chalk.test.ts
  packages/cli/src/utils/__tests__/spinner.test.ts
  packages/cli/src/utils/__tests__/stats.test.ts
  turbo.json
Due: prettier, oxlint, typecheck

docs: add fixlint shortcut and enhance gcwm/gbcp workflow
  CLAUDE.md
Due: none

refactor(cli): standardize test organization to colocation pattern
  CLAUDE.md
  packages/cli/Runtime-Issue.md
  packages/cli/src/__tests__/cli-integration.test.ts
  packages/cli/src/__tests__/cli.test.ts
  packages/cli/src/command/__tests__/api.test.ts
  packages/cli/src/command/__tests__/base.test.ts
  packages/cli/src/command/base.ts
  packages/cli/src/core/__tests__/logger.test.ts
  packages/cli/src/core/errors/__tests__/handlers.test.ts
  packages/cli/src/core/errors/retry-advanced.ts
  packages/cli/src/core/validation/__tests__/domain.test.ts
  packages/cli/src/core/validation/__tests__/pipeline.test.ts
  packages/cli/src/filesystem/__tests__/file-utils.test.ts
  packages/cli/src/filesystem/__tests__/filesystem.test.ts
  packages/cli/src/filesystem/memory.ts
  packages/cli/src/filesystem/node.ts
  packages/cli/src/testing/__tests__/cross-platform-example.test.ts
  packages/cli/src/testing/__tests__/integration/filesystem-edge-cases.test.ts
  packages/cli/src/testing/__tests__/performance/filesystem-performance.test.ts
  packages/cli/src/testing/interactive.ts
  packages/cli/src/testing/performance.ts
  packages/cli/src/testing/test-utils/cross-platform-paths.ts
  packages/cli/src/utils/__tests__/chalk.test.ts
  packages/cli/src/utils/__tests__/spinner.test.ts
  packages/cli/src/utils/__tests__/stats.test.ts
  packages/cli/tests/src/core/errors/handlers.test.ts
  packages/cli/vitest.config.ts
  pnpm-lock.yaml
  turbo.json
Due: prettier, oxlint, typecheck

refactor(cli): standardize test organization to colocation pattern
  CLAUDE.md
  packages/cli/src/__tests__/cli-integration.test.ts
  packages/cli/src/__tests__/cli.test.ts
  packages/cli/src/command/__tests__/base.test.ts
  packages/cli/src/command/base.ts
  packages/cli/src/core/__tests__/logger.test.ts
  packages/cli/src/core/errors/__tests__/handlers.test.ts
  packages/cli/src/core/errors/retry-advanced.ts
  packages/cli/src/filesystem/__tests__/file-utils.test.ts
  packages/cli/src/filesystem/__tests__/filesystem.test.ts
  packages/cli/src/filesystem/memory.ts
  packages/cli/src/filesystem/node.ts
  packages/cli/src/testing/interactive.ts
  packages/cli/src/testing/performance.ts
  packages/cli/src/utils/__tests__/chalk.test.ts
  packages/cli/src/utils/__tests__/spinner.test.ts
  packages/cli/src/utils/__tests__/stats.test.ts
  turbo.json
Due: prettier, oxlint, typecheck

fix(cli): update git module tests to use correct Result type API
  packages/cli/src/git/__tests__/branch-sync.test.ts
  packages/cli/src/git/__tests__/git-command.test.ts
  packages/cli/src/git/__tests__/status.test.ts
Due: prettier, oxlint, typecheck

feat(cli): add git utilities module with branch sync checking
  CLAUDE.md
  lefthook.yml
  packages/cli/package.json
  packages/cli/src/git/__tests__/branch-sync.test.ts
  packages/cli/src/git/__tests__/git-command.test.ts
  packages/cli/src/git/__tests__/status.test.ts
  packages/cli/src/git/branch-sync.ts
  packages/cli/src/git/errors.ts
  packages/cli/src/git/git-command.ts
  packages/cli/src/git/index.ts
  packages/cli/src/git/merge-base.ts
  packages/cli/src/git/status.ts
  packages/cli/src/git/types.ts
  packages/cli/tsup.config.ts
Due: prettier, oxlint, typecheck

feat(cli): add high-ROI git integration tests
  packages/cli/src/git/__tests__/integration.test.ts
Due: prettier, oxlint, typecheck

feat(cli): comprehensive git utilities with branch sync validation (#40)
  CLAUDE.md
  lefthook.yml
  packages/cli/package.json
  packages/cli/src/git/__tests__/branch-sync.test.ts
  packages/cli/src/git/__tests__/git-command.test.ts
  packages/cli/src/git/__tests__/integration.test.ts
  packages/cli/src/git/__tests__/status.test.ts
  packages/cli/src/git/branch-sync.ts
  packages/cli/src/git/errors.ts
  packages/cli/src/git/git-command.ts
  packages/cli/src/git/index.ts
  packages/cli/src/git/merge-base.ts
  packages/cli/src/git/status.ts
  packages/cli/src/git/types.ts
  packages/cli/tsup.config.ts
Due: prettier, oxlint, typecheck

fix(cli): handle Windows-specific git error messages in tests
  packages/cli/src/git/__tests__/integration.test.ts
  packages/cli/src/git/branch-sync.ts
  packages/cli/src/git/git-command.ts
  packages/cli/src/git/merge-base.ts
  packages/cli/src/git/status.ts
Due: prettier, oxlint, typecheck

fix(cli): handle Windows-specific git error messages in tests (#41)
  packages/cli/src/git/__tests__/integration.test.ts
  packages/cli/src/git/branch-sync.ts
  packages/cli/src/git/git-command.ts
  packages/cli/src/git/merge-base.ts
  packages/cli/src/git/status.ts
Due: prettier, oxlint, typecheck

chore: cleanup build artifacts and remove console statements
  .gitignore
  packages/web-ui/src/components/theme/registry.ts
  packages/web-ui/src/components/theme/theme-provider.tsx
Due: prettier, oxlint, typecheck

chore: cleanup build artifacts and remove console statements (#42)
  .gitignore
  packages/web-ui/src/components/theme/registry.ts
  packages/web-ui/src/components/theme/theme-provider.tsx
Due: prettier, oxlint, typecheck

fix(web-ui): improve theme registry error handling and logging
  packages/web-ui/src/components/theme/registry.ts
Due: prettier, oxlint, typecheck

fix: improve error handling and fix lint warnings
  packages/cli/examples/__tests__/performance.test.ts
  packages/web-ui/src/components/theme/theme-provider.tsx
Due: prettier, oxlint, typecheck
